<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Welcome to YAPCA</title>
</head>

<body>
    <p>Hello {{ displayName }}!</p>
    <p>An admin has requested that you reset your two factor authentication (2FA) device. Please follow the instructions
        below to change your device.</p>
    </br>

    {% if app_version_exists %}
    {% include "email/how-to-base/how-to-base.html" %}

    <p style="margin-left: 40px;">2. To reset your password <a
            href="https://star-man.gitlab.io/yapca-site/#/uri-linker?address={{ server_address }}&action={{ action }}&code={{ temp_code }}&username={{ username }}"
            style="position: relative; display: inline; margin: 0px; padding: 0; overflow: hidden; border-width: 0; outline: none; width: 110px; border-radius: 2px; box-shadow: 0 1px 4px rgba(0, 0, 0, .6); background-color: #2ecc71; color: #ecf0f1; text-decoration: none;"><span>Click
                Here</span></a></p>


    <p style="margin-left: 80px; color: #888888;">If you're having trouble with the link above, login normally, then
        where
        you type in the 2FA code click "An Admin Reset My Device" and in the next page enter the temporary code:
        <code>{{ temp_code }}</code>
        </br>
    {% endif %}

    {% if web_version_exists %}
    <p>How to for YAPCA web version:
    <p style="margin-left: 40px;">If you access yapca through a browser, <a
            href="{{ frontend_address }}temp-code?action={{ action }}&code={{ temp_code }}&username={{ username }}"
            style="position: relative; display: inline; margin: 0px; padding: 0; overflow: hidden; border-width: 0; outline: none; width: 110px; border-radius: 2px; box-shadow: 0 1px 4px rgba(0, 0, 0, .6); background-color: #2ecc71; color: #ecf0f1; text-decoration: none;"><span>Click
                Here</span></a></p>
    </br>
    {% endif %}


    </br>
    <p><strong>The window to reset your password will end: {{ expiry_time|date:'H:i M d' }}. If the time expires you
            will have to request another code.</strong></p>

    <p><strong>If you did not request to have your 2FA devicereset contact an admin as soon as you can.</strong></p>
    {% include "email/footer/footer.html" %}
</body>

</html>