<template>
  <div :class="`navBar ${clipClass}`" style="position: fixed; bottom: 0">
    <q-toolbar id="centreNavBar" class="full-width bg-primary text-white">
      <q-tabs v-model="tabs" stretch inline-label dense class="full-width">
        <q-route-tab
          id="createCentreButton"
          :icon="mdiHomePlus"
          label="Add New Centre"
          :to="{
            name: 'centreSetup',
            query: {
              nextUrl: $router.currentRoute.value.fullPath
            }
          }"
          exact
        />
        <template v-for="centre in incompleteCentres" :key="centre.id">
          <q-tab
            class="finishCentreButton"
            :icon="mdiHomeEdit"
            :label="`Finish setting up ${centre.name}`"
            @click="goToCentreSetup(centre)"
          />
          <q-tab
            :icon="mdiHomeRemove"
            :label="`Cancel setting up ${centre.name}`"
            class="finishCentreButton"
            @click="
              selectedDeletionCentreId = centre.id;
              showDeleteCentreConfirmDialog = true;
            "
          />
        </template>
      </q-tabs>
    </q-toolbar>
    <dialog-card
      v-if="
        selectedDeletionCentreId &&
        centreStore.centres[selectedDeletionCentreId]
      "
      dialog-id="deleteConfirmDialog"
      :card-title="`Delete ${centreStore.centres[selectedDeletionCentreId].name}?`"
      :prop-show-dialog="showDeleteCentreConfirmDialog"
      @set-dialog="setDeleteCentreConfirmDialog"
    >
      <delete-confirm-dialog
        :id="selectedDeletionCentreId"
        name="centre"
        description="centre"
        @close-dialog="closeDialog"
      />
    </dialog-card>
  </div>
</template>

<script lang="ts" setup>
import { mdiHomeEdit, mdiHomePlus, mdiHomeRemove } from '@mdi/js';
import { useCentreStore } from 'src/stores/centresStore';
import { computed, ref } from 'vue';
import { useRouter } from 'vue-router';
import isXs from 'src/functions/common/isXs';
import DeleteConfirmDialog from 'src/components/ui/DeleteConfirmDialog.vue';
import DialogCard from 'src/components/ui/DialogCard.vue';
import type { NavigationFailure } from 'vue-router';
import type Centre from 'src/types/Centre';

const centreStore = useCentreStore();
const router = useRouter();
const selectedDeletionCentreId = ref<number | null>(null);
const showDeleteCentreConfirmDialog = ref(false);
const tabs = ref('');

const closeDialog = (): void => {
  showDeleteCentreConfirmDialog.value = false;
};

const incompleteCentres = computed(() => {
  return Object.keys(centreStore.centres)
    .map(centreKey => centreStore.centres[centreKey])
    .filter(centre => !centre.setupComplete);
});

const goToCentreSetup = (
  centre: Centre
): Promise<void | NavigationFailure | undefined> => {
  centreStore.setSetupCentre(centre);
  return router.push({
    name: 'centreSetup',
    query: {
      nextUrl: router.currentRoute.value.fullPath
    }
  });
};

const clipClass = computed(() => {
  if (isXs.value) {
    return '';
  }
  return 'sidebarPush';
});

const setDeleteCentreConfirmDialog = (newValue: boolean): void => {
  showDeleteCentreConfirmDialog.value = newValue;
};
</script>
<style>
.sidebarPush {
  padding-left: 80px; /* Push past the nav drawer */
  padding-right: 100px;
}
.navBar {
  position: fixed;
  bottom: 0;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}
</style>
