<template>
  <div
    v-if="props.selectedCentreId"
    class="row"
    dense
    justify="center"
    no-gutters
    @click="setCentreNameEditingStatusTrue"
  >
    <div class="col">
      <div
        v-if="!centreStore.centres[props.selectedCentreId].editingCentreName"
        class="centreTitleText"
      >
        {{ centreStore.centres[props.selectedCentreId].name }}
      </div>

      <q-input
        v-if="
          props.selectedCentreId &&
          centreStore.centres[props.selectedCentreId].editingCentreName
        "
        v-model="centreName"
        for="centreHeaderNameInput"
        :rules="centreNameRules"
        dark
        class="centreNameInput headline"
        color="white"
        label="Centre Name"
        required
        autofocus
        @blur="validateCentre"
        @keyup.enter="validateCentre"
      />
    </div>
  </div>
</template>
<script lang="ts" setup>
import isAdmin from 'src/functions/auth/isAdmin';
import { useCentreStore } from 'src/stores/centresStore';
import { computed, ref, watch } from 'vue';
import updateCentre from 'src/functions/centre/updateCentre';
import type Centre from 'src/types/Centre';

interface Props {
  selectedCentreId: number | undefined;
}
const props = withDefaults(defineProps<Props>(), {
  selectedCentreId: undefined
});

const centreName = ref('');

const centreStore = useCentreStore();

const validateCentre = async (): Promise<void> => {
  if (
    props.selectedCentreId &&
    props.selectedCentreId in centreStore.centres &&
    centreNameValid.value
  ) {
    const centreToValidate = centreStore.centres[props.selectedCentreId];
    centreStore.centres[props.selectedCentreId].name = centreName.value;
    await updateCentre(centreToValidate);
    context.updateCentreNameEditingStatus(false);
  }
};

const centreNameRules = [
  (nameValue: string): boolean | 'Centre name must be unique' =>
    uniqueRule(nameValue),
  (nameValue: string): true | "Centre name can't be blank" =>
    !!nameValue || "Centre name can't be blank"
];

const updateCentreNameEditingStatus = (status: boolean): void => {
  if (
    isAdmin.value &&
    props.selectedCentreId &&
    props.selectedCentreId in centreStore.centres
  ) {
    centreStore.centres[props.selectedCentreId].editingCentreName = status;
  }
};

const centreNameValid = computed(() => {
  return uniqueRule(centreName.value) === true && !!centreName.value;
});

const uniqueRule = (value: string): boolean | 'Centre name must be unique' => {
  if (props.selectedCentreId && props.selectedCentreId in centreStore.centres) {
    const centreToCheck = centreStore.centres[props.selectedCentreId];
    return (
      Object.keys(centreStore.centres)
        .map(centreKey => centreStore.centres[centreKey])
        .filter((storeCentre: Centre) => storeCentre.id !== centreToCheck.id)
        .filter((storeCentre: Centre) => storeCentre.name === value).length ===
        0 || 'Centre name must be unique'
    );
  }
  return false;
};

const storeCentreName = computed(() => {
  if (props.selectedCentreId && props.selectedCentreId in centreStore.centres) {
    return centreStore.centres[props.selectedCentreId].name;
  }
  return '';
});

watch(
  storeCentreName,
  () => {
    centreName.value = storeCentreName.value;
  },
  { immediate: true }
);

const setCentreNameEditingStatusTrue = (): void =>
  updateCentreNameEditingStatus(true);

const context = {
  updateCentreNameEditingStatus
};
</script>
