<template>
  <div>
    <div v-if="clientId" class="row">
      <div
        v-for="(row, index) in clientData"
        :key="row.value"
        :class="`q-pa-sm col-12 col-sm-${
          index === clientData.length - 1 && clientData.length % 2 !== 0
            ? '12'
            : '6'
        }`"
      >
        <q-input
          v-if="row.textAreaValue && props.clientId"
          v-model="clientStore.clients[props.clientId][row.textAreaValue]"
          type="textarea"
          :for="`${row.textAreaValue}Input`"
          :label="row.text"
          class="clientFieldEdit"
          @blur="updateFieldFromRowBlur"
        >
          <template #prepend>
            <q-icon :name="row.icon" />
          </template>
        </q-input>

        <q-item v-if="row.booleanValue" class="clientFieldEdit" tag="label">
          <q-item-section avatar>
            <q-checkbox
              v-if="row.booleanValue && props.clientId"
              :id="`${row.booleanValue}Input`"
              :model-value="
                clientStore.clients[props.clientId][row.booleanValue]
              "
              :checked-icon="row.icon"
              :unchecked-icon="row.iconUnfilled"
              @update:model-value="
                updateCheckboxFromRow($event, row.booleanValue)
              "
            />
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ row.text }}</q-item-label>
            <q-item-label caption>{{ row.description }}</q-item-label>
          </q-item-section>
        </q-item>

        <q-select
          v-if="row.value === 'feedingRisks'"
          id="feedingRisksInput"
          :model-value="feedingRisks"
          filled
          :options="feedingRiskChoices"
          label="Feeding Risks"
          class="clientFieldEdit"
          multiple
          emit-value
          use-chips
          map-options
          @update:model-value="updateFeedingRisks"
        >
          <template #option="{ itemProps, opt, selected, toggleOption }">
            <q-item v-bind="itemProps">
              <q-item-section>
                <q-item-label>{{ opt.label }}</q-item-label>
              </q-item-section>
              <q-item-section side>
                <q-toggle
                  :model-value="selected"
                  @update:model-value="toggleOption(opt)"
                />
              </q-item-section>
            </q-item>
          </template>
        </q-select>

        <q-item
          v-if="
            row.sliderValue &&
            typeof clientStore.clients[clientId][row.sliderValue] === 'number'
          "
          class="q-mb-lg clientFieldEdit"
        >
          <q-item-section avatar>
            <q-icon color="primary" :name="row.icon" />
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ row.text }}</q-item-label>
            <q-slider
              :id="`${row.sliderValue}Input`"
              v-model="clientStore.clients[clientId][row.sliderValue]"
              color="primary"
              markers
              snap
              label
              label-always
              switch-label-side
              :max="row.max"
              :min="row.min"
              @change="updateSlider"
            />
          </q-item-section>
        </q-item>
      </div>
    </div>
    <q-btn id="clientDietSubmit" color="primary" @click="finishDietSetup"
      >Continue</q-btn
    >
  </div>
</template>
<script lang="ts" setup>
import {
  mdiAllergy,
  mdiFoodApple,
  mdiFoodAppleOutline,
  mdiFoodOff,
  mdiHandHeart,
  mdiNumeric5BoxMultiple
} from '@mdi/js';
import { useBasicStore } from 'src/stores/basicStore';
import { useClientStore } from 'src/stores/clientsStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import { computed, ref, watch } from 'vue';
import updateField from 'src/functions/client/updateField';
import type { AxiosResponse } from 'axios';
import type FeedingRisk from 'src/types/FeedingRIsk';
import type Client from 'src/types/Client';

interface Props {
  clientId?: number;
}
const props = withDefaults(defineProps<Props>(), {
  clientId: undefined
});
const emit = defineEmits(['update-step']);

const clientStore = useClientStore();
const basicStore = useBasicStore();

const finishDietSetup = (): Promise<void> | null => {
  if (props.clientId) {
    const clientId = props.clientId;
    return basicStore.http
      .patch(`clients/${props.clientId}/update/`, {
        dietSetup: true
      })
      .then(() => {
        clientStore.setSetupClient(clientStore.clients[clientId]);
        emit('update-step', 6);
      })
      .catch(axiosFailed);
  }
  return null;
};
const feedingRisks = ref<string[]>([]);

const feedingRiskChoices = [
  { label: 'Chewing', value: 'Chewing' },
  { label: 'Swallowing', value: 'Swallowing' },
  { label: 'Poor Appetite', value: 'Poor Appetite' }
];

const feedingRisksModel = (): void => {
  if (props.clientId) {
    updateFeedingRisksModel(props.clientId);
  }
};

const updateFeedingRisksModel = (clientId: number): void => {
  if (clientStore.clients[clientId].feedingRisks) {
    const clientFeedingRisks = clientStore.clients[clientId]
      .feedingRisks as FeedingRisk[];
    feedingRisks.value = clientFeedingRisks.map(
      (feedingRisk: FeedingRisk) => feedingRisk.feedingRisk
    );
  } else {
    feedingRisks.value = [];
  }
};

const updateFeedingRisks = (
  newFeedingRisks: string[]
): Promise<void | AxiosResponse> | null => {
  if (props.clientId) {
    const clientId = props.clientId;
    let mappedFeedingRisks = [{ client: clientId }];
    mappedFeedingRisks = newFeedingRisks.map(feedingRisk => {
      return {
        feedingRisk,
        client: clientId
      };
    });

    return basicStore.http
      .post(`feedingRisks/${clientId}/`, mappedFeedingRisks)
      .catch(axiosFailed);
  }
  return null;
};

const storeFeedingRisks = computed(() => {
  if (props.clientId) {
    return clientStore.clients[props.clientId].feedingRisks;
  }
  return [];
});

const clientFirstName = computed(() => {
  if (props.clientId) {
    return clientStore.clients[props.clientId].firstName;
  }
  return '';
});

watch(storeFeedingRisks, () => {
  return feedingRisksModel();
});

const clientData: {
  value?: string;
  icon: string;
  textAreaValue?: 'intolerances' | 'allergies';
  booleanValue?: 'requiresAssistanceEating';
  text?: string;
  fieldType?: string;
  min?: number;
  max?: number;
  iconUnfilled?: string;
  description?: string;
  sliderValue?: 'thicknerGrade';
}[] = [
  {
    value: 'feedingRisks',
    icon: mdiHandHeart
  },
  {
    text: 'Requires Assistance Eating',
    description: `Does ${clientFirstName.value} require assistance eating?`,
    booleanValue: 'requiresAssistanceEating',
    fieldType: 'boolean',
    icon: mdiFoodApple,
    iconUnfilled: mdiFoodAppleOutline
  },
  {
    text: 'Allergies',
    textAreaValue: 'allergies',
    fieldType: 'textArea',
    icon: mdiAllergy
  },
  {
    text: 'Intolerances',
    textAreaValue: 'intolerances',
    fieldType: 'textArea',
    icon: mdiFoodOff
  },

  {
    text: 'Thickner Grade',
    sliderValue: 'thicknerGrade',
    icon: mdiNumeric5BoxMultiple,
    min: 0,
    max: 5
  }
];

const context = {
  updateField
};

const updateFieldFromRowBlur = (
  event: Event
): Promise<void | AxiosResponse> | null => {
  if (props.clientId) {
    const input = event.target as HTMLInputElement;
    const rowValue = input.id.slice(0, -5) as keyof Client;
    const fieldValue = clientStore.clients[props.clientId][rowValue] as
      | boolean
      | string;
    return context.updateField(fieldValue, rowValue, props.clientId);
  }
  return null;
};

const updateCheckboxFromRow = (
  newValue: boolean,
  rowValue: keyof Client | undefined
): Promise<void | AxiosResponse> | null => {
  if (rowValue && props.clientId) {
    (clientStore.clients[props.clientId][rowValue] as boolean) = newValue;
    return updateFieldFromRow(rowValue);
  }
  return null;
};

const updateFieldFromRow = (
  rowValue: keyof Client
): Promise<void | AxiosResponse> | null => {
  if (props.clientId) {
    const fieldValue = clientStore.clients[props.clientId][rowValue] as
      | boolean
      | string;
    return context.updateField(fieldValue, rowValue, props.clientId);
  }
  return null;
};

const updateSlider = (): Promise<void | AxiosResponse> | null => {
  if (props.clientId) {
    const fieldValue = clientStore.clients[props.clientId].thicknerGrade;
    return context.updateField(fieldValue, 'thicknerGrade', props.clientId);
  }
  return null;
};
feedingRisksModel();
</script>
