<template>
  <div>
    <q-card class="ma-5" flat>
      <div v-for="(needInput, index) in needInputs" :key="index">
        <q-input
          :ref="`needInput-${index}`"
          v-model="needInput.description"
          :for="`needInput-${index}`"
          :append-icon="needInputs.length > 1 ? mdiDelete : null"
          auto-grow
          no-resize
          type="textarea"
          rows="1"
          autofocus
          @click:append="removeNeedField(index)"
        />
      </div>
      <div class="text-center">
        <q-btn
          id="addNeedButton"
          rounded
          class="mr-auto ml-auto"
          color="primary"
          small
          @click="addNeedField()"
          >Add Another</q-btn
        >
      </div>
    </q-card>
    <q-btn id="needsSubmitButton" color="primary" @click="validateNeeds"
      >Continue</q-btn
    >
    <q-dialog :model-value="noNeedConfirmDialog">
      <q-card>
        <q-card-section class="bg-primary text-white">
          <div id="noNeedConfirmDialogHeader" class="text-h6 text-center">
            Continue with no needs?
          </div>
        </q-card-section>

        <q-card-section> Needs can still be added in later </q-card-section>

        <q-card-actions>
          <q-separator />

          <q-btn
            id="noNeedDialogGoBackButton"
            text
            @click="noNeedConfirmDialog = false"
          >
            Go Back
          </q-btn>

          <q-btn
            id="noNeedDialogContinueButton"
            text
            @click="createNeedsSuccessful([])"
          >
            Continue
          </q-btn>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script lang="ts" setup>
import { mdiDelete } from '@mdi/js';
import { ref } from 'vue';
import { useBasicStore } from 'src/stores/basicStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import { useCentreStore } from 'src/stores/centresStore';
import type CustomAxiosError from 'src/types/CustomAxiosError';
import type NeedsResponse from 'src/types/axios/NeedsResponse';
import type Centre from 'src/types/Centre';
import type Need from 'src/types/Need';
const basicStore = useBasicStore();
const centreStore = useCentreStore();
const emit = defineEmits(['update-centre']);
const needInputs = ref([
  {
    description: ''
  }
]);

const noNeedConfirmDialog = ref(false);

const needs = ref([
  {
    description: ''
  }
]);

const addNeedField = (): void => {
  needInputs.value.push({ description: '' });
};

const removeNeedField = (index: number): void => {
  needInputs.value.splice(index, 1);
};

const validateNeeds = async (): Promise<void> => {
  needs.value = needInputs.value.filter(needInput => needInput.description);
  if (needs.value.length > 0) {
    await context.createNeeds();
  } else {
    noNeedConfirmDialog.value = true;
  }
};

const createNeeds = (): Promise<void> => {
  return basicStore.http
    .post('needs/', needs.value)
    .then((response: NeedsResponse) =>
      context.createNeedsSuccessful(response.data)
    )
    .catch((err: CustomAxiosError) => axiosFailed(err));
};

const createNeedsSuccessful = (data: Need[]): void => {
  const centre = centreStore.setupCentre as Partial<Centre>;
  delete centre.openingDays;
  delete centre.policies;
  centre.needs = data.map(need => need.id);
  centre.needsFirstSetupComplete = true;
  centre.setupComplete = true;
  context.emit('update-centre', centre);
};

const context = {
  createNeeds,
  createNeedsSuccessful,
  emit
};
</script>
