<template>
  <div>
    <q-card class="ma-5" flat>
      <div v-for="(policyInput, index) in policyInputs" :key="index">
        <q-input
          :ref="`policyInput-${index}`"
          v-model="policyInput.description"
          :for="`policyInput-${index}`"
          :append-icon="policyInputs.length > 1 ? mdiDelete : null"
          auto-grow
          no-resize
          rows="1"
          type="textarea"
          autofocus
          @click:append="removePolicyField(index)"
        />
      </div>
      <div class="text-center">
        <q-btn
          id="addPolicyButton"
          rounded
          class="mr-auto ml-auto"
          color="primary"
          small
          @click="addPolicyField()"
          >Add Another</q-btn
        >
      </div>
    </q-card>
    <q-btn id="policiesSubmitButton" color="primary" @click="validatePolicies"
      >Continue</q-btn
    >
    <q-dialog :model-value="noPolicyConfirmDialog">
      <q-card>
        <q-card-section class="bg-primary text-white">
          <div id="noPolicyConfirmDialogHeader" class="text-h6 text-center">
            Continue with no policies?
          </div>
        </q-card-section>
        <q-card-section> Policies can still be added in later </q-card-section>

        <q-card-actions>
          <q-separator />

          <q-btn
            id="noPolicyDialogGoBackButton"
            text
            @click="noPolicyConfirmDialog = false"
          >
            Go Back
          </q-btn>

          <q-btn
            id="noPolicyDialogContinueButton"
            text
            @click="createPoliciesSuccessful([])"
          >
            Continue
          </q-btn>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script lang="ts" setup>
import { mdiDelete } from '@mdi/js';
import { ref } from 'vue';
import { useBasicStore } from 'src/stores/basicStore';
import { useCentreStore } from 'src/stores/centresStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import type CustomAxiosError from 'src/types/CustomAxiosError';
import type PoliciesResponse from 'src/types/axios/PoliciesResponse';
import type Centre from 'src/types/Centre';
import type Policy from 'src/types/Policy';
const basicStore = useBasicStore();
const centreStore = useCentreStore();
const emit = defineEmits(['update-centre']);

const policyInputs = ref([
  {
    description: ''
  }
]);

const noPolicyConfirmDialog = ref(false);

const policies = ref([
  {
    description: ''
  }
]);

const addPolicyField = (): void => {
  policyInputs.value.push({ description: '' });
};

const removePolicyField = (index: number): void => {
  policyInputs.value.splice(index, 1);
};

const validatePolicies = async (): Promise<void> => {
  policies.value = policyInputs.value.filter(
    policyInput => policyInput.description
  );
  if (policies.value.length > 0) {
    await context.createPolicies();
  } else {
    noPolicyConfirmDialog.value = true;
  }
};

const createPolicies = (): Promise<void> => {
  return basicStore.http
    .post('policies/', policies.value)
    .then((response: PoliciesResponse) =>
      context.createPoliciesSuccessful(response.data)
    )
    .catch((err: CustomAxiosError) => axiosFailed(err));
};

const createPoliciesSuccessful = (data: Policy[]): void => {
  const centre = centreStore.setupCentre as Partial<Centre>;
  delete centre.openingDays;
  delete centre.needs;
  centre.policies = data.map(policy => policy.id);
  centre.policiesFirstSetupComplete = true;
  context.emit('update-centre', centre);
};

const context = {
  createPolicies,
  createPoliciesSuccessful,
  emit
};
</script>
