<template>
  <div :class="`navBar ${clipClass}`" style="position: fixed; bottom: 0">
    <q-toolbar id="clientNavBar" class="full-width bg-primary text-white">
      <q-tabs v-model="tabs" stretch inline-label dense class="full-width">
        <q-tab
          id="createClientButton"
          :icon="mdiHomePlus"
          label="Add New Client"
          @click="goToClientCreation(null)"
        />
        <template v-for="client in incompleteClients" :key="client.id">
          <q-tab
            class="finishClientButton"
            :icon="mdiHomeEdit"
            :label="`Finish Creating ${client.firstName}'s Profile`"
            @click="goToClientCreation(client)"
          />
          <q-tab
            :icon="mdiHomeRemove"
            :label="`Cancel Creating ${client.firstName}'s Profile`"
            class="finishClientButton"
            @click="
              selectedDeletionClientId = client.id;
              showDeleteClientConfirmDialog = true;
            "
          />
        </template>
      </q-tabs>
    </q-toolbar>
    <dialog-card
      v-if="
        selectedDeletionClientId &&
        clientStore.clients[selectedDeletionClientId]
      "
      dialog-id="deleteConfirmDialog"
      :card-title="`Delete ${clientStore.clients[selectedDeletionClientId].firstName}?`"
      :prop-show-dialog="showDeleteClientConfirmDialog"
      @set-dialog="setDeleteClientConfirmDialog"
    >
      <delete-confirm-dialog
        :id="selectedDeletionClientId"
        name="client"
        description="client"
        @close-dialog="closeDialog"
      />
    </dialog-card>
  </div>
</template>

<script lang="ts" setup>
import { mdiHomeEdit, mdiHomePlus, mdiHomeRemove } from '@mdi/js';
import { useClientStore } from 'src/stores/clientsStore';
import { computed, ref } from 'vue';
import { useRouter } from 'vue-router';
import isXs from 'src/functions/common/isXs';
import DeleteConfirmDialog from 'src/components/ui/DeleteConfirmDialog.vue';
import DialogCard from 'src/components/ui/DialogCard.vue';
import type { NavigationFailure } from 'vue-router';
import type Client from 'src/types/Client';

const clientStore = useClientStore();
const router = useRouter();
const selectedDeletionClientId = ref<number | null>(null);
const showDeleteClientConfirmDialog = ref(false);
const tabs = ref('');

const closeDialog = (): void => {
  showDeleteClientConfirmDialog.value = false;
};

const incompleteClients = computed(() => {
  return Object.keys(clientStore.clients)
    .map(clientKey => clientStore.clients[clientKey])
    .filter(client => !client.setupComplete);
});

const goToClientCreation = (
  client: Client | null
): Promise<void | NavigationFailure | undefined> => {
  clientStore.setSetupClient(client);
  return router.push({
    name: 'clientCreation',
    query: {
      nextUrl: router.currentRoute.value.fullPath
    }
  });
};

const clipClass = computed(() => {
  if (isXs.value) {
    return '';
  }
  return 'sidebarPush';
});

const setDeleteClientConfirmDialog = (newValue: boolean): void => {
  showDeleteClientConfirmDialog.value = newValue;
};
</script>
<style>
.sidebarPush {
  padding-left: 80px; /* Push past the nav drawer */
  padding-right: 100px;
}
.navBar {
  position: fixed;
  bottom: 0;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}
</style>
