<template>
  <q-card style="width: 100%" class="q-ma-sm">
    <q-card-section class="text-center">
      <div id="clientDocumentsHeader" class="text-h6">Documents</div>
    </q-card-section>

    <q-card-section>
      <responsive-table
        v-if="props.clientId && clientStore.clients[props.clientId]"
        table-id="documentsTable"
        :rows="documents"
        :headers="documentTableHeaders"
        :no-data-label="`${
          clientStore.clients[props.clientId].firstName
        } has no documents yet`"
        default-sort="name"
      >
        <template #name-edit="{ cellData }">
          <popup-edit
            v-slot="scope"
            :model-id="cellData.id"
            field-name="name"
            :model="cellData.name"
            @save-data="updateDocumentName"
          >
            <q-input
              :model-value="scope.value"
              for="documentNameField"
              dense
              maxlength="256"
              label="Document Name"
              :rules="[v => !!v || 'Name is required']"
              @update:model-value="scope.set"
              @keyup.enter="scope.close"
            />
          </popup-edit>
        </template>
        <template #createdDate="{ cellData }">
          {{ formattedDate(cellData.createdDate) }}
        </template>
        <template #size="{ cellData }">
          {{ getFileSize(cellData.size) }}
        </template>
        <template #actions="{ cellData }">
          <q-btn
            flat
            round
            :class="`previewDocumentButton ${
              isPreviewable(cellData.originalName) ? '' : 'hidden-button'
            }`"
            :icon="mdiEye"
            @click="previewDocument(cellData)"
          />
          <q-btn
            flat
            round
            :icon="mdiDownload"
            class="downloadDocumentButton"
            @click="downloadDocument(cellData)"
          />
          <q-btn
            flat
            round
            class="deleteDocumentButton"
            color="negative"
            :icon="mdiDelete"
            @click="deleteDocument(cellData)"
          />
        </template>
      </responsive-table>
    </q-card-section>

    <card-confirm-buttons
      confirm-button-text="Add Document"
      confirm-button-color="primary"
      :confirm-button-icon="mdiFileUpload"
      @confirm-button-clicked="uploadDocument"
    />

    <input
      id="documentUploadInput"
      ref="uploader"
      multiple
      style="display: none"
      type="file"
      accept="*"
      @change="onDocumentAdded"
    />

    <dialog-card
      card-title="Add Documents"
      :prop-show-dialog="showAddDocumentDialog"
      min-width="70%"
      dialog-id="addDocumentModal"
      @set-dialog="setAddDocumentModal"
    >
      <add-document-modal
        :client-id="clientId"
        :documents="selectedDocuments"
        @close-dialog="showAddDocumentDialog = false"
      />
    </dialog-card>

    <dialog-card
      :card-title="filePreviewName"
      dialog-id="documentPreviewDialog"
      :prop-show-dialog="previewModal"
      close-button-id="closeDocumentPreviewDialog"
      @set-dialog="setPreviewModal"
    >
      <q-img
        v-if="previewFileType === 'image'"
        id="imagePreview"
        :src="filePreviewSrc"
        fit="contain"
        :height="`${$q.screen.height * 0.8}px`"
      />
      <embed
        v-if="previewFileType === 'pdf'"
        id="pdfPreview"
        :src="filePreviewSrc"
        width="100%"
        :height="$q.screen.height * 0.8"
      />
    </dialog-card>

    <dialog-card
      card-title="Delete Document"
      dialog-id="deleteConfirmDocumentDialog"
      :prop-show-dialog="deleteDocumentConfirmDialog"
      @set-dialog="setDeleteDocumentConfirmDialog"
    >
      <delete-confirm-dialog
        :id="selectedDeletionDocumentId"
        :name="'clientDocument'"
        :description="'document'"
        @close-dialog="closeDialog"
      />
    </dialog-card>
  </q-card>
</template>

<script lang="ts" setup>
import { mdiDelete, mdiDownload, mdiEye, mdiFileUpload } from '@mdi/js';
import { format, parseISO } from 'date-fns';
import fileDownload from 'js-file-download';
import { computed, ref, watch } from 'vue';
import { useBasicStore } from 'src/stores/basicStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import { useClientStore } from 'src/stores/clientsStore';
import getFileSize from 'src/functions/common/getFileSize';
import DeleteConfirmDialog from 'src/components/ui/DeleteConfirmDialog.vue';
import DialogCard from 'src/components/ui/DialogCard.vue';
import ResponsiveTable from 'src/components/ui/ResponsiveTable.vue';
import CardConfirmButtons from 'src/components/ui/CardConfirmButtons.vue';
import PopupEdit from 'src/components/ui/PopupEdit.vue';
import { Directory, Filesystem } from '@capacitor/filesystem';
import { Notify } from 'quasar';
import write_blob from 'capacitor-blob-writer';
import { Mediastore } from '@agorapulse/capacitor-mediastore';
import AddDocumentModal from './AddDocumentModal.vue';
import type { SaveToDownloadsResult } from '@agorapulse/capacitor-mediastore';

import type DocumentUpload from 'src/types/DocumentUpload';
import type ClientDocument from 'src/types/ClientDocument';
import type { AxiosProgressEvent, AxiosResponse } from 'axios';

interface HTMLInputEvent extends Event {
  target: HTMLInputElement & EventTarget;
}

interface Props {
  clientId: number | undefined;
}
const props = withDefaults(defineProps<Props>(), {
  clientId: undefined
});
const basicStore = useBasicStore();
const clientStore = useClientStore();

const selectedDeletionDocumentId = ref<number | undefined>(undefined);
const filePreviewSrc = ref('');
const filePreviewName = ref('');
const previewModal = ref(false);
const deleteDocumentConfirmDialog = ref(false);
const previewFileType = ref('');
const uploader = ref<HTMLInputElement>();
const selectedDocuments = ref<DocumentUpload[]>([]);
const showAddDocumentDialog = ref(false);
const documentTableHeaders = [
  {
    label: 'Name',
    name: 'name',
    field: 'name',
    sortable: true
  },
  {
    label: 'Upload Date',
    name: 'createdDate',
    field: 'createdDate',
    sortable: true
  },
  {
    label: 'Size',
    name: 'size',
    field: 'size',
    sortable: true
  },
  {
    label: 'Actions',
    name: 'actions',
    field: 'actions',
    sortable: false
  }
];

const previewableFiles = [
  { extension: 'bmp', type: 'image' },
  { extension: 'gif', type: 'image' },
  { extension: 'ico', type: 'image' },
  { extension: 'cur', type: 'image' },
  { extension: 'jpg', type: 'image' },
  { extension: 'jpeg', type: 'image' },
  { extension: 'jfif', type: 'image' },
  { extension: 'pjpeg', type: 'image' },
  { extension: 'pjp', type: 'image' },
  { extension: 'png', type: 'image' },
  { extension: 'svg', type: 'image' },
  { extension: 'webp', type: 'image' },
  { extension: 'pdf', type: 'pdf' }
];

const closeDialog = (): void => {
  deleteDocumentConfirmDialog.value = false;
};

const getDocument = (document: ClientDocument): Promise<AxiosResponse> => {
  return basicStore.http.get(`clientDocuments/${document.id}/download`, {
    responseType: 'blob',
    timeout: 60000,
    onDownloadProgress: (progressEvent: AxiosProgressEvent) =>
      context.setFileDownloadProgress(progressEvent)
  });
};

const isPreviewable = (
  fileName: string
): { extension: string; type: string } | undefined => {
  const fileExtension = fileName.split('.').pop();
  const file = previewableFiles.find(
    previewableFile =>
      fileExtension && previewableFile.extension === fileExtension.toLowerCase()
  );
  if (file) {
    if (isAndroid.value && file.type === 'pdf') {
      // Android cannot directly render pdf
      return undefined;
    }
    return file;
  }
  return undefined;
};

const downloadDocumentAndroid = async (
  fileBlob: Blob,
  documentName: string
): Promise<SaveToDownloadsResult> => {
  await write_blob({
    path: documentName,
    directory: Directory.Cache,
    blob: fileBlob,
    fast_mode: true
  });
  const path = await Filesystem.getUri({
    path: documentName,
    directory: Directory.Cache
  });
  return Mediastore.saveToDownloads({
    filename: documentName,
    path: path.uri
  });
};

const downloadDocument = (
  document: ClientDocument
): Promise<SaveToDownloadsResult | void> => {
  basicStore.topBar = {
    text: `Downloading ${document.originalName}`,
    color: 'info',
    active: true,
    indeterminate: false,
    value: 0
  };
  return getDocument(document)
    .then(
      (response: {
        data: Blob;
      }): void | Promise<SaveToDownloadsResult | void> => {
        if (isAndroid.value) {
          return downloadDocumentAndroid(response.data, document.originalName);
        } else {
          return fileDownload(response.data, document.originalName);
        }
      }
    )
    .then(() => {
      basicStore.topBar.active = false;
      Notify.create({
        type: 'positive',
        message: 'File downloaded, check your downloads folder to find it'
      });
    })
    .catch(axiosFailed);
};

const previewDocument = (document: ClientDocument): Promise<void> => {
  return getDocument(document)
    .then((response: { data: Blob }) => {
      filePreviewSrc.value = URL.createObjectURL(response.data);
      filePreviewName.value = document.name;
      const fileType = isPreviewable(document.originalName);
      if (fileType) {
        previewFileType.value = fileType.type;
      }
      previewModal.value = true;
    })
    .catch(axiosFailed);
};

const formattedDate = (date: string): string => {
  const parsedDate = parseISO(date);
  return format(parsedDate, 'dd/MM/yy');
};

const uploadDocument = (): void => {
  if (uploader.value) {
    uploader.value.click();
  }
};

const getFileNameWithoutExtension = (name: string): string =>
  name.split('.').slice(0, -1).join('.');

const documentSizeWarning = (size: number): string => {
  if (
    process.env.VUE_APP_MAX_FILE_SIZE &&
    size >= Number.parseInt(process.env.VUE_APP_MAX_FILE_SIZE, 10)
  ) {
    return `File is too large and won't be uploaded, file must be smaller than ${getFileSize(
      Number.parseInt(process.env.VUE_APP_MAX_FILE_SIZE, 10)
    )}`;
  }
  if (size === 0) {
    return 'File is empty and will not be uploaded';
  }
  return '';
};

const onDocumentAdded = (event: Event): void => {
  const inputEvent = event as HTMLInputEvent;
  if (inputEvent.target.files && inputEvent.target.files.length > 0) {
    const files = Array.from(inputEvent.target.files);
    const documents: DocumentUpload[] = [];
    files.forEach(file =>
      documents.push({
        file,
        newName: getFileNameWithoutExtension(file.name),
        uploaded: false,
        uploadStatus: 0,
        removed: false,
        error: documentSizeWarning(file.size)
      })
    );
    selectedDocuments.value = documents;
    showAddDocumentDialog.value = true;
  }
};
const documents = ref<ClientDocument[]>([]);

const clientDocuments = computed(() => {
  if (
    props.clientId &&
    props.clientId in clientStore.clients &&
    clientStore.clients[props.clientId].documents
  ) {
    return clientStore.clients[props.clientId].documents as ClientDocument[];
  }
  return [];
});

watch(
  clientDocuments,
  () => {
    documents.value = clientDocuments.value;
  },
  { immediate: true }
);

const updateDocumentName = (
  documentId: number,
  _: string,
  value: string
): Promise<void | AxiosResponse> => {
  return basicStore.http
    .patch(`clientDocuments/${documentId}/update/`, {
      name: value
    })
    .catch(axiosFailed);
};

const deleteDocument = (document: ClientDocument): void => {
  selectedDeletionDocumentId.value = document.id;
  deleteDocumentConfirmDialog.value = true;
};
const isAndroid = computed(() => {
  return basicStore.platform.mobile;
});

const setAddDocumentModal = (newValue: boolean): void => {
  showAddDocumentDialog.value = newValue;
};

const setPreviewModal = (newValue: boolean): void => {
  previewModal.value = newValue;
};

const setDeleteDocumentConfirmDialog = (newValue: boolean): void => {
  deleteDocumentConfirmDialog.value = newValue;
};

const setFileDownloadProgress = (progressEvent: AxiosProgressEvent): void => {
  if (progressEvent.total !== undefined) {
    const percentCompleted = Math.round(
      (progressEvent.loaded * 100) / progressEvent.total
    );
    basicStore.topBar.value = percentCompleted / 100;
  }
};

const context = {
  setFileDownloadProgress
};
</script>
<style>
.hidden-button {
  visibility: hidden;
  pointer-events: auto !important;
  cursor: not-allowed !important;
}
</style>
