<template>
  <q-card-section>
    <q-item
      v-if="client"
      id="canViewCalendarToggle"
      class="clientFieldEdit"
      tag="label"
    >
      <q-item-section avatar>
        <q-checkbox
          v-model="permissions"
          val="client_can_view_calendar"
          :disable="!permissions.includes('client_can_view_own_data')"
        />
      </q-item-section>
      <q-item-section>
        <q-item-label>Allowed to view calendar</q-item-label>
        <q-item-label caption
          >Select this to allow {{ client.firstName }} to view a calendar page.
          From this page they can see what days of the week they're set to
          visit, as well as any events they've been explicitly invited
          to.</q-item-label
        >
      </q-item-section>
    </q-item>
    <q-item
      v-if="client"
      id="canViewOwnDataToggle"
      class="clientFieldEdit"
      tag="label"
    >
      <q-item-section avatar>
        <q-checkbox
          v-model="permissions"
          val="client_can_view_own_data"
          :disable="!permissions.includes('client_can_view_calendar')"
        />
      </q-item-section>
      <q-item-section>
        <q-item-label>Allowed to view medical info</q-item-label>
        <q-item-label caption
          >Select this to allow {{ client.firstName }} to view their own medical
          info, similar to the page you see when you click a client in the
          clients page. (Name, Address, Doctor, Medical History,
          etc...)</q-item-label
        >
      </q-item-section>
    </q-item>
  </q-card-section>
</template>

<script lang="ts" setup>
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import { useBasicStore } from 'src/stores/basicStore';
import { useClientStore } from 'src/stores/clientsStore';
import { computed, ref, watch } from 'vue';
import type { AxiosResponse } from 'axios';

interface Props {
  clientId: number | undefined;
}
const props = withDefaults(defineProps<Props>(), {
  clientId: undefined
});
const clientStore = useClientStore();
const basicStore = useBasicStore();

const permissions = ref<string[]>([]);
const client = computed(() => {
  if (props.clientId && props.clientId in clientStore.clients) {
    return clientStore.clients[props.clientId];
  }
  return undefined;
});

watch(
  () => client.value?.permissions,
  () => {
    if (client.value?.permissions) {
      permissions.value = client.value.permissions;
    }
  },
  { immediate: true }
);

watch(
  permissions,
  (
    newPermissions: string[],
    oldPermissions: string[]
  ): null | Promise<void | AxiosResponse> => {
    if (
      client.value?.id &&
      [...newPermissions].sort().toString() !==
        [...oldPermissions].sort().toString()
    ) {
      return basicStore.http
        .post(`clients/update-permissions/${client.value.id}/`, {
          permissions: permissions.value
        })
        .catch(axiosFailed);
    }
    return null;
  }
);
</script>
