<template>
  <q-card-section id="clientDialogSection" class="row">
    <div class="col-12 col-md-6 q-pa-sm">
      <client-dialog-table
        :client-id="clientId"
        :header="'Basic Info'"
        :client-data="clientBasicInfo"
      />
    </div>
    <div class="col-12 col-md-6 q-pa-sm">
      <client-dialog-table
        :client-id="clientId"
        :header="'Services'"
        :client-data="clientServicesInfo"
      />
    </div>
    <div class="col-12 col-md-6 q-pa-sm">
      <client-dialog-table
        :client-id="clientId"
        :header="'Ability'"
        :client-data="clientAbilities"
      />
    </div>
    <div class="col-12 col-md-6 q-pa-sm">
      <client-dialog-table
        :client-id="clientId"
        :header="'Diet'"
        :client-data="clientDiet"
      />
    </div>
    <div v-if="!isClient" class="col-12">
      <client-documents :client-id="clientId" />
    </div>
    <div class="col-12 q-pa-sm full-width">
      <q-card class="q-pa-sm full-width">
        <q-card-section>
          <div class="row">
            <div class="text-h6">Visiting Centres</div>
            <q-btn
              v-if="!isClient"
              id="visitingCentresEditIcon"
              flat
              round
              color="primary"
              :icon="mdiPencil"
              @click="openVisitingCentresEditDialog"
            />
          </div>
        </q-card-section>

        <q-card-section
          v-if="props.clientId && clientStore.clients[props.clientId]"
          justify="center"
        >
          <q-list
            id="clientVisitingCentresExpander"
            bordered
            class="row q-ma-xs"
          >
            <q-expansion-item
              v-for="centre in clientCentreIds"
              :key="centre.id"
              bordered
              class="full-width"
              expand-separator
              :label="centreName(centre.id)"
              group="clientVisitingCentresExpander"
              @after-hide="centre.setInactive"
              @before-show="centre.setActive"
            >
              <client-visiting-centres
                v-if="centre.active"
                :client-id="clientId"
                :centre-id="centre.id"
                :needs="true"
              />
            </q-expansion-item>
          </q-list>
        </q-card-section>
      </q-card>
    </div>
  </q-card-section>

  <dialog-card
    dialog-id="clientUnagreedPoliciesDialog"
    card-title="Client has unagreed policies"
    :prop-show-dialog="showUnagreedPolicyDialog"
    persistent
    @set-dialog="setUnagreedPolicyDialog"
  >
    <client-unagreed-policies-dialog
      :client-id="clientId"
      :unagreed-policies="unagreedPolicies"
    />
  </dialog-card>

  <dialog-card
    v-if="client"
    dialog-id="visitingCentresEditDialog"
    :card-title="`Change ${client.firstName}'s Visiting Centres`"
    :prop-show-dialog="showVisitingCentresEditDialog"
    @set-dialog="setVisitingCentresEditDialog"
  >
    <visiting-centres-edit-dialog
      :client-id="clientId"
      @close-dialog="showVisitingCentresEditDialogFalse"
    />
  </dialog-card>
</template>

<script lang="ts" setup>
import { mdiPencil } from '@mdi/js';
import { computed, ref, watch } from 'vue';
import { useCentreStore } from 'src/stores/centresStore';
import { useClientStore } from 'src/stores/clientsStore';
import { useUserStore } from 'src/stores/userStore';
import getClient from 'src/functions/client/getClient';
import getClientNeedsForClient from 'src/functions/client/getClientNeedsForClient';
import getCentreDataForClient from 'src/functions/proxy/getCentreDataForClient';
import { Notify } from 'quasar';
import DialogCard from 'src/components/ui/DialogCard.vue';
import isClient from 'src/functions/auth/isClient';
import ClientDocuments from './ClientDocuments.vue';
import ClientVisitingCentres from './ClientVisitingCentres.vue';
import VisitingCentresEditDialog from './VisitingCentresEditDialog.vue';
import ClientDialogTable from './ClientDialogTable.vue';
import ClientUnagreedPoliciesDialog from './ClientUnagreedPoliciesDialog.vue';
import type Centre from 'src/types/Centre';
import type AgreedPolicy from 'src/types/AgreedPolicy';
import type Policy from 'src/types/Policy';
import type UnagreedPolicies from 'src/types/UnagreedPolicies';
import type Field from 'src/types/Field';

interface Props {
  clientId: number | undefined;
}
const props = withDefaults(defineProps<Props>(), {
  clientId: undefined
});
const emit = defineEmits(['close-dialog']);

const centreStore = useCentreStore();
const clientStore = useClientStore();
const userStore = useUserStore();

const showDeleteClientConfirmDialog = ref(false);
const showVisitingCentresEditDialog = ref(false);
const unagreedPolicies = ref<UnagreedPolicies[]>([]);
const showUnagreedPolicyDialog = ref(false);

const openVisitingCentresEditDialog = (): void => {
  showVisitingCentresEditDialog.value = true;
};

const closeDialog = (): void => {
  showVisitingCentresEditDialog.value = false;
  showDeleteClientConfirmDialog.value = false;
  emit('close-dialog');
};

const client = computed(() => {
  if (props.clientId && props.clientId in clientStore.clients) {
    return clientStore.clients[props.clientId];
  }
  return undefined;
});

const unagreedCentrePolicies = computed(() => {
  if (client.value?.agreedPolicies && client.value.centres) {
    const selectedClient = client.value;
    const centres = selectedClient.centres as number[];
    const unacceptedPolicies: UnagreedPolicies[] = [];
    centres.forEach((centreId: number) => {
      if (
        centreId in centreStore.centres &&
        selectedClient.agreedPolicies &&
        centreStore.centres[centreId].policies &&
        userStore.user.centres?.includes(centreId)
      ) {
        const agreedPolicies = selectedClient.agreedPolicies as AgreedPolicy[];
        const agreedPoliciesForCentre = agreedPolicies
          .filter(
            (agreedPolicy: AgreedPolicy) => agreedPolicy.centre === centreId
          )
          .map((agreedPolicy: AgreedPolicy) => agreedPolicy.policy);
        const centreUnagreedPolicies = Object.keys(centreStore.policies)
          .map(policyId => centreStore.policies[policyId])
          .filter(
            (centrePolicy: Policy) =>
              !agreedPoliciesForCentre.includes(centrePolicy.id)
          )
          .filter((centrePolicy: Policy) =>
            centreStore.centres[centreId].policies?.includes(centrePolicy.id)
          )
          .sort((prevPolicy: Policy, newPolicy: Policy) =>
            prevPolicy.description.localeCompare(newPolicy.description)
          );
        if (centreUnagreedPolicies.length > 0) {
          unacceptedPolicies.push({
            centre: centreId,
            unagreedPolicies: centreUnagreedPolicies
          });
        }
      }
    });
    return unacceptedPolicies;
  }
  return [];
});

watch(unagreedCentrePolicies, () => {
  if (unagreedCentrePolicies.value.length > 0) {
    unagreedPolicies.value = unagreedCentrePolicies.value;
    showUnagreedPolicyDialog.value = true;
  } else {
    showUnagreedPolicyDialog.value = false;
  }
});

const updateClientData = (): Promise<[void, void]> | null => {
  if (props.clientId) {
    return Promise.all([
      getClient(props.clientId),
      getClientNeedsForClient(props.clientId)
    ]);
  }
  return null;
};

watch(
  () => props.clientId,
  () => {
    if (props.clientId) {
      return context.updateClientData();
    }
    return null;
  }
);

const clientBasicInfo: Field[] = [
  {
    text: 'First Name',
    inputValue: 'firstName',
    editable: !isClient.value,
    maxlength: 128,
    fieldType: 'text',
    value: 'firstName'
  },
  {
    text: 'Surname',
    inputValue: 'surname',
    editable: !isClient.value,
    maxlength: 256,
    fieldType: 'text',
    value: 'surname'
  },
  {
    text: 'Gender',
    choiceValue: 'gender',
    editable: !isClient.value,
    choices: ['Female', 'Male', 'Unknown'],
    value: 'gender'
  },
  {
    text: 'Active?',
    booleanValue: 'isActive',
    editable: !isClient.value,
    value: 'isActive'
  },
  {
    text: 'Account Status',
    value: 'accountStatus',
    editable: false
  },
  {
    text: 'Date Of Birth',
    dateValue: 'dateOfBirth',
    editable: !isClient.value,
    value: 'dateOfBirth'
  },
  {
    text: 'Address',
    inputValue: 'address',
    editable: !isClient.value,
    maxlength: 512,
    fieldType: 'textarea',
    value: 'address'
  },
  {
    text: 'Phone Number',
    inputValue: 'phoneNumber',
    editable: !isClient.value,
    maxlength: 20,
    fieldType: 'tel',
    value: 'phoneNumber'
  },
  { text: 'Admitted By', value: 'admittedBy', editable: false },
  { text: 'Created Date', value: 'createdDate', editable: false }
];

const clientServicesInfo: Field[] = [
  {
    text: 'Public Health Nurse',
    inputValue: 'publicHealthNurseName',
    value: 'publicHealthNurseName',
    editable: !isClient.value,
    fieldType: 'text'
  },
  {
    text: 'Public Health Nurse Number',
    inputValue: 'publicHealthNursePhoneNumber',
    value: 'publicHealthNursePhoneNumber',
    editable: !isClient.value,
    fieldType: 'tel'
  },
  {
    text: 'Home Help',
    value: 'homeHelpName',
    inputValue: 'homeHelpName',
    editable: !isClient.value,
    fieldType: 'text'
  },
  {
    text: 'Home Help Number',
    value: 'homeHelpPhoneNumber',
    inputValue: 'homeHelpPhoneNumber',
    editable: !isClient.value,
    fieldType: 'tel'
  },
  {
    text: 'GP',
    value: 'gpName',
    inputValue: 'gpName',
    editable: !isClient.value,
    fieldType: 'text'
  },
  {
    text: 'GP Number',
    value: 'gpPhoneNumber',
    inputValue: 'gpPhoneNumber',
    editable: !isClient.value,
    fieldType: 'tel'
  },
  {
    text: 'Chemist',
    value: 'chemistName',
    inputValue: 'chemistName',
    editable: !isClient.value,
    fieldType: 'text'
  },
  {
    text: 'Chemist Number',
    value: 'chemistPhoneNumber',
    inputValue: 'chemistPhoneNumber',
    editable: !isClient.value,
    fieldType: 'tel'
  },
  {
    text: 'Medical History',
    value: 'medicalHistory',
    inputValue: 'medicalHistory',
    editable: !isClient.value,
    fieldType: 'textarea'
  },
  {
    text: 'Surgical History',
    value: 'surgicalHistory',
    inputValue: 'surgicalHistory',
    editable: !isClient.value,
    fieldType: 'textarea'
  }
];

const clientAbilities: Field[] = [
  {
    text: 'Mobility',
    value: 'mobility',
    choiceValue: 'mobility',
    editable: !isClient.value,
    choices: [
      'Walks Unaided',
      'Walks With Stick',
      'Walks With Frame',
      'Walks With Walker',
      'Uses Wheelchair'
    ]
  },
  {
    text: 'Toileting',
    value: 'toileting',
    choiceValue: 'toileting',
    editable: !isClient.value,
    choices: ['Fully Continent', 'Occasionally Incontinent', 'Incontinent']
  },
  {
    text: 'Hygiene',
    value: 'hygiene',
    choiceValue: 'hygiene',
    editable: !isClient.value,
    choices: ['Self', 'Needs Assistance', 'Full Hoist Shower']
  },
  {
    text: 'Sight',
    choiceValue: 'sight',
    value: 'sight',
    editable: !isClient.value,
    choices: ['Normal', 'Glasses', 'Impaired']
  },
  {
    text: 'Hearing',

    value: 'hearing',
    choiceValue: 'hearing',
    editable: !isClient.value,
    choices: ['Normal', 'Impaired']
  },
  {
    text: 'Dentures?',
    value: 'usesDentures',
    booleanValue: 'usesDentures',
    editable: !isClient.value
  },
  {
    text: 'Case Formulation',
    value: 'caseFormulation',
    inputValue: 'caseFormulation',
    editable: !isClient.value,
    fieldType: 'textarea'
  }
];

const clientDiet: Field[] = [
  {
    text: 'Allergies',
    value: 'allergies',
    inputValue: 'allergies',
    editable: !isClient.value,
    fieldType: 'textarea'
  },
  {
    text: 'Intolerances',
    value: 'intolerances',
    inputValue: 'intolerances',
    editable: !isClient.value,
    fieldType: 'textarea'
  },
  {
    text: 'Requires Assistance Eating?',
    value: 'requiresAssistanceEating',
    booleanValue: 'requiresAssistanceEating',
    editable: !isClient.value
  },
  {
    text: 'Thickner Grade',
    value: 'thicknerGrade',
    editable: !isClient.value,
    sliderValue: 'thicknerGrade',
    min: 0,
    max: 5
  },
  {
    text: 'Feeding Risks',
    value: 'feedingRisks',
    editable: !isClient.value
  }
];

const clientCentres = computed(() => {
  if (client.value?.centres && client.value.id) {
    const centreIds = clientStore.clients[client.value.id].centres as number[];
    return Object.keys(centreStore.centres)
      .map(centreKey => centreStore.centres[centreKey])
      .filter((centre: Centre) => centreIds.includes(centre.id))
      .sort((a: Centre, b: Centre) => a.name.localeCompare(b.name))
      .map((centre: Centre) => centre.id);
  }
  return [];
});

watch(clientCentres, () => {
  if (!isClient.value) {
    if (
      props.clientId &&
      userStore.user.centres?.some((centreId: number) =>
        clientCentres.value.includes(centreId)
      )
    ) {
      return getCentreDataForClient(props.clientId, 'policies');
    }
    Notify.create({
      type: 'info',
      message: 'Your access to this client has been removed by an admin'
    });
    return context.closeDialog();
  }
  return null;
});

const clientActive = computed(() => {
  if (client.value?.isActive) {
    return client.value.isActive;
  }
  return false;
});

const clientCentreIds = computed(() => {
  return clientCentres.value.map(centreId => {
    const centre: {
      id: number;
      active: boolean;
      setInactive?: () => void;
      setActive?: () => void;
    } = {
      id: centreId,
      active: false
    };
    centre.setInactive = (): void => {
      centre.active = false;
    };
    centre.setActive = (): void => {
      centre.active = true;
    };
    return centre;
  });
});

const toggleReasonForInactivity = (): void => {
  const index = clientBasicInfo.findIndex(
    (field: Field) => field.value === 'reasonForInactivity'
  );
  if (index !== -1 && clientActive.value) {
    clientBasicInfo.splice(index, 1);
  }
  if (index === -1 && !clientActive.value) {
    clientBasicInfo.splice(4, 0, {
      text: 'Reason For Inactivity',
      value: 'reasonForInactivity',
      choiceValue: 'reasonForInactivity',
      editable: true,
      choices: [
        'Deceased',
        'Entered Long Term Care',
        'No Longer Attending',
        'Needs Unmet By Service'
      ]
    });
  }
};

watch(
  clientActive,
  () => {
    return toggleReasonForInactivity();
  },
  { immediate: true }
);

const setUnagreedPolicyDialog = (newValue: boolean): void => {
  showUnagreedPolicyDialog.value = newValue;
};

const setVisitingCentresEditDialog = (newValue: boolean): void => {
  showVisitingCentresEditDialog.value = newValue;
};

const showVisitingCentresEditDialogFalse = (): void => {
  return setVisitingCentresEditDialog(false);
};

const centreName = (centreId: number): string => {
  if (centreId in centreStore.centres) {
    return centreStore.centres[centreId].name;
  }
  return '';
};

updateClientData()?.catch((err: Error) => err);

const context = {
  updateClientData,
  closeDialog
};
</script>
