<template>
  <q-btn
    v-if="client"
    id="clientHamburgerMenuIcon"
    flat
    round
    color="white"
    :icon="mdiDotsVertical"
  >
    <q-menu offset-y>
      <q-list>
        <q-item clickable @click="showCarePlanHistoryDialog = true">
          <q-item-section id="carePlanHistoryButton"
            >{{ client.firstName }}'s Care Plan History</q-item-section
          >
        </q-item>
        <q-item clickable @click="showAbsenceHistoryDialog = true">
          <q-item-section id="absenceHistoryButton"
            >{{ client.firstName }}'s Absence History</q-item-section
          >
        </q-item>
        <q-item clickable @click="showMakeClientUserDialog = true">
          <q-item-section id="makeClientUserButton">{{
            showMakeClientUserDialogText
          }}</q-item-section>
        </q-item>
        <q-item
          v-if="client?.accountStatus === 'Active'"
          clickable
          @click="showClientUserPermissionsDialog = true"
        >
          <q-item-section id="clientUserPermissionsButton"
            >Edit {{ client.firstName }}'s Permissions</q-item-section
          >
        </q-item>
        <q-item
          clickable
          class="text-negative"
          @click="showDeleteClientConfirmDialog = true"
        >
          <q-item-section id="deleteClientButton"
            >Delete {{ client.firstName }}'s Account</q-item-section
          >
        </q-item>
      </q-list>
    </q-menu>
  </q-btn>

  <dialog-card
    dialog-id="carePlanHistoryDialog"
    card-title="Care Plan History"
    :prop-show-dialog="showCarePlanHistoryDialog"
    max-width="600"
    @set-dialog="setCarePlanHistoryDialog"
  >
    <care-plan-history
      :client-id="clientId"
      @close-modal="showCarePlanHistoryDialog = false"
    />
  </dialog-card>

  <dialog-card
    dialog-id="absenceHistoryDialog"
    card-title="Absence History"
    :prop-show-dialog="showAbsenceHistoryDialog"
    max-width="600"
    @set-dialog="setAbsenceHistoryDialog"
  >
    <absence-history
      :client-id="clientId"
      @close-modal="showAbsenceHistoryDialog = false"
    />
  </dialog-card>

  <dialog-card
    v-if="props.clientId && client"
    dialog-id="deleteClientDialog"
    :card-title="`Delete ${client.firstName}'s Account`"
    :prop-show-dialog="showDeleteClientConfirmDialog"
    max-width="600"
    @set-dialog="setDeleteClientConfirmDialog"
  >
    <client-delete-confirm-dialog
      :id="props.clientId"
      :name="'client'"
      :description="'client'"
      @close-dialog="closeDialog"
    />
  </dialog-card>
  <dialog-card
    v-if="props.clientId && client"
    dialog-id="makeClientUserDialog"
    :card-title="showMakeClientUserDialogText"
    :prop-show-dialog="showMakeClientUserDialog"
    max-width="600"
    @set-dialog="setMakeClientUserDialog"
  >
    <make-client-user :client-id="props.clientId" @close-dialog="closeDialog" />
  </dialog-card>
  <dialog-card
    v-if="props.clientId && client"
    dialog-id="makeClientUserDialog"
    :card-title="`Edit ${client.firstName}'s Permissions`"
    :prop-show-dialog="showClientUserPermissionsDialog"
    max-width="600"
    @set-dialog="setClientUserPermissionsDialog"
  >
    <client-user-permissions :client-id="props.clientId" />
  </dialog-card>
</template>
<script lang="ts" setup>
import { computed, ref } from 'vue';
import { useClientStore } from 'src/stores/clientsStore';
import { mdiDotsVertical } from '@mdi/js';
import DialogCard from 'src/components/ui/DialogCard.vue';
import ClientDeleteConfirmDialog from 'src/components/ui/DeleteConfirmDialog.vue';
import CarePlanHistory from 'src/components/carePlans/CarePlanHistory.vue';
import AbsenceHistory from 'src/components/carePlans/AbsenceHistory.vue';
import MakeClientUser from 'src/components/clients/MakeClientUser.vue';
import ClientUserPermissions from 'src/components/clients/ClientUserPermissions.vue';

const emit = defineEmits(['close-dialog']);

const showCarePlanHistoryDialog = ref(false);
const showAbsenceHistoryDialog = ref(false);
const showDeleteClientConfirmDialog = ref(false);
const showMakeClientUserDialog = ref(false);
const showClientUserPermissionsDialog = ref(false);
interface Props {
  clientId: number | undefined;
}
const props = withDefaults(defineProps<Props>(), {
  clientId: undefined
});

const clientStore = useClientStore();

const client = computed(() => {
  if (props.clientId && props.clientId in clientStore.clients) {
    return clientStore.clients[props.clientId];
  }
  return undefined;
});

const setCarePlanHistoryDialog = (newValue: boolean): void => {
  showCarePlanHistoryDialog.value = newValue;
};

const setAbsenceHistoryDialog = (newValue: boolean): void => {
  showAbsenceHistoryDialog.value = newValue;
};

const setDeleteClientConfirmDialog = (newValue: boolean): void => {
  showDeleteClientConfirmDialog.value = newValue;
};

const setMakeClientUserDialog = (newValue: boolean): void => {
  showMakeClientUserDialog.value = newValue;
};

const setClientUserPermissionsDialog = (newValue: boolean): void => {
  showClientUserPermissionsDialog.value = newValue;
};

const showMakeClientUserDialogText = computed(() => {
  if (
    client.value?.accountStatus === 'No Account' ||
    client.value?.accountStatus === 'Inactive' ||
    client.value?.accountStatus === 'Pending'
  ) {
    return `Allow ${client.value.firstName} To Login`;
  }
  if (client.value?.accountStatus === 'Active') {
    return `Prevent ${client.value.firstName} From Logging In`;
  }
  return '';
});

const closeDialog = (): void => {
  setDeleteClientConfirmDialog(false);
  setMakeClientUserDialog(false);
  context.emit('close-dialog');
};

const context = {
  emit
};
</script>
