<template>
  <q-card style="width: 100%" class="q-ma-sm clientDialogTableWrapper">
    <q-card-section class="text-center">
      <div class="clientDialogTableMainHeader text-h6">
        {{ props.header }}
      </div>
    </q-card-section>
    <q-card-section>
      <q-list v-if="formattedClient && client" class="clientDialogTable">
        <q-item
          v-for="row in clientData"
          :key="row.text"
          :v-ripple="row.editable"
          :tag="row.editable ? 'label' : ''"
          :clickable="row.editable"
          class="grid-data-row"
        >
          <div class="col vertical-middle">
            <q-item-section style="height: 100%">
              <q-item-label class="clientDialogTableHeader">{{
                row.text
              }}</q-item-label>
            </q-item-section>
          </div>
          <div class="col vertical-middle">
            <q-item-section style="height: 100%" side>
              <q-item-label caption class="full-width">
                <q-checkbox
                  v-if="row.booleanValue && props.clientId"
                  :id="`${row.value}Input`"
                  class="clientDialogTableData"
                  :disable="!row.editable"
                  :model-value="clientStore.clients[props.clientId][row.value]"
                  :checked-icon="row.icon ?? ''"
                  :unchecked-icon="row.iconUnfilled ?? ''"
                  @update:model-value="updateCheckboxFromRow($event, row.value)"
                />
                <feeding-risks
                  v-else-if="row.value === 'feedingRisks'"
                  :client-id="clientId"
                />
                <div v-else class="clientDialogTableData">
                  {{ clientRowValue(formattedClient, row) }}
                </div>
              </q-item-label>
            </q-item-section>
          </div>

          <q-menu v-if="row.choiceValue && row.editable" fit>
            <q-list id="clientFieldEdit">
              <q-item
                v-for="choice in row.choices"
                :key="choice"
                clickable
                @click="updateFieldNow(choice, row.value)"
              >
                <q-item-section>{{ choice }}</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
          <popup-edit
            v-if="client.id && row.sliderValue && row.editable"
            :ref="`editDialog${row.value}`"
            v-slot="scope"
            :model-id="client.id"
            :field-name="row.value"
            :model="client[row.sliderValue]"
            :popup-width="listWidth"
            :close-on-set="true"
            @save-data="updateRow"
          >
            <div class="q-pa-lg">
              <q-slider
                v-if="typeof scope.value === 'number'"
                :id="`${row.sliderValue}Input`"
                :model-value="scope.value"
                color="primary"
                markers
                snap
                label
                class="clientEditSlider"
                label-always
                switch-label-side
                :max="row.max"
                :min="row.min"
                @change="scope.set"
              />
            </div>
          </popup-edit>
          <popup-edit
            v-if="client.id && row.inputValue && row.editable"
            :ref="`editDialog${row.value}`"
            v-slot="scope"
            :model-id="client.id"
            :field-name="row.value"
            :model="client[row.inputValue]"
            :popup-width="listWidth"
            @save-data="updateRow"
          >
            <q-input
              v-if="row.inputValue"
              v-model="scope.value"
              :for="`${row.value}Input`"
              class="clientFieldEdit"
              :label="row.text"
              :maxlength="row.maxlength"
              :rules="[v => !!v || `${row.text} is required`]"
              :type="row.fieldType"
              autofocus
              @update:model-value="scope.set"
              @keyup.enter="scope.close"
            />
          </popup-edit>
          <q-popup-proxy v-if="row.dateValue && row.editable">
            <q-date
              v-model="client[row.dateValue]"
              :style="`width: ${listWidth}px`"
              :navigation-max-year-month="format(new Date(), 'yyyy/MM')"
              navigation-min-year-month="1910/01"
              class="clientDateFieldEdit"
              mask="YYYY-MM-DD"
              :options="maxDateToday"
              @update:model-value="updateFieldFromRow(row.value)"
            />
          </q-popup-proxy>
        </q-item>
        <q-resize-observer @resize="onListResize" />
      </q-list>

      <q-separator
        v-if="props.header === 'Basic Info' || props.header === 'Services'"
      />
      <q-expansion-item
        v-if="props.header === 'Basic Info'"
        id="nextOfKinExpander"
        class="full-width"
        expand-separator
        label="Next Of Kin"
        group="nextOfKinExpander"
      >
        <next-of-kin-table :client-id="clientId" />
      </q-expansion-item>
      <q-expansion-item
        v-if="props.header === 'Services'"
        id="medicationsExpander"
        class="full-width"
        expand-separator
        label="Medications"
        group="medicationsExpander"
      >
        <medications-table :client-id="clientId" />
      </q-expansion-item>
    </q-card-section>
  </q-card>
</template>

<script lang="ts" setup>
import { useClientStore } from 'src/stores/clientsStore';
import { computed, ref } from 'vue';
import formatClient from 'src/functions/client/formatClient';
import updateField from 'src/functions/client/updateField';
import PopupEdit from 'src/components/ui/PopupEdit.vue';
import { format } from 'date-fns';
import FeedingRisks from './FeedingRisks.vue';
import MedicationsTable from './MedicationsTable.vue';
import NextOfKinTable from './NextOfKinTable.vue';
import type { AxiosResponse } from 'axios';
import type Field from 'src/types/Field';
import type Client from 'src/types/Client';
import type NextOfKin from 'src/types/NextOfKin';
import type FeedingRisk from 'src/types/FeedingRIsk';
import type Medication from 'src/types/Medication';
import type VisitingDay from 'src/types/VisitingDay';
import type ClientNeed from 'src/types/ClientNeed';
import type ClientDocument from 'src/types/ClientDocument';

interface Props {
  clientId: number | undefined;
  header?: string;
  clientData: Field[];
}
const props = withDefaults(defineProps<Props>(), {
  clientId: undefined,
  header: '',
  clientData: () => []
});
const clientStore = useClientStore();

const listWidth = ref(0);

const client = computed(() => {
  if (props.clientId && props.clientId in clientStore.clients) {
    return clientStore.clients[props.clientId];
  }
  return undefined;
});

const formattedClient = computed(() => {
  if (client.value?.id) {
    return formatClient(client.value.id);
  }
  return undefined;
});

const clientRowValue = (
  client: Client,
  row: { value: keyof Client }
):
  | string
  | number
  | boolean
  | number[]
  | (number | { centre: number; policy: number })[]
  | NextOfKin[]
  | Medication[]
  | FeedingRisk[]
  | VisitingDay[]
  | ClientNeed[]
  | ClientDocument[]
  | string[]
  | undefined
  | null => {
  if (client[row.value] !== null && client[row.value] !== undefined) {
    return client[row.value];
  }
  return '';
};

const updateRow = (
  clientId: number,
  fieldName: keyof Client,
  newValue: string
): Promise<void | AxiosResponse> | null => {
  return updateField(newValue, fieldName, clientId);
};

const updateCheckboxFromRow = (
  newValue: boolean,
  rowValue: keyof Client
): Promise<void | AxiosResponse> | null => {
  if (props.clientId) {
    (clientStore.clients[props.clientId][rowValue] as boolean) = newValue;
    return updateFieldFromRow(rowValue);
  }
  return null;
};

const updateFieldFromRow = (
  rowValue: keyof Client
): Promise<void | AxiosResponse> | null => {
  if (props.clientId) {
    const fieldValue = clientStore.clients[props.clientId][rowValue] as
      | boolean
      | string;
    return updateField(fieldValue, rowValue, props.clientId);
  }
  return null;
};

const updateFieldNow = (
  value: string | boolean,
  field: keyof Client
): Promise<void | AxiosResponse> | null => {
  if (props.clientId) {
    (clientStore.clients[props.clientId][field] as string | boolean) = value;
    return updateField(value, field, props.clientId);
  }
  return null;
};

const maxDateToday = (date: string): boolean => {
  const today = format(new Date(), 'yyyy/MM/dd');
  return date >= '1910/01/01' && date <= today;
};

const onListResize = (newSize: { width: number }): void => {
  listWidth.value = newSize.width;
};
</script>
