<template>
  <q-select
    id="feedingRisksInput"
    :model-value="feedingRisks"
    :options="feedingRiskChoices"
    class="full-width"
    borderless
    multiple
    emit-value
    use-chips
    behavior="dialog"
    map-options
    :disable="isClient"
    @update:model-value="updateFeedingRisks"
  >
    <template #option="{ itemProps, opt, selected, toggleOption }">
      <q-item v-bind="itemProps">
        <q-item-section>
          <q-item-label>{{ opt.label }}</q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-toggle
            :model-value="selected"
            @update:model-value="toggleOption(opt)"
          />
        </q-item-section>
      </q-item>
    </template>
  </q-select>
</template>

<script lang="ts" setup>
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import { useBasicStore } from 'src/stores/basicStore';
import { useClientStore } from 'src/stores/clientsStore';
import { computed, ref, watch } from 'vue';
import isClient from 'src/functions/auth/isClient';
import type FeedingRisk from 'src/types/FeedingRIsk';
import type { AxiosResponse } from 'axios';

interface Props {
  clientId: number | undefined;
}
const props = withDefaults(defineProps<Props>(), {
  clientId: undefined
});

const feedingRiskChoices = [
  { label: 'Chewing', value: 'Chewing' },
  { label: 'Swallowing', value: 'Swallowing' },
  { label: 'Poor Appetite', value: 'Poor Appetite' }
];

const basicStore = useBasicStore();
const clientStore = useClientStore();

const feedingRisks = ref<string[]>([]);

const storeFeedingRisks = computed(() => {
  if (
    props.clientId &&
    props.clientId in clientStore.clients &&
    clientStore.clients[props.clientId].feedingRisks
  ) {
    return clientStore.clients[props.clientId].feedingRisks;
  }
  return [];
});

const updateFeedingRisks = (
  newFeedingRisks: number[]
): Promise<void | AxiosResponse> | null => {
  if (props.clientId) {
    const clientId = props.clientId;
    let mappedFeedingRisks = [{ client: clientId }];
    mappedFeedingRisks = newFeedingRisks.map(feedingRisk => {
      return {
        feedingRisk,
        client: clientId
      };
    });
    return basicStore.http
      .post(`feedingRisks/${clientId}/`, mappedFeedingRisks)
      .catch(axiosFailed);
  }
  return null;
};

const updateFeedingRisksModel = (): void => {
  if (
    props.clientId &&
    props.clientId in clientStore.clients &&
    clientStore.clients[props.clientId].feedingRisks
  ) {
    const clientFeedingRisks = clientStore.clients[props.clientId]
      .feedingRisks as FeedingRisk[];
    feedingRisks.value = clientFeedingRisks.map(
      (feedingRisk: FeedingRisk) => feedingRisk.feedingRisk
    );
  } else {
    feedingRisks.value = [];
  }
};

watch(storeFeedingRisks, () => {
  return updateFeedingRisksModel();
});

updateFeedingRisksModel();
</script>
