<template>
  <q-card-section v-if="client">
    <div
      v-if="
        accountStatus === 'No Account' ||
        accountStatus === 'Inactive' ||
        accountStatus === 'Pending'
      "
      id="addNewClientWarning"
    >
      <p>
        Converting a client to a user will allow them to login and view their
        own data.
      </p>
      <p v-if="accountStatus === 'Inactive'">
        {{ client.firstName }} already has an account but it was disabled.
        Clicking the button below will re-enable their account.
      </p>
      <p v-else>
        Enter the email of the client below, they will be able to complete their
        registration through their email.
      </p>
      <p>
        {{ client.firstName }} will have 24 hours to confirm their account.
        After which they would have to be invited again.
      </p>
      <p class="text-negative">
        Note that the client will be in charge of keeping their account secure
        and must be warned of the dangers of sharing thier password, or logging
        in from an insecure machine.
      </p>
    </div>
    <div v-else id="disableClientInfo">
      <p>
        Press confirm below to disable {{ client.firstName }}'s account and
        prevent them from logging in. You will still be able to view their
        details in the client page or reactive their account later.
      </p>
      <p>
        Press the switch below to notify {{ client.firstName }} by email that
        their account has been disabled.
      </p>
    </div>
    <q-toggle
      v-if="accountStatus === 'Inactive' || accountStatus === 'Active'"
      id="notifyByEmailToggle"
      :label="`Notify ${client.firstName} by email`"
      color="primary"
      :model-value="notifyByEmail"
      @update:model-value="setNotifyByEmail"
    />
    <div v-if="accountStatus === 'No Account' || accountStatus === 'Pending'">
      <q-input
        v-model="email"
        for="addNewClientEmailInput"
        :rules="emailRules"
        autofocus
        maxlength="256"
        label="New Email"
        required
        :error="emailErrors.length > 0"
        :error-message="emailErrors[0]"
        bottom-slots
        class="q-mb-lg"
        @keyup.enter="validate"
      />
      <div class="text-center text-subtitle1 q-mt-lg">Select Permissions</div>
      <div class="row justify-center items-center q-mb-sm">
        <q-badge color="warning">
          At least one permission must be selected.
        </q-badge>
      </div>

      <q-item class="clientFieldEdit" tag="label">
        <q-item-section avatar>
          <q-checkbox
            id="canViewCalendarToggle"
            v-model="canViewCalendar"
            :disable="!canViewOwnData"
          />
        </q-item-section>
        <q-item-section>
          <q-item-label>Allowed to view calendar</q-item-label>
          <q-item-label caption
            >Select this to allow {{ client.firstName }} to view a calendar
            page. From this page they can see what days of the week they're set
            to visit, as well as any events they've been explicitly invited
            to.</q-item-label
          >
        </q-item-section>
      </q-item>
      <q-item class="clientFieldEdit" tag="label">
        <q-item-section avatar>
          <q-checkbox
            id="canViewOwnDataToggle"
            v-model="canViewOwnData"
            :disable="!canViewCalendar"
          />
        </q-item-section>
        <q-item-section>
          <q-item-label>Allowed to view medical info</q-item-label>
          <q-item-label caption
            >Select this to allow {{ client.firstName }} to view their own
            medical info, similar to the page you see when you click a client in
            the clients page. (Name, Address, Doctor, Medical History,
            etc...)</q-item-label
          >
        </q-item-section>
      </q-item>
    </div>
  </q-card-section>
  <card-confirm-buttons
    v-if="accountStatus === 'Inactive'"
    confirm-button-text="Reactivate Account"
    confirm-button-color="primary"
    confirm-button-id="makeClientUserConfirmButton"
    @confirm-button-clicked="setClientUserActivated"
  />
  <card-confirm-buttons
    v-else-if="accountStatus === 'Active'"
    confirm-button-text="Deactivate Account"
    confirm-button-color="primary"
    confirm-button-id="makeClientUserConfirmButton"
    @confirm-button-clicked="setClientUserDeactivated"
  />
  <card-confirm-buttons
    v-else
    confirm-button-text="Send Invite"
    confirm-button-color="primary"
    confirm-button-id="makeClientUserConfirmButton"
    :confirm-button-valid="isValid"
    @confirm-button-clicked="sendRegistrationEmail"
  />
</template>

<script lang="ts" setup>
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import CardConfirmButtons from 'src/components/ui/CardConfirmButtons.vue';
import { useBasicStore } from 'src/stores/basicStore';

import { computed, ref, watch } from 'vue';
import { Notify, QCardSection, QInput } from 'quasar';
import { useClientStore } from 'src/stores/clientsStore';
import type { AxiosResponse } from 'axios';
import type CustomAxiosError from 'src/types/CustomAxiosError';

const basicStore = useBasicStore();
const clientStore = useClientStore();

const emit = defineEmits(['close-dialog']);

interface Props {
  clientId: number | undefined;
}
const props = withDefaults(defineProps<Props>(), {
  clientId: undefined
});

const email = ref('');
const canViewCalendar = ref(true);
const canViewOwnData = ref(false);

const emailErrors = ref<string[]>([]);
const notifyByEmail = ref(true);

const emailRules = [
  (emailValue: string): true | 'Email is required' =>
    !!emailValue || 'Email is required',
  (emailValue: string): true | 'Invalid Email Address' =>
    !!emailValue.match(/^[\w+.-]+@[\dA-Za-z-]+\.[\d.A-Za-z-]+$/) ||
    'Invalid Email Address'
];

watch(email, () => {
  emailErrors.value = [];
});

const setClientUserActivation = (
  active: boolean
): Promise<void | AxiosResponse> | null => {
  if (props.clientId) {
    return basicStore.http
      .post(`set-client-user-activation/${props.clientId}/`, {
        active,
        sendEmail: notifyByEmail.value
      })
      .then(() => {
        Notify.create({
          type: 'positive',
          message: `Account ${active ? 'R' : 'D'}eactivated!`
        });
        context.emit('close-dialog');
      })
      .catch(axiosFailed);
  }
  return null;
};

const sendRegistrationEmail = (): Promise<void> | null => {
  if (props.clientId) {
    return basicStore.http
      .post(`request-client-registration-email/${props.clientId}/`, {
        email: email.value,
        canViewCalendar: canViewCalendar.value,
        canViewOwnData: canViewOwnData.value
      })
      .then(context.sendEmailSuccess)
      .catch(requestEmailFail);
  }
  return null;
};

const requestEmailFail = (err: {
  response?: { data: { email?: string[] } };
}): void => {
  if (err.response?.data.email) {
    emailErrors.value = err.response.data.email;
  }
  return axiosFailed(err as CustomAxiosError);
};

const sendEmailSuccess = (): void => {
  context.emit('close-dialog');
  email.value = '';
  Notify.create({
    type: 'positive',
    message: 'Invite Sent!'
  });
};

const validate = (): Promise<void> | null => {
  if (isValid.value) {
    return context.sendRegistrationEmail();
  }
  return null;
};

const isValid = computed(
  () =>
    !!email.value &&
    !!email.value.match(/^[\w+.-]+@[\dA-Za-z-]+\.[\d.A-Za-z-]+$/)
);

const client = computed(() => {
  if (props.clientId) {
    return clientStore.clients[props.clientId];
  }
  return null;
});

const accountStatus = computed(() => {
  if (client.value) {
    return client.value.accountStatus;
  }
  return '';
});

const setNotifyByEmail = (newValue: boolean): void => {
  notifyByEmail.value = newValue;
};

const setClientUserActivated = (): Promise<void | AxiosResponse> | null => {
  return setClientUserActivation(true);
};

const setClientUserDeactivated = (): Promise<void | AxiosResponse> | null => {
  return setClientUserActivation(false);
};

const context = {
  sendRegistrationEmail,
  emit,
  sendEmailSuccess
};
</script>
