<template>
  <div class="flex-column">
    <q-card-section class="text-center"
      ><strong>Medications</strong></q-card-section
    >

    <responsive-table
      v-if="activeMedications && activeMedications.length > 0"
      :headers="medicationHeaders"
      :rows="activeMedications"
      default-sort="name"
      table-id="medicationsTable"
    >
      <template #name-edit="{ cellData }">
        <popup-edit
          v-if="!isClient"
          v-slot="scope"
          :model-id="cellData.id"
          field-name="name"
          :model="cellData.name"
          @save-data="updateMedication"
        >
          <q-input
            v-model="cellData.name"
            for="medicationEditNameField"
            dense
            maxlength="256"
            label="Medication Name"
            :rules="[v => !!v || 'Name is required']"
            @keyup.enter="scope.close"
          />
        </popup-edit>
      </template>
      <template #dosage-edit="{ cellData }">
        <popup-edit
          v-if="!isClient"
          v-slot="scope"
          :model-id="cellData.id"
          field-name="dosage"
          :model="cellData.dosage"
          @save-data="updateMedication"
        >
          <q-input
            v-model="cellData.dosage"
            for="medicationEditDosageField"
            dense
            maxlength="20"
            label="Medication Dosage"
            :rules="[v => !!v || 'Dosage is required']"
            @keyup.enter="scope.close"
          />
        </popup-edit>
      </template>
      <template #frequency-edit="{ cellData }">
        <popup-edit
          v-if="!isClient"
          v-slot="scope"
          :model-id="cellData.id"
          field-name="frequency"
          :model="cellData.frequency"
          @save-data="updateMedication"
        >
          <q-input
            v-model="cellData.frequency"
            for="medicationEditFrequencyField"
            dense
            maxlength="20"
            label="Medication Frequency"
            :rules="[v => !!v || 'Frequency is required']"
            @keyup.enter="scope.close"
          />
        </popup-edit>
      </template>
      <template #actions="{ cellData }">
        <q-btn
          flat
          round
          color="negative"
          class="deleteMedicationButton"
          :icon="mdiDelete"
          @click="deleteMedication(cellData.id)"
        />
        <q-btn
          flat
          round
          color="info"
          class="archiveMedicationButton"
          :icon="mdiArchive"
          @click="archiveMedication(cellData.id, true)"
        />
      </template>
    </responsive-table>

    <div class="text-center">
      <q-btn-group rounded>
        <q-btn
          v-if="!isClient"
          id="addMedicationButton"
          rounded
          class="mr-auto mb-3 mt-0 ml-auto"
          color="primary"
          small
          @click="openMedicationDialog"
          >Add Medication</q-btn
        >
        <q-separator />
        <q-btn
          v-if="archivedMedications.length > 0"
          id="openArchiveButton"
          rounded
          class="mr-auto mb-3 mt-0 ml-auto"
          color="primary"
          small
          @click="openArchiveDialog"
          >Past Medications</q-btn
        >
      </q-btn-group>
    </div>

    <dialog-card
      dialog-id="createMedicationDialog"
      card-title="Create New Medication"
      :prop-show-dialog="showCreateMedicationDialog"
      @set-dialog="setCreateMedicationDialog"
    >
      <q-card-section id="medicationCreateSection">
        <q-input
          v-model="newMedicationName"
          for="medicationCreateNameField"
          maxlength="256"
          label="Name"
          autofocus
        />
        <q-input
          v-model="newMedicationDosage"
          for="medicationCreateDosageField"
          maxlength="20"
          label="Dosage"
        />
        <q-input
          v-model="newMedicationFrequency"
          for="medicationCreateFrequencyField"
          maxlength="40"
          label="Frequency"
        />
      </q-card-section>
      <card-confirm-buttons
        confirm-button-id="createMedicationSubmitButton"
        confirm-button-text="Create Medication"
        confirm-button-color="positive"
        :confirm-button-valid="validCreate"
        @confirm-button-clicked="createMedication"
      />
    </dialog-card>

    <dialog-card
      dialog-id="archiveDialog"
      card-title="Archived Medications"
      :prop-show-dialog="showArchiveDialog"
      @set-dialog="setArchiveDialog"
    >
      <q-card-section>
        <responsive-table
          v-if="archivedMedications && archivedMedications.length > 0"
          :headers="medicationArchiveHeaders"
          :rows="archivedMedications"
          :sort-by="['name']"
          table-id="archivedMedicationsTable"
        >
          <template #inactiveDate="{ cellData }">
            {{ formatDate(cellData.inactiveDate) }}
          </template>
          <template #actions="{ cellData }">
            <q-btn
              flat
              round
              color="negative"
              class="deleteMedicationButton"
              :icon="mdiDelete"
              @click="deleteMedication(cellData.id)"
            />
            <q-btn
              flat
              round
              color="info"
              class="archiveMedicationButton"
              :icon="mdiArchiveArrowUp"
              @click="archiveMedication(cellData.id, false)"
            />
          </template>
        </responsive-table>
      </q-card-section>
    </dialog-card>
  </div>
</template>

<script lang="ts" setup>
import { mdiArchive, mdiArchiveArrowUp, mdiDelete } from '@mdi/js';
import { format, formatISO, parseISO } from 'date-fns';
import { computed, ref, watch } from 'vue';
import { useClientStore } from 'src/stores/clientsStore';
import { useBasicStore } from 'src/stores/basicStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import ResponsiveTable from 'src/components/ui/ResponsiveTable.vue';
import DialogCard from 'src/components/ui/DialogCard.vue';
import CardConfirmButtons from 'src/components/ui/CardConfirmButtons.vue';
import PopupEdit from 'src/components/ui/PopupEdit.vue';
import isClient from 'src/functions/auth/isClient';
import type Medication from 'src/types/Medication';
import type { AxiosResponse } from 'axios';

interface Props {
  clientId?: number;
}
const props = withDefaults(defineProps<Props>(), {
  clientId: undefined
});

const clientStore = useClientStore();
const basicStore = useBasicStore();

const showArchiveDialog = ref(false);

const showCreateMedicationDialog = ref(false);

const newMedicationName = ref('');

const newMedicationDosage = ref('');

const newMedicationFrequency = ref('');

const formatDate = (date: string): string => {
  const parsedDate = parseISO(date);
  return format(parsedDate, 'dd/MM/yy');
};

const medications = computed(() => {
  if (
    props.clientId &&
    props.clientId in clientStore.clients &&
    clientStore.clients[props.clientId].medications
  ) {
    return clientStore.clients[props.clientId].medications as Medication[];
  }
  return [];
});

const activeMedications = computed(() => {
  return medications.value.filter((medication: Medication) => {
    if (medication.inactiveDate) {
      const now = new Date();
      const inactiveDate = new Date(medication.inactiveDate);
      return inactiveDate > now;
    }
    return true;
  });
});

const archivedMedications = computed(() => {
  return medications.value.filter((medication: Medication) => {
    if (medication.inactiveDate) {
      const now = new Date();
      const inactiveDate = new Date(medication.inactiveDate);
      return inactiveDate <= now;
    }
    return false;
  });
});

const medicationHeaders = computed(() => {
  const headers = [
    { label: 'Name', name: 'name', field: 'name', sortable: true },
    { label: 'Dosage', name: 'dosage', field: 'dosage', sortable: false },
    {
      label: 'Frequency',
      name: 'frequency',
      field: 'frequency',
      sortable: false
    }
  ];
  if (!isClient.value) {
    headers.push({
      label: 'Actions',
      name: 'actions',
      field: 'actions',
      sortable: false
    });
  }
  return headers;
});
const medicationArchiveHeaders = computed(() => {
  const archiveHeaders = [...medicationHeaders.value];
  archiveHeaders.splice(3, 0, {
    label: 'End Date',
    name: 'inactiveDate',
    field: 'inactiveDate',
    sortable: true
  });
  return archiveHeaders;
});

const createMedication = (): Promise<void> => {
  return basicStore.http
    .post('medications/', {
      name: newMedicationName.value,
      dosage: newMedicationDosage.value,
      frequency: newMedicationFrequency.value,
      client: props.clientId
    })
    .then(() => {
      showCreateMedicationDialog.value = false;
    })
    .catch(axiosFailed);
};

const openMedicationDialog = (): void => {
  newMedicationName.value = '';
  newMedicationDosage.value = '';
  newMedicationFrequency.value = '';
  showCreateMedicationDialog.value = true;
};

const openArchiveDialog = (): void => {
  showArchiveDialog.value = true;
};

const deleteMedication = (
  medicationId: number
): Promise<void | AxiosResponse> => {
  return basicStore.http
    .delete(`medications/${medicationId}/delete/`)
    .catch(axiosFailed);
};

const archiveMedication = (
  medicationId: number,
  archive: boolean
): Promise<void | AxiosResponse> => {
  const inactiveDate = archive
    ? formatISO(new Date(), { representation: 'date' })
    : null;
  return basicStore.http
    .patch(`medications/${medicationId}/update/`, {
      inactiveDate
    })
    .catch(axiosFailed);
};

const updateMedication = (
  medicationId: number,
  fieldName: keyof Medication,
  newValue: string
): Promise<void | AxiosResponse> => {
  return basicStore.http
    .patch(`medications/${medicationId}/update/`, {
      [fieldName]: newValue
    })
    .catch(axiosFailed);
};

const setCreateMedicationDialog = (newValue: boolean): void => {
  showCreateMedicationDialog.value = newValue;
};

const setArchiveDialog = (newValue: boolean): void => {
  showArchiveDialog.value = newValue;
};

watch(archivedMedications, () => {
  if (archivedMedications.value.length === 0) {
    setArchiveDialog(false);
  }
});

const validCreate = computed(
  () =>
    !!newMedicationName.value &&
    !!newMedicationDosage.value &&
    !!newMedicationFrequency.value
);
</script>
