<template>
  <q-card class="q-pa-sm q-ma-sm">
    <q-card-section v-if="props.centreId">
      <div class="centreNeedsCentreHeader text-h6">
        {{ centreStore.centres[props.centreId].name }}
      </div>
    </q-card-section>
    <q-card-section v-if="centreNeeds.length > 0">
      <q-select
        :model-value="selectedNeeds"
        for="clientNeedsInput"
        filled
        label="Select Needs For Centre"
        use-input
        multiple
        class="needsCentresList"
        use-chips
        input-debounce="0"
        :options="filterNeedsOptions"
        style="width: 100%"
        :behavior="selectBehaviour"
        :rules="[required]"
        @filter="needsFilter"
        @update:model-value="updateNeeds"
      >
        <template #option="{ itemProps, opt }">
          <q-item v-bind="itemProps">
            <q-item-section>
              <q-item-label>{{ opt.description }}</q-item-label>
              <q-item-label caption>{{ opt.plan }}</q-item-label>
            </q-item-section>
            <q-item-section v-if="itemProps.active" side>
              <q-btn
                round
                flat
                class="planEditButton"
                :icon="mdiClipboardEdit"
                @click.stop="openPlanDialog(opt)"
              >
                <popup-edit
                  field-name="plan"
                  :model="planDescription"
                  :save-button="true"
                  @save-data="updatePlan"
                >
                  <q-input
                    v-if="selectedNeed && props.clientId"
                    v-model="planDescription"
                    class="editPlanDescriptionField"
                    maxlength="256"
                    style="min-width: 300px"
                    type="textarea"
                    for="needPlanInput"
                    :rules="[v => !!v || 'Plan is required']"
                    :label="`Add ${
                      clientStore.clients[props.clientId].firstName
                    }'s plan for '${selectedNeed.description}'`"
                  />
                </popup-edit>
              </q-btn>
            </q-item-section>
          </q-item>
        </template>
      </q-select>
    </q-card-section>
    <q-card-section v-else id="noNeedsText">
      There are no needs for this centre, edit the centre and add some
    </q-card-section>
    <q-card-actions>
      <q-btn
        id="needsViewCentreButton"
        text
        class="full-width"
        color="primary"
        @click="showCentreDialog = true"
      >
        View Centre
      </q-btn>
    </q-card-actions>
    <dialog-card
      v-if="props.centreId"
      dialog-id="centreDialog"
      :card-title="centreStore.centres[props.centreId].name"
      :prop-show-dialog="showCentreDialog"
      @set-dialog="setCentreDialog"
    >
      <centre-dialog
        v-if="centreId"
        :centre-id="centreId"
        @close-dialog="closeCentreDialog"
      />
    </dialog-card>
  </q-card>
</template>
<script lang="ts" setup>
import { mdiClipboardEdit } from '@mdi/js';
import { computed, ref, watch } from 'vue';
import { useBasicStore } from 'src/stores/basicStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import { useCentreStore } from 'src/stores/centresStore';
import { useClientStore } from 'src/stores/clientsStore';
import DialogCard from 'src/components/ui/DialogCard.vue';
import PopupEdit from 'src/components/ui/PopupEdit.vue';
import { useQuasar } from 'quasar';
import CentreDialog from '../centres/CentreDialog.vue';
import type { AxiosResponse } from 'axios';
import type ClientNeed from 'src/types/ClientNeed';
import type Need from 'src/types/Need';

interface ReadableNeed extends Need {
  clientNeedId: number;
  isActive: boolean;
}

interface Props {
  clientId?: number;
  centreId?: number;
}
const props = withDefaults(defineProps<Props>(), {
  clientId: undefined,
  centreId: undefined
});
const $q = useQuasar();
const basicStore = useBasicStore();
const centreStore = useCentreStore();
const clientStore = useClientStore();

const selectedNeeds = ref<ReadableNeed[]>([]);
const previousSelectedNeeds = ref<ReadableNeed[]>([]);
const showCentreDialog = ref(false);
const showEditPlanDialog = ref(false);
const planDescription = ref('');
const selectedNeed = ref<ReadableNeed | null>(null);

const updateNeeds = (
  newSelectedNeeds: ReadableNeed[] | undefined
): Promise<void | AxiosResponse> | null => {
  // When user selects a need, compare the selected needs with the previous values
  // to find if a need was selected or removed (combobox does not currently
  // support getting when items are added or removed, it returns the entire
  // object).
  // If a clientNeed already exists and a user selected it, mark it as active.
  // If deselected, mark inactive (it will exist).
  // If the clientNeed does not exist, create it.
  if (newSelectedNeeds && newSelectedNeeds.length > 0 && props.clientId) {
    const difference = getSelectedNeedDifference(
      newSelectedNeeds,
      previousSelectedNeeds.value
    );
    if (difference) {
      if (difference.item.clientNeedId) {
        // client need exists, just mark it (in)active
        return basicStore.http
          .patch(`clientNeeds/${difference.item.clientNeedId}/update/`, {
            isActive: difference.added
          })
          .catch(axiosFailed);
      } else {
        // client need does not exist, create one
        return basicStore.http
          .post(`clientNeeds/`, {
            need: difference.item.id,
            centre: props.centreId,
            plan: difference.item.plan,
            client: props.clientId
          })
          .catch(axiosFailed);
      }
    }
  }
  return null;
};

const getSelectedNeedDifference = (
  newSelectedNeeds: ReadableNeed[],
  oldSelectedNeeds: ReadableNeed[]
): { added: boolean; item: ReadableNeed } | null => {
  // get old and new selected values and return whether a value was added or
  // removed
  const added = newSelectedNeeds.filter(
    (need: ReadableNeed) => !oldSelectedNeeds.includes(need)
  );
  const removed = oldSelectedNeeds.find(
    (need: ReadableNeed) => !newSelectedNeeds.includes(need)
  );
  if (added.length > 0) {
    return { added: true, item: added[0] };
  }
  if (removed) {
    return { added: false, item: removed };
  }
  return null;
};

const centreNeeds = computed(() => {
  if (
    props.centreId &&
    props.centreId in centreStore.centres &&
    centreStore.centres[props.centreId].needs
  ) {
    const needs = centreStore.centres[props.centreId].needs as number[];
    return needs
      .map((needId: number) => centreStore.needs[needId])
      .filter((need: Need | undefined) => need)
      .sort((a: Need, b: Need) => a.description.localeCompare(b.description))
      .map((need: Need) => {
        return { plan: '', value: need.id, label: need.description, ...need };
      });
  }
  return [];
});

const filterNeedsOptions = ref(centreNeeds.value);

const openPlanDialog = (need: ReadableNeed): void => {
  selectedNeed.value = need;
  planDescription.value = '';
  if (need.plan) {
    planDescription.value = need.plan;
  }
  showEditPlanDialog.value = true;
};

const updatePlan = (
  _: undefined,
  _1: string,
  newPlan: string
): Promise<void | AxiosResponse> | null => {
  if (selectedNeed.value) {
    return basicStore.http
      .patch(`clientNeeds/${selectedNeed.value.clientNeedId}/update/`, {
        plan: newPlan
      })
      .catch(axiosFailed);
  }
  return null;
};

const required = (needs: Need[]): string | boolean => {
  return needs.length === 0 ? 'At least one need is required' : !!needs;
};

const clientNeeds = computed(() => {
  if (
    props.clientId &&
    props.clientId in clientStore.clients &&
    clientStore.clients[props.clientId].needs
  ) {
    const needs = clientStore.clients[props.clientId].needs as number[];
    return needs
      .filter((clientNeedId: number) => clientNeedId in clientStore.clientNeeds)
      .map((clientNeedId: number) => ({
        ...clientStore.clientNeeds[clientNeedId],
        valid: true
      }));
  }
  return [];
});

watch([clientNeeds, centreNeeds], () => {
  return updateNeedsModel();
});

watch(selectedNeeds, () => {
  return updateNeeds(selectedNeeds.value);
});

const updateNeedsModel = (): void => {
  if (props.centreId && props.clientId) {
    const needs: ReadableNeed[] = [];
    clientNeeds.value
      .filter((clientNeed: ClientNeed) => clientNeed.centre === props.centreId)
      .forEach((clientNeed: ClientNeed) => {
        const centreNeed = centreNeeds.value.find(
          (need: Need) => need.id === clientNeed.need
        ) as ReadableNeed | undefined;
        if (centreNeed) {
          centreNeed.plan = clientNeed.plan;
          centreNeed.clientNeedId = clientNeed.id;
          needs.push({
            ...centreNeed,
            isActive: clientNeed.isActive
          });
        }
      });
    const activeNeeds = needs.filter((need: ReadableNeed) => need.isActive);
    previousSelectedNeeds.value = activeNeeds;
    selectedNeeds.value = activeNeeds;
  }
};

const needsFilter = (val: string, update: (arg0: () => void) => void): void => {
  update(() => {
    if (val === '') {
      filterNeedsOptions.value = centreNeeds.value;
    } else {
      const needle = val.toLowerCase();
      filterNeedsOptions.value = centreNeeds.value.filter(centreNeed =>
        centreNeed.description.toLowerCase().includes(needle)
      );
    }
  });
};

const setCentreDialog = (newValue: boolean): void => {
  showCentreDialog.value = newValue;
};

const closeCentreDialog = (): void => {
  showCentreDialog.value = false;
};

const selectBehaviour = computed(() => {
  return $q.screen.xs ? 'dialog' : 'menu';
});

updateNeedsModel();
</script>
