<template>
  <q-card flat class="flex-column ma-0">
    <q-card-section class="text-center"
      ><strong>Next Of Kin</strong></q-card-section
    >
    <responsive-table
      v-if="nextOfKin && nextOfKin.length > 0"
      :headers="nextOfKinHeaders"
      :rows="nextOfKin"
      default-sort="name"
      table-id="nextOfKinTable"
    >
      <template #name-edit="{ cellData }">
        <popup-edit
          v-if="!isClient"
          v-slot="scope"
          :model-id="cellData.id"
          field-name="name"
          :model="cellData.name"
          @save-data="updateNextOfKin"
        >
          <q-input
            v-model="cellData.name"
            for="nextOfKinEditNameField"
            dense
            maxlength="256"
            label="Name"
            :rules="[v => !!v || 'Name is required']"
            @keyup.enter="scope.close"
          />
        </popup-edit>
      </template>

      <template #phoneNumber-edit="{ cellData }">
        <popup-edit
          v-if="!isClient"
          v-slot="scope"
          :model-id="cellData.id"
          field-name="phoneNumber"
          :model="cellData.phoneNumber"
          @save-data="updateNextOfKin"
        >
          <q-input
            v-model="cellData.phoneNumber"
            for="nextOfKinEditPhoneNumberField"
            dense
            label="Phone Number"
            type="tel"
            :rules="[v => !!v || 'Phone Number is required']"
            @keyup.enter="scope.close"
          />
        </popup-edit>
      </template>
      <template #actions="{ cellData }">
        <q-btn
          flat
          round
          :color="deleteButtonColor"
          class="deleteNextOfKinButton"
          :icon="mdiAccountRemove"
          @click="deleteNextOfKin(cellData.id)"
        >
          <tooltip
            v-if="nextOfKin.length == 1"
            class="nokWarningTooltip"
            tooltip-text="At least one next of kin must exist"
          />
        </q-btn>
      </template>
    </responsive-table>
    <div v-if="!isClient" class="text-center">
      <q-btn
        id="addNextOfKinButton"
        rounded
        class="mr-auto mb-3 mt-0 ml-auto"
        color="primary"
        small
        @click="openNextOfKinDialog"
        >Add Next Of Kin</q-btn
      >
    </div>

    <dialog-card
      dialog-id="createNextOfKinDialog"
      card-title="Create New Next Of Kin"
      :prop-show-dialog="showCreateNextOfKinDialog"
      @set-dialog="setCreateNextOfKinDialog"
    >
      <q-card-section id="nextOfKinCreateSection">
        <q-input
          v-model="newNOKName"
          for="nextOfKinCreateNameField"
          maxlength="256"
          label="Name"
        />
        <q-input
          v-model="newNOKPhoneNumber"
          for="nextOfKinCreatePhoneNumberField"
          maxlength="20"
          type="tel"
          label="Phone Number"
        />
      </q-card-section>
      <card-confirm-buttons
        confirm-button-id="createNextOfKinSubmitButton"
        confirm-button-text="Create Next Of Kin"
        confirm-button-color="positive"
        :confirm-button-valid="nextOfKinValid"
        @confirm-button-clicked="createNextOfKin"
      />
    </dialog-card>
  </q-card>
</template>

<script lang="ts" setup>
import { mdiAccountRemove } from '@mdi/js';
import { computed, ref } from 'vue';
import { useClientStore } from 'src/stores/clientsStore';
import { useBasicStore } from 'src/stores/basicStore';
import ResponsiveTable from 'src/components/ui/ResponsiveTable.vue';
import CardConfirmButtons from 'src/components/ui/CardConfirmButtons.vue';
import DialogCard from 'src/components/ui/DialogCard.vue';
import PopupEdit from 'src/components/ui/PopupEdit.vue';
import Tooltip from 'src/components/ui/Tooltip.vue';

import axiosFailed from 'src/functions/proxy/AxiosFailed';
import isClient from 'src/functions/auth/isClient';
import type NextOfKin from 'src/types/NextOfKin';
import type { AxiosResponse } from 'axios';

const basicStore = useBasicStore();
const clientStore = useClientStore();

const showCreateNextOfKinDialog = ref(false);

const newNOKPhoneNumber = ref('');

const newNOKName = ref('');

interface Props {
  clientId?: number;
}
const props = withDefaults(defineProps<Props>(), {
  clientId: undefined
});

const nextOfKin = computed(() => {
  if (
    props.clientId &&
    props.clientId in clientStore.clients &&
    clientStore.clients[props.clientId].nextOfKin
  ) {
    return clientStore.clients[props.clientId].nextOfKin;
  }
  return [];
});

const nextOfKinValid = computed(
  () => !!newNOKPhoneNumber.value && !!newNOKName.value
);

const deleteButtonColor = computed(() => {
  return nextOfKin.value?.length === 1 ? 'grey' : 'negative';
});

const nextOfKinHeaders = computed(() => {
  const headers = [
    { label: 'Name', name: 'name', field: 'name', sortable: true },
    {
      label: 'Phone Number',
      name: 'phoneNumber',
      field: 'phoneNumber',
      sortable: false
    }
  ];
  if (!isClient.value) {
    headers.push({
      label: 'Actions',
      name: 'actions',
      field: 'actions',
      sortable: false
    });
  }
  return headers;
});

const createNextOfKin = (): Promise<void> => {
  return basicStore.http
    .post('nextOfKin/', {
      name: newNOKName.value,
      phoneNumber: newNOKPhoneNumber.value,
      client: props.clientId
    })
    .then(() => {
      showCreateNextOfKinDialog.value = false;
    })
    .catch(axiosFailed);
};

const openNextOfKinDialog = (): void => {
  newNOKName.value = '';
  newNOKPhoneNumber.value = '';
  showCreateNextOfKinDialog.value = true;
};

const deleteNextOfKin = (
  nextOfKinId: number
): Promise<void | AxiosResponse> | null => {
  if (nextOfKin.value?.length !== 1) {
    return basicStore.http
      .delete(`nextOfKin/${nextOfKinId}/delete/`)
      .catch(axiosFailed);
  }
  return null;
};

const updateNextOfKin = (
  nextOfKinId: number,
  fieldName: keyof NextOfKin,
  newValue: string
): Promise<void | AxiosResponse> => {
  return basicStore.http
    .patch(`nextOfKin/${nextOfKinId}/update/`, {
      [fieldName]: newValue
    })
    .catch(axiosFailed);
};

const setCreateNextOfKinDialog = (newValue: boolean): void => {
  showCreateNextOfKinDialog.value = newValue;
};
</script>
