<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Your YAPCA account was deactivated</title>
</head>

<body>
    <p>Hello {{ displayName }}!</p>
    <p>An administrator has deactivated your account. Please make contact with them if you think this was a mistake.</p>
    {% include "email/footer/footer.html" %}
</body>

</html>