<template>
  <q-card-section>
    <div id="addNewUserWarning">
      <div class="text-center text-h6 mt-3">
        <q-icon size="xl" :name="mdiAlert" color="warning" />
        <p>WARNING</p>
      </div>
      <p>
        The owner of the email address you write below will be able to make a
        new nurse account and view/edit private client data.
      </p>
      <p>Please make sure you enter the correct email address.</p>
      <p>
        The new user will have 24 hours to confirm their account. After which
        they would have to be invited again.
      </p>
      <p>Only allow the user access to centres they are a part of.</p>
    </div>
    <q-form id="addNewUserForm" class="q-ma-sm" @submit.prevent>
      <q-input
        v-model="displayName"
        for="addNewUserDisplayNameInput"
        :rules="displayNameRules"
        autofocus
        label="Display Name"
        required
      />
      <q-input
        v-model="email"
        for="addNewUserEmailInput"
        :rules="emailRules"
        autofocus
        maxlength="256"
        label="New Email"
        required
        :error="emailErrors.length > 0"
        :error-message="emailErrors[0]"
        bottom-slots
        @keyup.enter="validate"
      />
      <centre-select
        :display-name="displayName"
        :creating-new-user="true"
        @update-selected-centres="updateSelectedCentres"
      />
    </q-form>
  </q-card-section>
  <card-confirm-buttons
    confirm-button-text="Send Registration Email"
    confirm-button-color="primary"
    :confirm-button-valid="isValid"
    @confirm-button-clicked="sendRegistrationEmail"
  />
</template>

<script lang="ts" setup>
import { mdiAlert } from '@mdi/js';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import CardConfirmButtons from 'src/components/ui/CardConfirmButtons.vue';
import { useBasicStore } from 'src/stores/basicStore';

import { computed, ref, watch } from 'vue';
import { Notify, QCardSection, QForm, QIcon, QInput } from 'quasar';
import CentreSelect from './CentreSelect.vue';
import type CustomAxiosError from 'src/types/CustomAxiosError';

const basicStore = useBasicStore();
const emit = defineEmits(['close-dialog']);

const email = ref('');
const emailErrors = ref<string[]>([]);
const displayName = ref('');
const selectedCentres = ref<number[]>([]);

const displayNameRules = [
  (displayNameValue: string): true | 'Display name is required' =>
    !!displayNameValue || 'Display name is required'
];

const emailRules = [
  (emailValue: string): true | 'Email is required' =>
    !!emailValue || 'Email is required',
  (emailValue: string): true | 'Invalid Email Address' =>
    !!emailValue.match(/^[\w+.-]+@[\dA-Za-z-]+\.[\d.A-Za-z-]+$/) ||
    'Invalid Email Address'
];

watch(email, () => {
  emailErrors.value = [];
});

const sendRegistrationEmail = (): Promise<void> => {
  return basicStore.http
    .post('request-registration-email/', {
      email: email.value,
      displayName: displayName.value,
      centres: selectedCentres.value
    })
    .then(() => context.sendEmailSuccess())
    .catch((err: CustomAxiosError) => requestEmailFail(err));
};

const requestEmailFail = (err: CustomAxiosError): void => {
  if (err.response?.data?.email) {
    emailErrors.value = err.response.data.email;
  }
  return axiosFailed(err);
};

const sendEmailSuccess = (): void => {
  context.emit('close-dialog');
  displayName.value = '';
  email.value = '';
  Notify.create({
    type: 'positive',
    message: 'Registration Email Sent!'
  });
};

const updateSelectedCentres = (updatedCentreId: number, add: boolean): void => {
  if (add) {
    selectedCentres.value.push(updatedCentreId);
  } else {
    selectedCentres.value = selectedCentres.value.filter(
      centre => centre !== updatedCentreId
    );
  }
};
const validate = (): Promise<void> | null => {
  if (isValid.value) {
    return context.sendRegistrationEmail();
  }
  return null;
};

const isValid = computed(
  () =>
    !!email.value &&
    !!email.value.match(/^[\w+.-]+@[\dA-Za-z-]+\.[\d.A-Za-z-]+$/) &&
    !!displayName.value &&
    selectedCentres.value.length > 0
);
const context = {
  sendRegistrationEmail,
  emit,
  sendEmailSuccess
};
</script>
