<template>
  <q-list
    v-if="props.displayName"
    id="addUserCentresList"
    class="full-width q-pt-md q-pb-md"
  >
    <span>Select Centres for {{ props.displayName }}</span
    ><br />
    <small
      >You can only subscribe {{ props.displayName }} to centres you are already
      subscribed to.</small
    >
    <q-item
      v-for="(centre, i) in centres"
      :key="`item-${i}`"
      tag="label"
      class="addUserCentreSelectListItem"
    >
      <q-item-section side top>
        <q-checkbox
          class="addUserCentreSelectListItemCheckbox"
          :model-value="selectedCentres"
          :val="centre.centre.id"
          @click="openWarningDialog(centre)"
        />
      </q-item-section>
      <q-item-section>
        <q-item-label class="centreName">{{ centre.centre.name }}</q-item-label>
      </q-item-section>
    </q-item>
    <small id="addUserCentreSelectErrorCode" class="text-negative">{{
      errorCode
    }}</small>
  </q-list>
  <dialog-card
    v-if="selectedWarningCentre"
    dialog-id="userChangeCentreWarningDialog"
    :card-title="centreWarningHeaderText"
    :prop-show-dialog="userChangeCentreWarning"
    max-width="600"
    @set-dialog="setCentreWarningValue"
  >
    <user-change-centre-warning-dialog
      :subscribe="selectedWarningCentreSubscribe"
      :centre-name="selectedWarningCentre.centre.name"
      :display-name="props.displayName"
      @continue-centre-update="continueCentreUpdate"
      @close-dialog="setUserChangeCentreWarningFalse"
    />
  </dialog-card>
</template>

<script lang="ts" setup>
import { computed, ref, watch } from 'vue';
import { useCentreStore } from 'src/stores/centresStore';
import { useUserStore } from 'src/stores/userStore';
import DialogCard from 'src/components/ui/DialogCard.vue';

import UserChangeCentreWarningDialog from './UserChangeCentreWarningDialog.vue';
import type Centre from 'src/types/Centre';

interface Props {
  displayName?: string;
  userId?: number;
  creatingNewUser?: boolean;
}
const props = withDefaults(defineProps<Props>(), {
  displayName: '',
  userId: undefined,
  creatingNewUser: false
});
const emit = defineEmits(['update-selected-centres']);

const centreStore = useCentreStore();
const userStore = useUserStore();

const selectedWarningCentre = ref<{
  centre: Centre;
  active: boolean;
} | null>(null);

const selectedCentres = ref<number[]>([]);

const selectedWarningCentreSubscribe = ref(false);

const userChangeCentreWarning = ref(false);

const centres = computed(() => {
  return Object.keys(centreStore.centres)
    .map(centreKey => {
      return {
        active: selectedCentres.value.includes(
          centreStore.centres[centreKey].id
        ),
        centre: centreStore.centres[centreKey]
      };
    })
    .filter(centre => centre.centre.setupComplete)
    .filter(centre => userStore.user.centres?.includes(centre.centre.id));
});

const selectedUserCentres = computed(() => {
  if (props.userId && props.userId in userStore.users) {
    return userStore.users[props.userId].centres;
  }
  return null;
});

watch(
  selectedUserCentres,
  () => {
    if (selectedUserCentres.value) {
      selectedCentres.value = Object.keys(centreStore.centres)
        .map(centreKey => centreStore.centres[centreKey].id)
        .filter(centre => selectedUserCentres.value?.includes(centre));
    }
  },
  { immediate: true }
);

const openWarningDialog = (centreToUpdate: {
  centre: Centre;
  active: boolean;
}): void => {
  if (props.creatingNewUser) {
    updateCentre(centreToUpdate);
  } else {
    selectedWarningCentre.value = centreToUpdate;
    selectedWarningCentreSubscribe.value = !selectedCentres.value.includes(
      centreToUpdate.centre.id
    );
    userChangeCentreWarning.value = true;
  }
};

const updateCentre = (centreToUpdate: {
  centre: Centre;
  active: boolean;
}): void => {
  userChangeCentreWarning.value = false;
  if (!selectedCentres.value.includes(centreToUpdate.centre.id)) {
    selectedCentres.value.push(centreToUpdate.centre.id);
  } else {
    selectedCentres.value = selectedCentres.value.filter(
      centre => centre !== centreToUpdate.centre.id
    );
  }
  context.emit(
    'update-selected-centres',
    centreToUpdate.centre.id,
    !centreToUpdate.active
  );
};

const errorCode = computed(() => {
  if (selectedCentres.value.length <= 0) {
    return 'At least one centre must be selected';
  }
  return '';
});

const centreWarningHeaderText = computed(() => {
  if (selectedWarningCentre.value) {
    if (selectedWarningCentreSubscribe.value) {
      return `Subscribe ${props.displayName} to ${selectedWarningCentre.value.centre.name}?`;
    }
    return `Unsubscribe ${props.displayName} from ${selectedWarningCentre.value.centre.name}?`;
  }
  return '';
});

const setCentreWarningValue = (newValue: boolean): void => {
  userChangeCentreWarning.value = newValue;
};

const setUserChangeCentreWarningFalse = (): void => {
  userChangeCentreWarning.value = false;
};

const continueCentreUpdate = (): void => {
  if (selectedWarningCentre.value) {
    updateCentre(selectedWarningCentre.value);
  }
};

const context = {
  emit
};
</script>
