<template>
  <q-card-section>
    <q-select
      id="editUserDialogGroupInput"
      :model-value="selectedGroup"
      :options="groups"
      item-text="name"
      label="Group"
      @update:model-value="setSelectedGroup"
    />
  </q-card-section>
  <q-card-actions>
    <div class="row full-width">
      <div class="flex col-12 col-sm-6 q-pa-sm">
        <q-btn
          id="openChangeEmailDialogButton"
          color="primary"
          class="full-width"
          @click="showChangeEmailDialog = true"
          >Change Email
        </q-btn>
      </div>
      <div class="flex col-12 col-sm-6 q-pa-sm">
        <q-btn
          id="resetOtpButton"
          color="primary"
          class="full-width"
          @click="showResetOtpModal = true"
          >Reset TOTP Device
        </q-btn>
      </div>
      <div v-if="selectedUser.id" class="flex col-12 q-pa-sm">
        <centre-select
          v-if="props.selectedUser.group !== 'client'"
          :display-name="selectedUser.displayName"
          :user-id="selectedUser.id"
          @update-selected-centres="updateSelectedCentres"
        />
        <div v-else class="text-center full-width">
          To change {{ props.selectedUser.displayName }}'s centres, view their
          client page below.
          <q-btn
            id="goToClientPageButton"
            color="primary"
            class="full-width"
            @click="showClientDialog = true"
            >Show Client Info
          </q-btn>
        </div>
      </div>
      <div class="flex col-12 q-pa-sm">
        <q-btn
          id="deleteUserButton"
          color="negative"
          class="full-width"
          @click="showDeleteUserDialog = true"
          >Delete User</q-btn
        >
      </div>
    </div>
  </q-card-actions>
  <dialog-card
    dialog-id="deleteUserDialog"
    :card-title="`Delete ${selectedUser.displayName}`"
    :prop-show-dialog="showDeleteUserDialog"
    @set-dialog="setDeleteUserDialog"
  >
    <q-card-section id="deleteUserDialogText">
      Deleting {{ selectedUser.displayName }} will make their account
      PERMANENTLY unrecoverable
    </q-card-section>
    <card-confirm-buttons
      :back-button="true"
      :confirm-button-text="`Delete ${selectedUser.displayName}`"
      confirm-button-color="negative"
      @confirm-button-clicked="deleteUser"
      @go-back-button-clicked="setDeleteUserDialogFalse"
    />
  </dialog-card>
  <dialog-card
    v-if="selectedUser.id"
    dialog-id="changeEmailDialog"
    :card-title="`Change ${selectedUser.displayName}'s Email`"
    :prop-show-dialog="showChangeEmailDialog"
    max-width="600"
    @set-dialog="setChangeEmailDialog"
  >
    <change-email
      :admin="true"
      :user-id="selectedUser.id"
      @close-dialog="closeEmailDialog"
    />
  </dialog-card>
  <dialog-card
    v-if="selectedUser.id"
    dialog-id="resetOtpModal"
    :card-title="`Change ${selectedUser.displayName}'s TOTP Device`"
    :prop-show-dialog="showResetOtpModal"
    max-width="600"
    @set-dialog="setResetOtpDialog"
  >
    <reset-otp-admin-modal
      :user-id="selectedUser.id"
      @close-dialog="closeOtpResetModal"
    />
  </dialog-card>
  <dialog-card
    v-if="selectedUser.id && selectedUser.displayName"
    dialog-id="clientDialog"
    :card-title="selectedUser.displayName"
    :prop-show-dialog="showClientDialog"
    min-width="90%"
    :header-color="selectedClientHeaderColor"
    @set-dialog="setClientDialog"
  >
    <template #header-buttons>
      <client-card-header-buttons :client-id="selectedUser.client" />
    </template>
    <client-dialog
      :client-id="selectedUser.client"
      @close-dialog="closeClientDialog"
    />
  </dialog-card>
</template>
<script lang="ts" setup>
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import { useBasicStore } from 'src/stores/basicStore';
import { computed, ref, watch } from 'vue';
import { Notify } from 'quasar';
import DialogCard from 'src/components/ui/DialogCard.vue';
import CardConfirmButtons from 'src/components/ui/CardConfirmButtons.vue';
import { useClientStore } from 'src/stores/clientsStore';
import ClientCardHeaderButtons from 'src/components/clients/ClientCardHeaderButtons.vue';
import ClientDialog from 'src/components/clients/ClientDialog.vue';
import ChangeEmail from '../auth/ChangeEmail.vue';
import ResetOtpAdminModal from './ResetOtpAdminModal.vue';
import CentreSelect from './CentreSelect.vue';

import type User from 'src/types/User';
import type { AxiosResponse } from 'axios';

const basicStore = useBasicStore();
const clientStore = useClientStore();

const emit = defineEmits(['close-dialog']);

interface Props {
  groups: { name: string; id: number }[];
  selectedUser: Partial<User>;
}
const props = withDefaults(defineProps<Props>(), {
  groups: () => [],
  selectedUser: () => {
    return { groups: [{ name: '', id: 0 }] };
  }
});

const groups = computed(() => {
  return props.groups.map(group => {
    return {
      value: group.id,
      label: group.name
    };
  });
});

const showChangeEmailDialog = ref(false);
const showDeleteUserDialog = ref(false);
const showResetOtpModal = ref(false);
const showClientDialog = ref(false);
const selectedGroup = ref<{ value: number; label: string } | null>(null);

const closeEmailDialog = (): void => {
  showChangeEmailDialog.value = false;
};

const closeOtpResetModal = (): void => {
  showResetOtpModal.value = false;
};

const updateSelectedCentres = (
  updatedCentreId: number,
  add: boolean
): Promise<void | AxiosResponse> => {
  if (add) {
    return basicStore.http
      .post(`users/centres/update/`, {
        user: props.selectedUser.id,
        centre: updatedCentreId
      })
      .catch(() => axiosFailed());
  }
  return basicStore.http
    .delete(`users/centres/update/`, {
      data: {
        user: props.selectedUser.id,
        centre: updatedCentreId
      }
    })
    .catch(() => axiosFailed());
};

const deleteUser = (): Promise<void> => {
  return context.setUserActive(props.selectedUser, false).then(() => {
    Notify.create({
      type: 'info',
      message: `${props.selectedUser.displayName ?? 'User'} has been deleted`
    });
    emit('close-dialog');
  });
};

watch(
  () => props.selectedUser.group,
  () => {
    if (props.selectedUser.group) {
      const group = props.selectedUser.group;
      const groupObject = props.groups.find(
        propGroup => propGroup.name === group
      );
      if (groupObject) {
        selectedGroup.value = {
          value: groupObject.id,
          label: groupObject.name
        };
      }
    }
  },
  { immediate: true, deep: true }
);

watch(
  () => selectedGroup.value,
  () => {
    if (props.selectedUser.id && selectedGroup.value) {
      return basicStore.http
        .patch(`users/${props.selectedUser.id}/update/`, {
          groups: [selectedGroup.value.value]
        })
        .catch(() => axiosFailed());
    }
    return null;
  }
);

const setDeleteUserDialog = (newValue: boolean): void => {
  showDeleteUserDialog.value = newValue;
};

const setChangeEmailDialog = (newValue: boolean): void => {
  showChangeEmailDialog.value = newValue;
};
const setResetOtpDialog = (newValue: boolean): void => {
  showResetOtpModal.value = newValue;
};

const setDeleteUserDialogFalse = (): void => {
  setDeleteUserDialog(false);
};
const setUserActive = (
  user: Partial<User>,
  isActive: boolean
): Promise<void | AxiosResponse> => {
  return basicStore.http
    .patch(`users/${user.id ?? ''}/update/`, { isActive })
    .catch(() => axiosFailed());
};

const setSelectedGroup = (newSelectedGroup: {
  value: number;
  label: string;
}): void => {
  selectedGroup.value = newSelectedGroup;
};

const selectedClientHeaderColor = computed(() => {
  if (
    props.selectedUser.group === 'client' &&
    props.selectedUser.client &&
    clientStore.clients[props.selectedUser.client].isActive
  ) {
    return 'primary';
  }
  return 'grey';
});

const setClientDialog = (newValue: boolean): void => {
  showClientDialog.value = newValue;
};

const closeClientDialog = (): void => {
  setClientDialog(false);
};

const context = {
  setUserActive
};
</script>
