<template>
  <div
    v-if="topBar.active"
    style="position: fixed; width: 100%; z-index: 10000"
  >
    <q-linear-progress
      size="25px"
      :indeterminate="topBar.indeterminate"
      stripe
      :color="topBar.color"
      :value="topBar.value"
    >
      <div class="absolute-full flex flex-center">
        <q-badge
          id="topBarText"
          :text-color="topBar.color"
          color="white"
          :label="topBar.text"
        />
      </div>
    </q-linear-progress>
  </div>
</template>

<script lang="ts" setup>
import { useBasicStore } from 'src/stores/basicStore';
import { computed } from 'vue';
const basicStore = useBasicStore();

const topBar = computed(() => {
  return basicStore.topBar;
});
</script>
