<template>
  <q-card-section>
    <div v-if="automaticClientList.length > 0">
      <p v-if="props.dayId" id="autoHelpText">
        The clients below will automatically have
        {{ dayArray[props.dayId] }} removed from their visiting days. Select
        their names if you wish to manually change their days anyway.
      </p>
      <q-markup-table>
        <tbody>
          <tr
            v-for="clientId in automaticClientList"
            :key="clientId"
            @click="openClientDialog(clientId)"
          >
            <td class="text-center autoClientList">
              {{ clientStore.clients[clientId].firstName }}
              {{ clientStore.clients[clientId].surname }}
            </td>
          </tr>
        </tbody>
      </q-markup-table>
    </div>
    <div v-if="manualClientList.length > 0" class="mt-5">
      <p id="manualHelpText">
        The clients below <strong>cannot</strong> be automatically updated
        because their only visiting day would be removed. Select them and change
        them manually before you can continue.
      </p>
      <q-markup-table>
        <tbody>
          <tr
            v-for="clientId in manualClientList"
            :key="clientId"
            @click="openClientDialog(clientId)"
          >
            <td class="text-center manualClientList">
              {{ clientStore.clients[clientId].firstName }}
              {{ clientStore.clients[clientId].surname }}
            </td>
          </tr>
        </tbody>
      </q-markup-table>
    </div>
  </q-card-section>
  <card-confirm-buttons
    :confirm-button-valid="manualClientList.length === 0"
    :back-button="true"
    @confirm-button-clicked="removeClientsVisitingDays"
    @go-back-button-clicked="closeDialog"
  />

  <dialog-card
    v-if="selectedClientId"
    dialog-id="centreClientDayWarningDialog"
    :card-title="`${clientStore.clients[selectedClientId].firstName} ${clientStore.clients[selectedClientId].surname}`"
    :prop-show-dialog="showClientDialog"
    max-width="600"
    @set-dialog="setClientDialog"
  >
    <warning-client-dialog
      :client-id="selectedClientId"
      @close-dialog="closeClientDialog"
    />
  </dialog-card>
</template>

<script lang="ts" setup>
import { useClientStore } from 'src/stores/clientsStore';
import { computed, ref, watch } from 'vue';
import { useBasicStore } from 'src/stores/basicStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import CardConfirmButtons from 'src/components/ui/CardConfirmButtons.vue';
import WarningClientDialog from 'src/components/clients/ClientDialog.vue';
import DialogCard from 'src/components/ui/DialogCard.vue';
import type VisitingDay from 'src/types/VisitingDay';

const emit = defineEmits(['close-dialog']);

interface Props {
  centreId: number | undefined;
  clientIds: number[];
  dayId: number | undefined;
}
const props = withDefaults(defineProps<Props>(), {
  centreId: undefined,
  clientIds: () => [],
  dayId: undefined
});

const basicStore = useBasicStore();
const clientStore = useClientStore();

const selectedClientId = ref<number | undefined>(undefined);

const showClientDialog = ref(false);

const openClientDialog = (clientId: number | string): void => {
  selectedClientId.value = Number(clientId);
  showClientDialog.value = true;
};

const closeClientDialog = (): void => {
  showClientDialog.value = false;
};

const automaticClientList = computed(() => {
  const automaticClientList: number[] = [];
  if (props.clientIds.length > 0 && typeof props.dayId === 'number') {
    const day = props.dayId;
    props.clientIds.forEach((clientId: number) => {
      if (clientStore.clients[clientId].visitingDays) {
        const clientVisitingDays = (
          clientStore.clients[clientId].visitingDays as VisitingDay[]
        )
          .filter(
            (visitingDay: VisitingDay) => visitingDay.centre === props.centreId
          )
          .map((visitingDay: VisitingDay) => visitingDay.day);
        if (
          clientVisitingDays.length !== 1 &&
          clientVisitingDays.includes(day + 1)
        ) {
          automaticClientList.push(clientId);
        }
      }
    });
  }
  return automaticClientList;
});

const manualClientList = computed(() => {
  const manualClientList: number[] = [];
  if (props.clientIds.length > 0 && typeof props.dayId === 'number') {
    const day = props.dayId;
    props.clientIds.forEach((clientId: number) => {
      if (clientStore.clients[clientId].visitingDays) {
        const clientVisitingDays = (
          clientStore.clients[clientId].visitingDays as VisitingDay[]
        )
          .filter(
            (visitingDay: VisitingDay) => visitingDay.centre === props.centreId
          )
          .map((visitingDay: VisitingDay) => visitingDay.day);
        if (
          clientVisitingDays.length === 1 &&
          clientVisitingDays.includes(day + 1)
        ) {
          manualClientList.push(clientId);
        }
      }
    });
  }
  return manualClientList;
});

watch(manualClientList, () => {
  if (
    manualClientList.value.length === 0 &&
    automaticClientList.value.length === 0
  ) {
    closeDialog();
  }
});

const removeClientsVisitingDays = (): void => {
  if (typeof props.dayId === 'number') {
    const dayId = props.dayId;
    automaticClientList.value.forEach((clientId: number) => {
      if (clientStore.clients[clientId].visitingDays) {
        const visitingDays = clientStore.clients[clientId]
          .visitingDays as VisitingDay[];
        basicStore.http
          .patch(`clients/${clientId}/update/`, {
            visitingDays: visitingDays.filter(
              (visitingDay: VisitingDay) => visitingDay.day !== dayId + 1
            )
          })
          .catch(axiosFailed);
      }
    });
  }
};

const setClientDialog = (newValue: boolean): void => {
  showClientDialog.value = newValue;
};

const closeDialog = (): void => {
  context.emit('close-dialog', props.dayId);
};
const dayArray = [
  'Monday',
  'Tuesday',
  'Wedednesday',
  'Thursday',
  'Friday',
  'Saturday',
  'Sunday'
];

const context = {
  emit
};
</script>
