<template>
  <div v-if="centre" class="col q-pa-md">
    <monthly-calendar
      id="centreCalendar"
      :events="events"
      :calendar-color="centre.color"
      create-event-title="Create close event for"
      @calendar-change="updateRange"
      @delete-event="deleteCloseEvent"
    >
      <template #nav-bar-extras>
        <q-space />
        <div class="row items-center q-mr-sm">
          <span>Is {{ centre.name }} closed on public holidays?</span>
        </div>
        <q-btn-toggle
          id="closedOnPublicHolidaysSwitch"
          class="q-ma-xs"
          :disable="!isAdmin"
          padding="2px 30px 2px 30px"
          unelevated
          rounded
          :model-value="centre.closedOnPublicHolidays"
          :options="[
            { label: ' Yes ', value: true },
            { label: ' No ', value: false }
          ]"
          @update:model-value="setClosedOnPublicHolidaysValue"
        />
      </template>
      <template #create-event="{ eventDate, closeDialog }">
        <create-close-event-dialog
          :centre-id="centre.id"
          :prop-date="eventDate"
          @close-dialog="closeDialog()"
      /></template>
    </monthly-calendar>
  </div>
</template>

<script lang="ts" setup>
import { add, format, sub } from 'date-fns';
import { computed, ref, watch } from 'vue';
import isAdmin from 'src/functions/auth/isAdmin';
import { useBasicStore } from 'src/stores/basicStore';
import { useCentreStore } from 'src/stores/centresStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import MonthlyCalendar from 'src/components/ui/MonthlyCalendar.vue';

import updateCentre from 'src/functions/centre/updateCentre';
import CreateCloseEventDialog from './CreateCloseEventDialog.vue';
import type { AxiosResponse } from 'axios';
import type CalendarEvent from 'src/types/CalendarEvent';
import type EventsResponse from 'src/types/axios/EventsResponse';
interface Props {
  centreId: null | number;
}
const props = withDefaults(defineProps<Props>(), {
  centreId: null
});

const basicStore = useBasicStore();
const centreStore = useCentreStore();

const start = ref<string | null>(null);

const end = ref<string | null>(null);

const events = ref<CalendarEvent[]>([]);

const updateRange = ({
  newStart,
  newEnd
}: {
  newStart: string;
  newEnd: string;
}): Promise<void> | null => {
  start.value = newStart;
  end.value = newEnd;
  return context.getEvents();
};

watch(
  () => props.centreId,
  () => {
    return context.getEvents();
  }
);

const getEvents = (): Promise<void> | null => {
  if (start.value && end.value && props.centreId) {
    const startDate = format(
      sub(new Date(start.value), { days: 7 }),
      'yyyy-MM-dd'
    );
    const endDate = format(add(new Date(end.value), { days: 7 }), 'yyyy-MM-dd');
    return basicStore.http
      .get(`events/${startDate}/${endDate}/`, {
        params: {
          centre: props.centreId,
          eventType: 'User Close Event'
        }
      })
      .then((response: EventsResponse) => {
        centreStore.events = response.data;
      })
      .catch(axiosFailed);
  }
  return null;
};

const storeEvents = computed(() => {
  return centreStore.events.filter((closeEvent: CalendarEvent) => {
    if (closeEvent.centre && closeEvent.centre in centreStore.centres) {
      if (!centreStore.centres[closeEvent.centre].closedOnPublicHolidays) {
        return closeEvent.eventType === 'User Close Event';
      }
      return (
        closeEvent.eventType === 'Public Holiday' ||
        closeEvent.eventType === 'User Close Event'
      );
    }
    return false;
  });
});

const centre = computed(() => {
  if (props.centreId && props.centreId in centreStore.centres) {
    return centreStore.centres[props.centreId];
  }
  return null;
});

watch(
  storeEvents,
  () => {
    events.value = storeEvents.value.map(closeEvent => {
      const color =
        closeEvent.eventType === 'Public Holiday' ? '#B00020' : '#4CAF50';
      const start = format(new Date(closeEvent.start), 'yyyy-MM-dd');
      let end = '';

      if (closeEvent.end) {
        end = format(new Date(closeEvent.end), 'yyyy-MM-dd');
      }
      return {
        ...closeEvent,
        color,
        start,
        end
      };
    });
  },
  { deep: true }
);

const deleteCloseEvent = (id: number): Promise<void | AxiosResponse> => {
  return basicStore.http.delete(`events/${id}`).catch(() => axiosFailed());
};

const setClosedOnPublicHolidaysValue =
  (): Promise<void | AxiosResponse> | null => {
    if (centre.value) {
      return updateCentre({
        id: centre.value.id,
        closedOnPublicHolidays: !centre.value.closedOnPublicHolidays
      });
    }
    return null;
  };

const context = {
  getEvents
};

watch(
  () => centreStore.eventsNeedUpdating,
  async () => {
    if (centreStore.eventsNeedUpdating) {
      await context.getEvents();
      centreStore.eventsNeedUpdating = false;
    }
  },
  { immediate: true }
);
</script>
