<template>
  <q-card-section>
    <q-input
      v-model="closeReason"
      for="closeReasonInput"
      class="mb-6"
      label="Reason For Closure"
      :rules="[v => !!v || 'Reason is Required']"
    >
      <template #prepend> <q-icon :name="mdiCalendarQuestion" /> </template
    ></q-input>
    <div>
      <q-input
        for="startDateField"
        label="Start Date"
        :model-value="formattedStartDate"
      >
        <template #prepend>
          <q-icon :name="mdiCalendar" />
        </template>
      </q-input>
      <q-popup-proxy>
        <q-date v-model="startDate" minimal />
      </q-popup-proxy>
    </div>
    <div v-if="startDate">
      <q-input
        for="endDateField"
        label="End Date"
        :model-value="formattedEndDate"
      >
        <template #prepend>
          <q-icon :name="mdiCalendar" />
        </template>
      </q-input>
      <q-popup-proxy>
        <q-date
          v-model="endDate"
          minimal
          :options="date => date >= startDate && date <= maxDate"
        />
      </q-popup-proxy>
    </div>
    <q-select
      v-model="selectedRecurrenceOption"
      for="recurrenceSelector"
      :options="recurrenceOptions"
      label="Repeats"
      :transition-duration="0"
    >
      <template #prepend>
        <q-icon :name="mdiReplay" />
      </template>
    </q-select>
    <q-btn-toggle
      v-if="selectedRecurrenceOption.value === 'monthly'"
      v-model="isDate"
      name="isDateToggle"
      class="q-ma-sm"
      unelevated
      :options="[
        { label: `Repeat on date (${formattedStartDate})`, value: true },
        { label: 'Repeat on day', value: false }
      ]"
    />
    <q-select
      v-if="selectedRecurrenceOption.value === 'monthly' && !isDate"
      v-model="selectedWeekOfMonth"
      for="weekOfMonthSelector"
      :options="weekOfMonthOptions"
      emit-value
      map-options
      :label="`Repeat every ${formattedWeekOfMonth} ${startDay} of the month`"
    />
  </q-card-section>
  <card-confirm-buttons
    confirm-button-text="Create Closure"
    confirm-button-color="primary"
    :confirm-button-valid="createEventValid"
    @confirm-button-clicked="createEvent"
  />
</template>

<script lang="ts" setup>
import { mdiCalendar, mdiCalendarQuestion, mdiReplay } from '@mdi/js';
import {
  add,
  differenceInDays,
  format,
  formatISO,
  parse,
  startOfMonth
} from 'date-fns';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import { useBasicStore } from 'src/stores/basicStore';
import { computed, ref, watch } from 'vue';
import CardConfirmButtons from 'src/components/ui/CardConfirmButtons.vue';
import type RecurrenceOption from 'src/types/RecurrenceOption';

const emit = defineEmits(['close-dialog']);
interface Props {
  centreId: number | undefined;
  propDate: string | undefined;
}
const props = withDefaults(defineProps<Props>(), {
  centreId: undefined,
  propDate: undefined
});

const basicStore = useBasicStore();

const createEventValid = computed(
  () => !!startDate.value && !!endDate.value && !!closeReason.value
);

const recurrenceOptions: RecurrenceOption[] = [
  {
    label: 'Never',
    value: 'never'
  },
  {
    label: 'Weekly',
    value: 'weekly'
  },
  {
    label: 'Monthly',
    value: 'monthly'
  },
  {
    label: 'Yearly',
    value: 'yearly'
  }
];

const weekOfMonthOptions = [
  {
    label: '1st',
    value: 1
  },
  {
    label: '2nd',
    value: 2
  },
  {
    label: '3rd',
    value: 3
  },
  {
    label: '4th',
    value: 4
  }
];

const selectedRecurrenceOption = ref<RecurrenceOption>({
  label: 'Never',
  value: 'never'
});

const closeReason = ref('');
const startDate = ref('');
const endDate = ref('');
const isDate = ref(true);
const selectedWeekOfMonth = ref(1);

const formattedStartDate = computed(() => {
  return format(parse(startDate.value, 'yyyy/MM/dd', new Date()), 'dd/MM/yy');
});

const formattedWeekOfMonth = computed(() => {
  return weekOfMonthOptions[selectedWeekOfMonth.value - 1].label;
});

const startDay = computed(() => {
  return format(parse(startDate.value, 'yyyy/MM/dd', new Date()), 'EEEE');
});

const formattedEndDate = computed(() => {
  return format(parse(endDate.value, 'yyyy/MM/dd', new Date()), 'dd/MM/yy');
});

const maxDate = computed(() => {
  // If weekly recurrence, event length max is 5
  // If monthly recurrence, event length max is 15
  // If yearly recurrence, event length max is 90
  // Otherwise no max
  // Reset end date to max if it is over
  if (startDate.value && selectedRecurrenceOption.value.value !== 'never') {
    let days = 90;
    if (selectedRecurrenceOption.value.value === 'weekly') {
      days = 5;
    } else if (selectedRecurrenceOption.value.value === 'monthly') {
      days = 20;
    }
    const formattedMax = format(
      add(parse(startDate.value, 'yyyy/MM/dd', new Date()), { days }),
      'yyyy/MM/dd'
    );
    return formattedMax;
  }
  return '2500/12/31';
});

watch(maxDate, () => {
  let days = 90;
  if (selectedRecurrenceOption.value.value === 'weekly') {
    days = 5;
  } else if (selectedRecurrenceOption.value.value === 'monthly') {
    days = 20;
  }
  const max = add(parse(startDate.value, 'yyyy/MM/dd', new Date()), { days });
  if (
    startDate.value &&
    selectedRecurrenceOption.value.value !== 'never' &&
    parse(endDate.value, 'yyyy/MM/dd', new Date()) > max
  ) {
    endDate.value = maxDate.value;
  }
});

watch(startDate, () => {
  const parsedStartDate = parse(startDate.value, 'yyyy/MM/dd', new Date());
  if (
    !endDate.value ||
    parse(endDate.value, 'yyyy/MM/dd', new Date()) < parsedStartDate
  ) {
    endDate.value = startDate.value;
  }

  selectedWeekOfMonth.value = Math.ceil(
    differenceInDays(parsedStartDate, startOfMonth(parsedStartDate)) / 7
  );
});

const createEvent = (): Promise<void> | null => {
  if (props.centreId && props.propDate) {
    const propDate = props.propDate;
    const parsedStartDate = parse(startDate.value, 'yyyy/MM/dd', new Date());
    const parsedEndDate = parse(endDate.value, 'yyyy/MM/dd', new Date());
    const days = differenceInDays(parsedEndDate, parsedStartDate);
    const closeEvent: {
      name: string;
      start: string;
      centre: number;
      recurrences?: 'never' | 'weekly' | 'monthly' | 'yearly';
      recurrenceWeek?: number;
      timePeriod: number;
      eventType: string;
      allDay: boolean;
    } = {
      name: closeReason.value,
      start: formatISO(parsedStartDate),
      centre: props.centreId,
      timePeriod: (days + 1) * 86400,
      eventType: 'User Close Event',
      allDay: true
    };
    if (!isDate.value) {
      closeEvent.recurrenceWeek = selectedWeekOfMonth.value;
    }
    if (selectedRecurrenceOption.value.value !== 'never') {
      closeEvent.recurrences = selectedRecurrenceOption.value.value;
    }
    return basicStore.http
      .post(`events/`, closeEvent)
      .then(() => {
        emit('close-dialog');
        updateData(propDate);
      })
      .catch(axiosFailed);
  }
  return null;
};

const updateData = (propDate: string): void => {
  startDate.value = propDate;
  endDate.value = propDate;
  selectedRecurrenceOption.value = {
    label: 'Never',
    value: 'never'
  };
  closeReason.value = '';
};

watch(
  () => props.propDate,
  () => {
    if (props.propDate) {
      const formattedDate = format(new Date(props.propDate), 'yyyy/MM/dd');
      updateData(formattedDate);
    }
  },
  { immediate: true }
);
</script>
