<template>
  <div id="locationSelector" class="col" justify="center">
    <q-select
      id="countrySelector"
      :options="countries"
      label="Country"
      :prepend-icon="mdiMap"
      virtual-scroll-item-size="0"
      emit-value
      map-options
      :readonly="!isAdmin"
      :model-value="selectedCountry"
      @update:model-value="setSelectedCountry"
    />
    <q-select
      v-if="states.length > 0"
      id="stateSelector"
      :options="states"
      :readonly="!isAdmin"
      label="State / Province"
      :prepend-icon="mdiMapSearch"
      emit-value
      map-options
      :model-value="selectedState"
      @update:model-value="setSelectedState"
    />
  </div>
</template>

<script lang="ts" setup>
import Holidays from 'date-holidays';
import { mdiMap, mdiMapSearch } from '@mdi/js';
import { computed, ref, watch } from 'vue';
import { useCentreStore } from 'src/stores/centresStore';
import { useBasicStore } from 'src/stores/basicStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import isAdmin from 'src/functions/auth/isAdmin';

import type IncludedCountries from 'src/types/IncludedCountries';
import type { AxiosResponse } from 'axios';
const centresStore = useCentreStore();
const basicStore = useBasicStore();
const emit = defineEmits(['location-ready-to-submit']);
const loaded = ref(false);

interface Props {
  centreId: number;
}

const props = withDefaults(defineProps<Props>(), {
  centreId: 0
});

// eslint-disable-next-line @typescript-eslint/no-unsafe-call
const holidays = new Holidays() as unknown as {
  getCountries: () => Record<keyof IncludedCountries, string> | null;
  getStates: (
    country: keyof IncludedCountries
  ) => Record<string, string> | null;
};

const selectedCountry = ref<keyof IncludedCountries>('AO');

const selectedState = ref('');

const unformattedCountries = ref(holidays.getCountries());

const countries = computed(() => {
  if (unformattedCountries.value) {
    const unformattedCountriesObject = unformattedCountries.value;
    return Object.keys(unformattedCountriesObject)
      .filter(countryCode =>
        Object.keys(includedLocations).includes(countryCode)
      )
      .map(countryCode => {
        return {
          label:
            unformattedCountriesObject[countryCode as keyof IncludedCountries],
          value: countryCode
        };
      })
      .sort(
        (
          country: { label: string; value: string },
          previousCountry: { label: string; value: string }
        ) => country.label.localeCompare(previousCountry.label)
      );
  }
  return [];
});

const centreCountry = computed(() => {
  return centresStore.centres[props.centreId].country;
});

const centreState = computed(() => {
  return centresStore.centres[props.centreId].state;
});

watch(
  centreCountry,
  () => {
    selectedCountry.value = centreCountry.value;
    loaded.value = true;
  },
  { immediate: true }
);

watch(
  centreState,
  () => {
    selectedState.value = centreState.value;
  },
  { immediate: true }
);

const updateCentre = (centreData: {
  country?: string;
  state: string;
}): Promise<void | AxiosResponse> => {
  return basicStore.http
    .patch(`centres/${props.centreId}/update/`, centreData)
    .catch(() => axiosFailed());
};

const states = computed(() => {
  const unformattedStates = holidays.getStates(selectedCountry.value);
  if (unformattedStates) {
    return Object.keys(unformattedStates)
      .filter((stateCode: string) =>
        includedLocations[selectedCountry.value].includes(stateCode)
      )
      .map((stateCode: string) => {
        return {
          label: unformattedStates[stateCode],
          value: stateCode
        };
      })
      .sort(
        (
          state: { label: string; value: string },
          previousState: { label: string; value: string }
        ) => state.label.localeCompare(previousState.label)
      );
  }
  return [];
});

watch([selectedCountry, selectedState], () => {
  let ready = true;
  if (states.value.length > 0) {
    ready = !!selectedState.value;
  }
  context.emit('location-ready-to-submit', ready);
});

const includedLocations: IncludedCountries = {
  AO: ['NSW', 'NT', 'QLD', 'SA', 'TAS', 'VIC', 'WA'],
  AR: [],
  AW: [],
  AU: ['ACT', 'NSW', 'NT', 'QLD', 'SA', 'TAS', 'VIC', 'WA'],
  AT: ['1', '2', '3', '4', '5', '6', '7', '8', '9'],
  BD: [],
  BY: [],
  BE: [],
  BR: [
    'AC',
    'AL',
    'AP',
    'AM',
    'BA',
    'CE',
    'DF',
    'ES',
    'GO',
    'MA',
    'MT',
    'MS',
    'MG',
    'PA',
    'PB',
    'PE',
    'PI',
    'RJ',
    'RN',
    'RS',
    'RO',
    'RR',
    'SC',
    'SP',
    'SE',
    'TO'
  ],
  BG: [],
  BI: [],
  CA: [
    'AB',
    'BC',
    'MB',
    'NB',
    'NL',
    'NS',
    'NT',
    'NU',
    'ON',
    'PE',
    'QC',
    'SK',
    'YU'
  ],

  CL: [
    'AI',
    'AN',
    'AP',
    'AR',
    'AT',
    'BI',
    'CO',
    'LI',
    'LL',
    'LR',
    'MA',
    'ML',
    'NB',
    'RM',
    'TA',
    'VS'
  ],

  CO: [],
  HR: [],
  CZ: [],
  DK: [],
  DJ: [],
  DO: [],
  EG: [],
  EE: [],
  FI: [],
  FR: [],
  DE: [
    'BW',
    'BY',
    'BYP',
    'BE',
    'BB',
    'HB',
    'HH',
    'HE',
    'MV',
    'NI',
    'NW',
    'RP',
    'SL',
    'SN',
    'ST',
    'SH',
    'TH'
  ],
  GR: [],
  HN: [],
  HK: [],
  HU: [],
  IS: [],
  IE: [],
  IL: [],
  IT: [],
  JP: [],
  KE: [],
  KR: [],
  LV: [],
  LT: [],
  LU: [],
  MW: [],
  MX: [],
  MA: [],
  NL: [],
  NZ: [
    'NTL',
    'AUK',
    'TKI',
    'HKB',
    'WGN',
    'MBH',
    'NSN',
    'CAN',
    'STC',
    'WTL',
    'OTA',
    'STL',
    'CIT'
  ],
  NI: [],
  NG: [],
  NO: [],
  PY: [],
  PE: [],
  PL: [],
  PT: [],
  RO: [],
  RU: [],
  RS: [],
  SG: [],
  SK: [],
  SI: [],
  ZA: [],
  ES: ['MD', 'AN', 'AR', 'CT'],
  SE: [],
  CH: [
    'AG',
    'AR',
    'AI',
    'BL',
    'BS',
    'BE',
    'FR',
    'GE',
    'GL',
    'GR',
    'JU',
    'LU',
    'NE',
    'NW',
    'OW',
    'SG',
    'SH',
    'SZ',
    'SO',
    'TG',
    'TI',
    'UR',
    'VD',
    'VS',
    'ZG',
    'ZH'
  ],
  TR: [],
  UA: [],
  GB: [],
  US: [
    'AL',
    'AK',
    'AS',
    'AZ',
    'AR',
    'CA',
    'CO',
    'CT',
    'DE',
    'DC',
    'FL',
    'GA',
    'GU',
    'HI',
    'ID',
    'IL',
    'IN',
    'IA',
    'KS',
    'KY',
    'LA',
    'ME',
    'MD',
    'MH',
    'MA',
    'MI',
    'FM',
    'MN',
    'MS',
    'MO',
    'MT',
    'NE',
    'NV',
    'NH',
    'NJ',
    'NM',
    'NY',
    'NC',
    'ND',
    'MP',
    'OH',
    'OK',
    'OR',
    'PW',
    'PA',
    'PR',
    'RI',
    'SC',
    'SD',
    'TN',
    'TX',
    'UT',
    'VT',
    'VA',
    'VI',
    'WA',
    'WV',
    'WI',
    'WY'
  ],
  VN: []
};
const setSelectedCountry = (
  newCountry: keyof IncludedCountries
): Promise<void | AxiosResponse> => {
  return updateCentre({
    country: newCountry,
    state: ''
  });
};

const setSelectedState = (newState: string): Promise<void | AxiosResponse> => {
  return updateCentre({
    state: newState
  });
};

const context = {
  emit
};
</script>
