<template>
  <div id="adminPage" class="window-height flex flex-center">
    <card-with-header card-title="Admin" :dialog="false">
      <div class="row">
        <div class="col-12 col-xl-12">
          <user-list />
        </div>
        <div class="col-12 col-xl-12">
          <client-size-table />
        </div>
      </div>
    </card-with-header>
  </div>
</template>
<script lang="ts" setup>
import CardWithHeader from 'src/components/ui/CardWithHeader.vue';
import ClientSizeTable from 'src/components/admin/ClientSizeTable.vue';
import UserList from 'src/components/admin/UserList.vue';
</script>
