<template>
  <div id="calendar" class="window-height flex flex-center col">
    <div style="min-width: 80%" class="full-width">
      <card-with-header card-title="Calendar" :dialog="false">
        <q-skeleton v-if="loading || !start" width="200px" height="300px" />
        <q-calendar-day
          v-else
          ref="calendar"
          :model-value="format(start, 'yyyy-MM-dd')"
          view="week"
          :day-min-height="200"
          :weekdays="weekdays"
          animated
          no-active-date
          bordered
          :short-weekday-label="$q.screen.xs"
          :interval-count="26"
          :interval-start="14"
          :interval-minutes="30"
          hoverable
          focusable
        >
          <template #day-container>
            <div
              class="day-view-current-time-indicator"
              :style="nowLineStyle"
            />
            <div class="day-view-current-time-line" :style="nowLineStyle" />
          </template>
          <template #head-day-event="{ scope: { timestamp } }">
            <div v-if="eventsByDate[timestamp.date]">
              <template
                v-for="centreId in Object.keys(eventsByDate[timestamp.date])"
                :key="centreId"
              >
                <q-btn
                  v-if="!isClient && centreId in centreStore.centres"
                  dense
                  ripple
                  size="sm"
                  class="event-button centre-visitors-banner full-width text-white"
                  no-caps
                  :style="`background-color: ${
                    eventsByDate[timestamp.date][centreId][0].color
                  };`"
                  @click="
                    openCentreVisitorsTodayModal(
                      timestamp.date,
                      Number(centreId)
                    )
                  "
                >
                  <strong
                    >{{ centreStore.centres[centreId].name }} | &nbsp;</strong
                  >
                  {{ eventsByDate[timestamp.date][centreId].length ?? 0 }}
                  visitor{{
                    eventsByDate[timestamp.date][centreId]?.length > 1
                      ? 's'
                      : ''
                  }}
                </q-btn>
              </template>
            </div>
          </template>
        </q-calendar-day>
      </card-with-header>
    </div>
    <dialog-card
      v-if="
        selectedVisitingCentre &&
        selectedVisitingCentre in centreStore.centres &&
        selectedVisitingCentreDate &&
        selectedVisitingCentreClients.length > 0
      "
      dialog-id="showCentreVisitorsTodayModal"
      :card-title="`${
        centreStore.centres[selectedVisitingCentre].name
      } | ${format(new Date(selectedVisitingCentreDate), 'MMM do')}`"
      :prop-show-dialog="showCentreVisitorsTodayModal"
      dialog-hash="centre-visitors-today-dialog"
      max-width="600"
      @set-dialog="setCentreVisitorsTodayDialog"
    >
      <centre-visitors-today-modal
        :clients="selectedVisitingCentreClients"
        :centre-id="selectedVisitingCentre"
        :date="new Date(selectedVisitingCentreDate)"
      />
    </dialog-card>
  </div>
</template>

<script lang="ts" setup>
import { add, addDays, format, isWithinInterval, startOfWeek } from 'date-fns';
import { computed, ref, watch } from 'vue';
import { useCentreStore } from 'src/stores/centresStore';
import { useBasicStore } from 'src/stores/basicStore';
import { useClientStore } from 'src/stores/clientsStore';
import { useUserStore } from 'src/stores/userStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import CardWithHeader from 'src/components/ui/CardWithHeader.vue';
import { QCalendarDay, parseDate } from '@quasar/quasar-ui-qcalendar';
import DialogCard from 'src/components/ui/DialogCard.vue';
import isClient from 'src/functions/auth/isClient';
import CentreVisitorsTodayModal from 'src/components/calendar/CentreVisitorsTodayModal.vue';
import type EventsResponse from 'src/types/axios/EventsResponse';
import type Centre from 'src/types/Centre';
import type CalendarEvent from 'src/types/CalendarEvent';

const basicStore = useBasicStore();
const centreStore = useCentreStore();
const clientStore = useClientStore();
const userStore = useUserStore();

const showCentreVisitorsTodayModal = ref(false);
const selectedVisitingCentreDate = ref('');
const selectedVisitingCentre = ref<number | undefined>(undefined);

const centreEvents = ref<CalendarEvent[]>([]);
const calendar = ref<QCalendarDay | null>(null);

const loading = ref(true);
const timeStartPos = ref<number | undefined>(undefined);

const storeEvents = computed(() => {
  return centreStore.events.filter((closeEvent: CalendarEvent) => {
    if (closeEvent.centre && closeEvent.centre in centreStore.centres) {
      if (!centreStore.centres[closeEvent.centre].closedOnPublicHolidays) {
        return closeEvent.eventType !== 'Public Holiday';
      }
      return true;
    }
    return false;
  });
});

watch(
  storeEvents,
  () => {
    centreEvents.value = storeEvents.value.map(closeEvent => {
      const color =
        closeEvent.eventType === 'Public Holiday' ? '#B00020' : '#4CAF50';
      return {
        ...closeEvent,
        color
      };
    });
  },
  { deep: true }
);

const weekdays = computed(() => {
  const centreOpeningDays = Object.keys(centreStore.centres)
    .map(centreKey => centreStore.centres[centreKey])
    .filter(centre => centre.setupComplete)
    .filter(centre => userStore.user.centres?.includes(centre.id))
    .map((centre: Centre) => centre.openingDays) as number[][];
  const weekdaysUnsorted = [...new Set(centreOpeningDays.flat())].map(day => {
    if (day === 7) {
      return 0;
    }
    return day;
  });
  return weekdaysUnsorted.sort((weekdayA, weekdayB) => {
    if (weekdayA === 0) {
      return 0; // Make sunday last
    }
    return weekdayA - weekdayB;
  });
});

const weekdaysFormatted = computed(() => {
  return [...weekdays.value]
    .sort((a, b) => a - b)
    .map(weekDay => {
      if (weekDay === 6) {
        return 0;
      }
      return weekDay + 1;
    });
});

const start = computed(() => {
  let min = 0;
  if (weekdaysFormatted.value.length > 0) {
    min =
      Math.min(...weekdaysFormatted.value.filter(weekday => weekday !== 0)) - 1;
  }
  return addDays(startOfWeek(Date.now(), { weekStartsOn: 1 }), min);
});

const adjustCurrentTime = (): void => {
  const now = parseDate(new Date());
  timeStartPos.value = calendar.value?.timeStartPos(now?.time, false);
};

const nowLineStyle = computed(() => {
  const accentColorHex = `${userStore.user.accentColor ?? '#0606f7'}`;
  return {
    top: `${timeStartPos.value ?? 0}px`,
    'border-top': `${accentColorHex}85 2px solid`,
    'background-color': accentColorHex
  };
});

const getEvents = (): Promise<void> => {
  loading.value = true;
  const startDate = format(start.value, 'yyyy-MM-dd');
  const endDate = format(add(start.value, { days: 6 }), 'yyyy-MM-dd');

  return basicStore.http
    .get(`events/${startDate}/${endDate}/`)
    .then((response: EventsResponse) => {
      centreStore.events = response.data;
      loading.value = false;
    })
    .catch(axiosFailed);
};

const formatDate = (date: number | Date): string => format(date, 'yyyy-MM-dd');

const clients = computed(() => {
  return Object.keys(clientStore.clients)
    .map(clientKey => {
      return { ...clientStore.clients[clientKey] };
    })
    .filter(client => {
      return client.isActive;
    })
    .filter(client => client.setupComplete)
    .filter(client =>
      userStore.user.centres?.some((centreId: number) =>
        client.centres?.includes(centreId)
      )
    );
});

const dateExistsInCentreEvents = (date: string, centre: number): boolean => {
  return centreEvents.value.some(centreEvent => {
    return (
      centreEvent.centre === centre &&
      centreEvent.start &&
      centreEvent.end &&
      isWithinInterval(new Date(date), {
        start: new Date(centreEvent.start),
        end: new Date(centreEvent.end)
      })
    );
  });
};

const events = computed(() => {
  const events: CalendarEvent[] = [];
  clients.value.forEach(client =>
    client.visitingDays?.forEach(visitingDay => {
      const startDate = formatDate(
        addDays(
          startOfWeek(Date.now(), { weekStartsOn: 1 }),
          visitingDay.day - 1
        )
      );

      if (
        userStore.user.centres?.includes(visitingDay.centre) &&
        !dateExistsInCentreEvents(startDate, visitingDay.centre)
      ) {
        const { color, id } = centreStore.centres[visitingDay.centre];
        events.push({
          id: client.id,
          name: `${client.firstName} ${client.surname}`,
          start: startDate,
          color,
          centreId: id,
          allDay: true
        });
      }
    })
  );
  return events;
});

const eventsByDate = computed(() => {
  const eventsRecord: Record<string, Record<string, CalendarEvent[]>> = {};
  events.value.forEach(event => {
    if (event.centreId) {
      if (!(event.start in eventsRecord)) {
        eventsRecord[event.start] = {};
      }
      if (event.centreId in eventsRecord[event.start]) {
        eventsRecord[event.start][event.centreId].push(event);
      } else {
        eventsRecord[event.start][event.centreId] = [event];
      }
    }
  });
  return eventsRecord;
});

// Return an array of clients that are visiting a specific center on a specific day.
const selectedVisitingCentreClients = computed(() => {
  if (
    selectedVisitingCentre.value &&
    selectedVisitingCentreDate.value &&
    selectedVisitingCentreDate.value in eventsByDate.value
  ) {
    return eventsByDate.value[selectedVisitingCentreDate.value][
      selectedVisitingCentre.value
    ].map(event => event.id as number);
  }
  return [];
});

const eventsNeedUpdating = computed(() => {
  return centreStore.eventsNeedUpdating;
});

const context = {
  getEvents
};

watch(
  eventsNeedUpdating,
  () => {
    if (eventsNeedUpdating.value) {
      centreStore.eventsNeedUpdating = false;
      return context.getEvents();
    }
    return null;
  },
  { immediate: true }
);

// Set current time once a minute once calendar renders
watch(calendar, () => {
  if (calendar.value) {
    adjustCurrentTime();
    setInterval(() => {
      adjustCurrentTime();
    }, 60000);
  }
});

const setCentreVisitorsTodayDialog = (newValue: boolean): void => {
  showCentreVisitorsTodayModal.value = newValue;
};

const openCentreVisitorsTodayModal = (date: string, centreId: number): void => {
  selectedVisitingCentreDate.value = date;
  selectedVisitingCentre.value = centreId;
  showCentreVisitorsTodayModal.value = true;
};

getEvents().catch((err: Error) => err);
</script>

<style lang="scss">
.no-hover {
  pointer-events: none;
  .q-focus-helper {
    display: none;
  }
}

.day-view-current-time-line {
  position: absolute;
  width: 100%;
}

.day-view-current-time-indicator {
  position: absolute;
  left: -5px;
  height: 10px;
  width: 10px;
  margin-top: -4px;
  border-radius: 50%;
}
</style>
