<template>
  <div id="carePlansPage" class="window-height flex flex-center col">
    <div style="min-width: 80%">
      <card-with-header card-title="Care Plans" :dialog="false">
        <q-card-section class="q-pr-md q-pl-md q-pt-none q-pb-none">
          <responsive-table
            table-id="aggregateCarePlansTable"
            :rows="carePlans"
            :headers="carePlanHeaders"
            default-sort="date"
            :default-sort-decending="true"
            :loading="clientStore.clientsLoading || loading"
            no-data-label="There are no care plans left to complete!"
            loading-label="Loading Care Plans..."
            @row-clicked="openCarePlanModal"
          >
            <template #date="{ cellData }">
              {{ formatDateTime(cellData.date, false, true) }}
            </template>
          </responsive-table>
        </q-card-section>
      </card-with-header>
    </div>
    <dialog-card
      v-if="
        selectedCarePlanAggregate &&
        clientStore.clients[selectedCarePlanAggregate.clientId]
      "
      dialog-id="carePlanDialog"
      :card-title="carePlanTitle"
      :prop-show-dialog="showCarePlanDialog"
      max-width="600"
      dialog-hash="care-plan-dialog"
      min-width="60%"
      @set-dialog="setCarePlanDialog"
    >
      <template #header-buttons>
        <care-plans-card-header-buttons
          :client-id="selectedCarePlanAggregate.clientId"
        />
      </template>
      <care-plan-dialog
        :care-plan-aggregate="selectedCarePlanAggregate"
        @close-dialog="closeDialog"
      />
    </dialog-card>
  </div>
</template>
<script lang="ts" setup>
import { computed, ref } from 'vue';
import { useCentreStore } from 'src/stores/centresStore';
import formatDateTime from 'src/functions/date/formatDateTime';
import { useBasicStore } from 'src/stores/basicStore';
import { useClientStore } from 'src/stores/clientsStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import ResponsiveTable from 'src/components/ui/ResponsiveTable.vue';
import DialogCard from 'src/components/ui/DialogCard.vue';
import CardWithHeader from 'src/components/ui/CardWithHeader.vue';
import CarePlanDialog from '../components/carePlans/CarePlanDialog.vue';
import CarePlansCardHeaderButtons from '../components/carePlans/CarePlansCardHeaderButtons.vue';
import type { Client } from 'mock-socket';
import type CarePlanAggregate from 'src/types/CarePlanAggregate';
import type CarePlan from 'src/types/CarePlan';
import type CarePlansResponse from 'src/types/axios/CarePlansResponse';

interface RawCarePlan extends CarePlan {
  totalNeeds: number;
}

const basicStore = useBasicStore();
const clientStore = useClientStore();
const centreStore = useCentreStore();

const loading = ref(true);

const showCarePlanDialog = ref(false);

const selectedCarePlanAggregate = ref<CarePlanAggregate | null>(null);

const carePlanHeaders = [
  {
    label: 'Date',
    name: 'date',
    field: 'date',
    sortable: true
  },
  {
    label: 'Client',
    name: 'clientName',
    field: 'clientName',
    sortable: true
  },
  {
    label: 'Needs Remaining',
    name: 'totalNeeds',
    field: 'totalNeeds',
    sortable: true
  }
];

const carePlans = computed(() => {
  const rawCarePlans = [
    ...Object.keys(clientStore.carePlans)
      .map(carePlanKey => {
        return { ...clientStore.carePlans[carePlanKey] };
      })
      .filter(carePlan => carePlan.client in clientStore.clients)
      .filter(carePlan => !carePlan.inputted)
      .filter(carePlan => carePlan.need in clientStore.clientNeeds)
      .filter(carePlan => clientStore.clientNeeds[carePlan.need].isActive)
      .filter(
        carePlan =>
          clientStore.clientNeeds[carePlan.need].centre in centreStore.centres
      )
      .filter(carePlan =>
        centreStore.centres[
          clientStore.clientNeeds[carePlan.need].centre
        ].needs?.includes(clientStore.clientNeeds[carePlan.need].need)
      )
      .reduce(
        (
          accumulator: Map<string, { totalNeeds: number }>,
          carePlan: CarePlan
        ) => {
          const key = `${carePlan.date}-${carePlan.client}`;
          const item = accumulator.get(key) ?? {
            ...carePlan,
            totalNeeds: 0
          };
          item.totalNeeds += 1;
          return accumulator.set(key, item);
        },
        new Map()
      )
      .values()
  ] as RawCarePlan[];
  return rawCarePlans
    .map((carePlan: RawCarePlan) => {
      return {
        totalNeeds: carePlan.totalNeeds,
        date: carePlan.date,
        clientId: carePlan.client,
        clientName: `${clientStore.clients[carePlan.client].firstName} ${
          clientStore.clients[carePlan.client].surname
        }`
      };
    })
    .filter(carePlan => carePlan.clientId in clientStore.clients);
});

const openCarePlanModal = (carePlanAggregate: CarePlanAggregate): void => {
  selectedCarePlanAggregate.value = carePlanAggregate;
  showCarePlanDialog.value = true;
};

const closeDialog = (): void => {
  setCarePlanDialog(false);
};

const setCarePlanDialog = (newValue: boolean): void => {
  showCarePlanDialog.value = newValue;
};

const getCarePlans = (): Promise<void> => {
  loading.value = true;
  return basicStore.http
    .get('carePlans/')
    .then((response: CarePlansResponse) => {
      const initialValue = {};
      clientStore.carePlans = response.data.reduce(
        (carePlanObject: Record<string, Client>, carePlan: CarePlan) => {
          const updatedCarePlan = { ...carePlan };
          if (carePlan.clientNeed) {
            clientStore.clientNeeds[carePlan.clientNeed.id] =
              carePlan.clientNeed;
            delete updatedCarePlan.clientNeed;
          }
          return {
            ...carePlanObject,
            [carePlan.id.toString()]: updatedCarePlan
          };
        },
        initialValue
      );
      loading.value = false;
    })
    .catch(axiosFailed);
};

const carePlanTitle = computed(() => {
  if (
    selectedCarePlanAggregate.value &&
    selectedCarePlanAggregate.value.clientId in clientStore.clients
  ) {
    return `${
      clientStore.clients[selectedCarePlanAggregate.value.clientId].firstName
    }'s Care Plans For ${formatDateTime(
      selectedCarePlanAggregate.value.date,
      false,
      true
    )}`;
  }
  return 'Care Plans';
});

getCarePlans().catch((err: Error) => err);
</script>
