<template>
  <q-layout>
    <q-stepper
      id="centreSetupStepper"
      :model-value="step"
      vertical
      done-icon="none"
      active-icon="none"
      error-icon="none"
    >
      <q-btn
        v-if="totalCentres > 0 && setupComplete === false"
        id="centreGoBackButton"
        class="full-width"
        color="primary"
        @click="goToNextPage(router)"
      >
        <div v-if="step > 1">Go Back (You can return later)</div>
        <div v-else>Go Back</div>
      </q-btn>
      <q-step
        id="nameYourCentreLabel"
        title="Name your Centre"
        :done="step > 1"
        :name="1"
        prefix="1"
        caption="Write down the name of the care centre you want to setup"
      >
        <q-form id="centreForm" @submit.prevent>
          <q-input
            v-model="centreName"
            for="centreInput"
            :rules="centreNameRules"
            bottom-slots
            :error="centreErrors.length > 0"
            :error-message="centreErrors[0]"
            label="Centre Name"
            required
            class="mb-2"
            counter
            maxlength="255"
            autofocus
            @keyup.enter="validateCentre"
          />
          <div class="row">
            <div class="col">
              <p class="text-center">Centre Colour</p>
              <accent-color-select
                :check-conflicting-centres="true"
                @update-color="updateSelectedColor"
              />
            </div>
          </div>
          <q-btn :disabled="!isValid" color="primary" @click="validateCentre"
            >Continue</q-btn
          >
        </q-form>
      </q-step>

      <q-step
        title="Set Opening Days"
        :done="step > 2"
        :name="2"
        prefix="2"
        :caption="`Select which days of the week ${
          centreName || 'this centre'
        } opens`"
      >
        <div class="q-pt-md q-pb-md">
          <day-selector
            :selected-days="openingDays"
            @update-selected-day="updateSelectedDays"
          />
        </div>
        <div justify="center" class="q-mt-sm row">
          <q-btn
            id="openDaysSubmitButton"
            :disabled="!openingDaysSubmitEnabled"
            color="primary"
            @click="createOpeningDays"
            >Continue</q-btn
          >
        </div>
      </q-step>

      <q-step
        title="Set Closing Days and Location"
        :done="step > 3"
        :name="3"
        prefix="3"
        :caption="`Select where the centre is located (this data is used to calculate public
        holidays). Then select specific closing days.`"
      >
        <location-select
          v-if="centreStore.setupCentre"
          :centre-id="centreStore.setupCentre.id"
          @location-ready-to-submit="updateLocationReady"
        />
        <centre-calendar
          v-if="centreStore.setupCentre"
          :centre-id="centreStore.setupCentre.id"
        />
        <div justify="center" class="q-mt-sm row">
          <q-btn
            id="closingDaysSubmitButton"
            :disabled="!closingDaysSubmitEnabled"
            color="primary"
            @click="createClosingDays"
            >Continue</q-btn
          >
        </div>
      </q-step>

      <q-step
        title="Define Policies"
        :done="step > 4"
        :name="4"
        prefix="4"
        caption="Create policies clients must agree to when they're registered. These
        should be in the form of yes/no questions."
      >
        <policies @update-centre="updateCentre" />
      </q-step>

      <q-step
        title="Define Needs"
        :done="step > 5"
        :name="5"
        prefix="5"
        caption="Create needs a client may have, you can add more later."
      >
        <needs v-if="step === 5" @update-centre="updateCentre" />
      </q-step>

      <dialog-card
        card-title="Subscribe to this centre now?"
        :prop-show-dialog="subscribeToCentreDialog"
        :persistent="true"
        @set-dialog="setSubscribeToCentreDialog"
      >
        <q-card-section> You can always subscribe later </q-card-section>
        <card-confirm-buttons
          confirm-button-text="Subscribe"
          go-back-button-text="Don't subscribe"
          :back-button="true"
          @confirm-button-clicked="subscribeToCentre"
          @go-back-button-clicked="goToNextPage(router)"
        />
      </dialog-card>
    </q-stepper>
  </q-layout>
</template>

<script lang="ts" setup>
import goToNextPage from 'src/functions/proxy/goToNextPage';
import { computed, ref, watch } from 'vue';
import { useCentreStore } from 'src/stores/centresStore';
import { useBasicStore } from 'src/stores/basicStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import { useUserStore } from 'src/stores/userStore';
import { useRouter } from 'vue-router';
import Policies from 'src/components/centreSetup/Policies.vue';
import Needs from 'src/components/centreSetup/Needs.vue';
import AccentColorSelect from 'src/components/themes/AccentColorSelect.vue';
import LocationSelect from 'src/components/centres/calendar/LocationSelect.vue';
import CentreCalendar from 'src/components/centres/calendar/CentreCalendar.vue';
import DialogCard from 'src/components/ui/DialogCard.vue';
import DaySelector from 'src/components/ui/DaySelector.vue';
import CardConfirmButtons from 'src/components/ui/CardConfirmButtons.vue';
import type CustomAxiosError from 'src/types/CustomAxiosError';
import type CentreResponse from 'src/types/axios/CentreResponse';
import type Centre from 'src/types/Centre';
import type { AxiosResponse } from 'axios';

const centreStore = useCentreStore();
const basicStore = useBasicStore();
const userStore = useUserStore();
const router = useRouter();

const selectedColor = ref('');

const locationReady = ref(true);

const centreName = ref('');

const centreErrors = ref<string[]>([]);

const openingDays = ref<number[]>([]);

const step = ref(1);

const subscribeToCentreDialog = ref(false);

const centreId = ref(0);

const centreNameRules = [
  (newCentreName: string): true | 'Centre Name is required' =>
    !!newCentreName || 'Centre Name is required'
];

const updateSelectedColor = (color: string): void => {
  selectedColor.value = color;
};

const openingDaysSubmitEnabled = computed(() => {
  return openingDays.value.length > 0;
});

const closingDaysSubmitEnabled = computed(() => {
  return locationReady.value;
});

const setupComplete = computed(() => {
  if (centreId.value in centreStore.centres) {
    return centreStore.centres[centreId.value].setupComplete;
  }
  return false;
});

const updateLocationReady = (ready: boolean): void => {
  locationReady.value = ready;
};

const isValid = computed(() => {
  return (
    !!selectedColor.value &&
    !!centreName.value &&
    centreErrors.value.length === 0
  );
});

const validateCentre = (): Promise<void> | null => {
  if (isValid.value) {
    return context.createCentre();
  }
  return null;
};

const createOpeningDays = (): Promise<void> | null => {
  // SQL arrays start at 1 so add 1 to each number
  if (centreStore.setupCentre?.id) {
    return updateCentre({
      id: centreStore.setupCentre.id,
      openingDaysFirstSetupComplete: true,
      openingDays: openingDays.value.map((day: number) => day + 1)
    });
  }
  return null;
};

const createClosingDays = (): Promise<void> | null => {
  if (centreStore.setupCentre?.id) {
    return updateCentre({
      id: centreStore.setupCentre.id,
      closingDaysFirstSetupComplete: true
    });
  }
  return null;
};

const updateCentre = (centre: Partial<Centre>): Promise<void> | null => {
  const { id } = centre;
  if (id) {
    return basicStore.http
      .patch(`centres/${id}/update/`, centre)
      .then((response: AxiosResponse) =>
        context.upsertCentreSuccessful(response)
      )
      .catch((err: CustomAxiosError) => upsertFailed(err));
  }
  return null;
};

const createCentre = (): Promise<void> => {
  return basicStore.http
    .post('centres/', { name: centreName.value, color: selectedColor.value })
    .then((response: AxiosResponse) => {
      context.upsertCentreSuccessful(response);
    })
    .catch((err: CustomAxiosError) => upsertFailed(err));
};

const upsertCentreSuccessful = (response: CentreResponse): void => {
  centreId.value = response.data.id;
  centreStore.setSetupCentre(response.data);
  step.value += 1;
};

const upsertFailed = (err: CustomAxiosError): void => {
  if (err.response?.data) {
    const data = err.response.data as { name: string[] };
    centreErrors.value = data.name;
  }
  axiosFailed(err);
};

const totalCentres = computed(() => {
  if (Object.keys(centreStore.centres).length > 0) {
    return Object.keys(centreStore.centres)
      .map(centreKey => centreStore.centres[centreKey])
      .filter(centre => centre.setupComplete).length;
  }
  return 0;
});

const subscribeToCentre = (): Promise<void> => {
  return basicStore.http
    .post('users/centres/update/', {
      centre: centreId.value,
      user: userStore.user.id
    })
    .then(() => goToNextPage(router))
    .catch((err: CustomAxiosError) => upsertFailed(err));
};

watch(centreName, () => {
  centreErrors.value = [];
});

watch(
  () => centreStore.setupCentre,
  () => {
    let tempStep = 1;
    if (centreStore.setupCentre) {
      centreId.value = centreStore.setupCentre.id;
      const centre = centreStore.setupCentre;
      centreName.value = centre.name;
      tempStep = 2;
      if (centre.openingDaysFirstSetupComplete) {
        tempStep = 3;
      }
      if (centre.closingDaysFirstSetupComplete) {
        tempStep = 4;
      }
      if (centre.policiesFirstSetupComplete) {
        tempStep = 5;
      }
    }
    step.value = tempStep;
  },
  { immediate: true, deep: true }
);

const context = {
  createCentre,
  upsertCentreSuccessful,
  subscribeToCentre
};

watch(setupComplete, async () => {
  if (setupComplete.value) {
    if (totalCentres.value > 1) {
      subscribeToCentreDialog.value = true;
    } else {
      await context.subscribeToCentre();
    }
  }
});

const setSubscribeToCentreDialog = (newValue: boolean): void => {
  subscribeToCentreDialog.value = newValue;
};

const updateSelectedDays = (dayId: number, added: boolean): void => {
  if (added) {
    openingDays.value.push(dayId);
  } else {
    openingDays.value = openingDays.value.filter(
      selectedDay => selectedDay !== dayId
    );
  }
};
</script>
<style>
.disable-events {
  pointer-events: none;
}
.q-card__text,
.q-card__title {
  word-break: normal; /* maybe !important  */
}
</style>
