<template>
  <div class="window-height flex flex-center q-ma-auto">
    <q-card>
      <q-card-section class="bg-primary text-white">
        <div class="text-h6 text-center">Select Centres To Subscribe To</div>
      </q-card-section>
      <q-card-section>
        <q-list id="centresList">
          <q-item v-for="centre in centres" :key="centre.id" tag="label">
            <q-item-section side top>
              <q-checkbox
                v-model="selectedCentres"
                size="lg"
                :val="centre.id"
              />
            </q-item-section>

            <q-item-section>
              <q-item-label class="centreName">{{ centre.name }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>
      <q-card-actions>
        <q-btn
          id="centreSelectButton"
          :disabled="selectedCentres.length === 0"
          class="full-width"
          color="primary"
          :loading="loading"
          @click="changeSubscription"
          >Continue</q-btn
        ></q-card-actions
      >
    </q-card>
  </div>
</template>

<script lang="ts" setup>
import { useCentreStore } from 'src/stores/centresStore';
import { computed, ref, watch } from 'vue';
import { useBasicStore } from 'src/stores/basicStore';
import goToNextPage from 'src/functions/proxy/goToNextPage';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import { useRouter } from 'vue-router';
import { useUserStore } from 'src/stores/userStore';
import type { AxiosResponse } from 'axios';

const centreStore = useCentreStore();
const basicStore = useBasicStore();
const userStore = useUserStore();
const router = useRouter();

const selectedCentres = ref<number[]>([]);

const loading = ref(false);

const centres = computed(() => {
  return Object.keys(centreStore.centres)
    .map(centreKey => {
      return {
        id: centreStore.centres[centreKey].id,
        name: centreStore.centres[centreKey].name,
        setupComplete: centreStore.centres[centreKey].setupComplete
      };
    })
    .filter(centre => centre.setupComplete);
});

const userCentresExist = computed(() => {
  return userStore.user.centres && userStore.user.centres.length > 0;
});

watch(userCentresExist, () => {
  if (userCentresExist.value) {
    loading.value = false;
    return context.goToNextPage(router);
  }
});

const changeSubscription = async (): Promise<void | AxiosResponse> => {
  loading.value = true;
  return basicStore.http
    .post(`users/centres/set/`, {
      centres: selectedCentres.value
    })
    .catch(() => axiosFailed());
};

const context = {
  goToNextPage
};
</script>
