<template>
  <div id="centresPage" class="window-height flex flex-center col">
    <div style="min-width: 80%">
      <card-with-header card-title="Centres" :dialog="false">
        <template #header-buttons>
          <q-input
            v-model="search"
            for="centreSearch"
            dark
            dense
            standout
            style="max-width: 150px"
          >
            <template #append>
              <q-icon :name="mdiMagnify" />
            </template>
          </q-input>
        </template>
        <q-card-section class="q-pr-md q-pl-md q-pt-none q-pb-none">
          <responsive-table
            table-id="centreListTable"
            :rows="centres"
            :filter="search"
            :headers="centreListHeaders"
            default-sort="name"
            :loading="centres.length === 0 && centreStore.centresLoading"
            @row-clicked="openCentreDialog"
          >
            <template #isSubscribed="{ cellData }">
              <q-icon
                v-if="cellData.isSubscribed"
                :name="mdiThumbUp"
                color="positive"
                class="subscribedIcon"
                size="sm"
              />
              <q-icon
                v-else
                size="sm"
                class="notSubscribedIcon"
                :name="mdiThumbDown"
                color="negative"
              />
            </template>
          </responsive-table>
        </q-card-section>
      </card-with-header>
      <div style="height: 50px" />
    </div>
    <add-centre-nav-bar v-if="isAdmin" ref="addCentreNavBar" />
    <dialog-card
      v-if="
        selectedCentreId &&
        centreStore.centres[selectedCentreId] &&
        centreStore.centres[selectedCentreId].name
      "
      dialog-id="centreDialog"
      :card-title="centreStore.centres[selectedCentreId].name"
      :prop-show-dialog="showCentreDialog"
      max-width="600"
      dialog-hash="centre-dialog"
      :header-color="selectedCentreHeaderColor"
      min-width="90%"
      @set-dialog="setCentreDialog"
    >
      <template #header-title>
        <centre-card-header :selected-centre-id="selectedCentreId" />
      </template>
      <centre-dialog
        :centre-id="selectedCentreId"
        @close-dialog="closeCentreDialog"
      />
    </dialog-card>
  </div>
</template>
<script lang="ts" setup>
import { mdiMagnify, mdiThumbDown, mdiThumbUp } from '@mdi/js';
import { computed, ref } from 'vue';
import isAdmin from 'src/functions/auth/isAdmin';
import { useUserStore } from 'src/stores/userStore';
import { useCentreStore } from 'src/stores/centresStore';
import AddCentreNavBar from 'src/components/centres/AddCentreNavBar.vue';
import CardWithHeader from 'src/components/ui/CardWithHeader.vue';
import DialogCard from 'src/components/ui/DialogCard.vue';
import ResponsiveTable from 'src/components/ui/ResponsiveTable.vue';
import CentreDialog from '../components/centres/CentreDialog.vue';
import CentreCardHeader from '../components/centres/CentreCardHeader.vue';
import type ResponsiveTableHeader from 'src/types/ResponsiveTableHeader';

import type Centre from 'src/types/Centre';

const userStore = useUserStore();
const centreStore = useCentreStore();

const showCentreDialog = ref(false);
const selectedCentreId = ref<null | number>(null);
const search = ref('');

const openCentreDialog = (centre: Centre): void => {
  selectedCentreId.value = centre.id;
  showCentreDialog.value = true;
};

const centreListHeaders = computed(() => {
  const headers: ResponsiveTableHeader[] = [
    {
      label: 'Name',
      name: 'name',
      field: 'name',
      sortable: true,
      align: 'left'
    }
  ];

  if (isAdmin.value) {
    headers.push({
      label: 'Subscribed?',
      name: 'isSubscribed',
      field: 'isSubscribed',
      sortable: true,
      align: 'right'
    });
  }
  return headers;
});

const closeCentreDialog = (): void => {
  showCentreDialog.value = false;
};

const centres = computed(() => {
  const userCentres = userStore.user.centres;
  return Object.keys(centreStore.centres)
    .map(centreKey => centreStore.centres[centreKey])
    .filter(selectedCentre => selectedCentre.setupComplete)
    .map(centre => ({
      id: centre.id,
      name: centre.name,
      isSubscribed: userCentres?.includes(centre.id)
    }));
});

const setCentreDialog = (newValue: boolean): void => {
  showCentreDialog.value = newValue;
};

const selectedCentreHeaderColor = computed(() => {
  if (
    userStore.user.centres &&
    selectedCentreId.value &&
    userStore.user.centres.includes(selectedCentreId.value)
  ) {
    return centreStore.centres[selectedCentreId.value].color;
  }
  return 'grey';
});
</script>
