<template>
  <div id="clientsPage" class="window-height flex flex-center">
    <div style="min-width: 80%">
      <card-with-header card-title="Clients" :dialog="false">
        <template #header-buttons>
          <q-btn
            id="clientFilterButton"
            flat
            dense
            label="Filter"
            class="q-mr-sm"
            :icon-right="mdiFilter"
          >
            <q-popup-proxy>
              <q-card bordered>
                <q-select
                  id="clientTableFilterColumnInput"
                  :model-value="includedHeaders"
                  :options="clientListHeaders"
                  label="Filter Columns"
                  class="q-pa-md"
                  max-values="6"
                  :hint="`${includedHeaders.length} out of 6 selected`"
                  multiple
                  emit-value
                  @update:model-value="createFilteredColumns"
                />

                <q-separator class="q-mt-md" />
                <q-toggle
                  id="clientsHiddenSwitch"
                  v-model="inActiveClientsShown"
                  class="q-pt-sm q-pb-sm"
                  :label="`Inactive clients are ${
                    inActiveClientsShown ? 'shown' : 'hidden'
                  }`"
                />
                <q-separator />
                <div class="q-pa-sm">
                  <span class="q-pa-sm"> Filter Age Range:</span>
                  <q-range
                    v-model="ageFilter"
                    class="ageFilter q-pa-lg"
                    :min="0"
                    :max="120"
                    label-always
                  />
                </div>
              </q-card>
            </q-popup-proxy>
          </q-btn>
          <q-input
            v-model="search"
            for="clientSearch"
            dark
            dense
            standout
            style="max-width: 150px"
          >
            <template #append>
              <q-icon :name="mdiMagnify" />
            </template>
          </q-input>
        </template>
        <q-card-section class="q-pr-md q-pl-md q-pt-none q-pb-none">
          <responsive-table
            table-id="clientListTable"
            :rows="clients"
            :filter="search"
            :headers="includedHeaders"
            default-sort="surname"
            :loading="clients.length === 0 && clientStore.clientsLoading"
            :no-data-label="noDataMessage"
            :sort-method="customSort"
            @row-clicked="openClientDialog"
          />
        </q-card-section>
      </card-with-header>
      <div style="height: 50px" />
    </div>
    <add-client-nav-bar />
    <dialog-card
      v-if="selectedClientId && clientStore.clients[selectedClientId]"
      dialog-id="clientDialog"
      :card-title="`${clientStore.clients[selectedClientId].firstName} ${clientStore.clients[selectedClientId].surname}`"
      :prop-show-dialog="showClientDialog"
      min-width="90%"
      dialog-hash="client-dialog"
      :header-color="selectedClientHeaderColor"
      @set-dialog="setClientDialog"
    >
      <template #header-buttons>
        <client-card-header-buttons :client-id="selectedClientId" />
      </template>
      <client-dialog
        :client-id="selectedClientId"
        @close-dialog="closeClientDialog"
      />
    </dialog-card>
  </div>
</template>
<script lang="ts" setup>
import { mdiFilter, mdiMagnify } from '@mdi/js';
import { differenceInYears, parseISO } from 'date-fns';
import { computed, ref, watch } from 'vue';
import { useUserStore } from 'src/stores/userStore';
import { useBasicStore } from 'src/stores/basicStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import { useClientStore } from 'src/stores/clientsStore';
import formatClient from 'src/functions/client/formatClient';
import sortAlphabetically from 'src/functions/common/sortAlphabetically';
import DialogCard from 'src/components/ui/DialogCard.vue';
import ResponsiveTable from 'src/components/ui/ResponsiveTable.vue';
import CardWithHeader from 'src/components/ui/CardWithHeader.vue';
import AddClientNavBar from 'src/components/clients/AddClientNavBar.vue';
import ClientCardHeaderButtons from 'src/components/clients/ClientCardHeaderButtons.vue';
import ClientDialog from '../components/clients/ClientDialog.vue';
import type { AxiosResponse } from 'axios';
import type Client from 'src/types/Client';

const userStore = useUserStore();
const basicStore = useBasicStore();
const clientStore = useClientStore();

const inActiveClientsShown = ref(false);

const showClientDialog = ref(false);

const selectedClientId = ref<number | null>();

const clientListHeaders = [
  {
    label: 'First Name',
    name: 'firstName',
    field: 'firstName',
    sortable: true
  },
  {
    label: 'Surname',
    name: 'surname',
    field: 'surname',
    sortable: true
  },
  {
    label: 'Admitted By',
    name: 'admittedBy',
    field: 'admittedBy',
    sortable: true
  },
  {
    label: 'Gender',
    name: 'gender',
    field: 'gender',
    sortable: true
  },
  {
    label: 'Date Added',
    name: 'createdDate',
    field: 'createdDate',
    sortable: true
  },
  {
    label: 'Date Of Birth',
    name: 'dateOfBirth',
    field: 'dateOfBirth',
    sortable: true
  },
  {
    label: 'Address',
    name: 'address',
    field: 'address',
    sortable: true
  },
  {
    label: 'Phone Number',
    name: 'phoneNumber',
    field: 'phoneNumber',
    sortable: false
  },
  {
    label: 'Home Help',
    name: 'homeHelpName',
    field: 'homeHelpName',
    sortable: true
  },
  {
    label: 'Home Help Number',
    name: 'homeHelpPhoneNumber',
    field: 'homeHelpPhoneNumber',
    sortable: true
  },
  {
    label: 'Public Health Nurse',
    name: 'publicHealthNurseName',
    field: 'publicHealthNurseName',
    sortable: true
  },
  {
    label: 'Public Health Nurse Number',
    name: 'publicHealthNursePhoneNumber',
    field: 'publicHealthNursePhoneNumber',
    sortable: true
  },
  {
    label: 'GP',
    name: 'gpName',
    field: 'gpName',
    sortable: true
  },
  {
    label: 'GP Number',
    name: 'gpPhoneNumber',
    field: 'gpPhoneNumber',
    sortable: true
  },
  {
    label: 'Chemist',
    name: 'chemistName',
    field: 'chemistName',
    sortable: true
  },
  {
    label: 'Chemist Number',
    name: 'chemistPhoneNumber',
    field: 'chemistPhoneNumber',
    sortable: true
  },
  {
    label: 'Mobility',
    name: 'mobility',
    field: 'mobility',
    sortable: true
  },
  {
    label: 'Toileting',
    name: 'toileting',
    field: 'toileting',
    sortable: true
  },
  {
    label: 'Hygiene',
    name: 'hygiene',
    field: 'hygiene',
    sortable: true
  },
  {
    label: 'Sight',
    name: 'sight',
    field: 'sight',
    sortable: true
  },
  {
    label: 'Hearing',
    name: 'hearing',
    field: 'hearing',
    sortable: true
  },
  {
    label: 'Thickner Grade',
    name: 'thicknerGrade',
    field: 'thicknerGrade',
    sortable: true
  },
  {
    label: 'Account Status',
    name: 'accountStatus',
    field: 'accountStatus',
    sortable: true
  }
];

const search = ref('');

const ageFilter = ref({
  min: 0,
  max: 130
});

const includedHeaders = ref<
  { label: string; name: string; field: string; sortable: boolean }[]
>([
  {
    label: 'First Name',
    name: 'firstName',
    field: 'firstName',
    sortable: true
  },
  {
    label: 'Surname',
    name: 'surname',
    field: 'surname',
    sortable: true
  },
  {
    label: 'Address',
    name: 'address',
    field: 'address',
    sortable: true
  }
]);

const openClientDialog = (client: Client): void => {
  selectedClientId.value = client.id;
  showClientDialog.value = true;
};

const noDataMessage = computed(() => {
  if (allClients.value.length > 0) {
    return 'No clients visible due to filters';
  }
  return 'No clients have been added to your subscribed centres';
});

const closeClientDialog = (): void => {
  showClientDialog.value = false;
};

const excludedHeaders = computed(() => {
  return userStore.user.userClientTableHiddenRows;
});

watch(excludedHeaders, () => {
  updateIncludedHeaders();
});

const updateIncludedHeaders = (): void => {
  if (excludedHeaders.value) {
    includedHeaders.value = clientListHeaders.filter(
      headerText => !excludedHeaders.value.includes(headerText.label)
    );
  }
};

const createFilteredColumns = (
  newColumns: {
    label: string;
    name: string;
    field: string;
    sortable: boolean;
  }[]
): Promise<void | AxiosResponse> | null => {
  if (userStore.user.id) {
    const newExcludedHeaders = clientListHeaders
      .filter(
        headerText =>
          !newColumns.some(
            includedHeader => includedHeader.name === headerText.name
          )
      )
      .map(column => column.label);
    return basicStore.http
      .patch(`users/${userStore.user.id}/update/`, {
        userClientTableHiddenRows: JSON.stringify(newExcludedHeaders)
      })
      .catch(() => axiosFailed());
  }
  return null;
};

const allClients = computed(() => {
  return Object.keys(clientStore.clients)
    .map(clientKey => {
      return { ...clientStore.clients[clientKey] };
    })
    .filter((client: Client) => client.setupComplete)
    .filter((client: Client) => client.centres)
    .filter((client: Client) =>
      userStore.user.centres?.some((centreId: number) =>
        client.centres?.includes(centreId)
      )
    );
});

const customSort = (
  items: readonly Client[],
  sortBy: string,
  isDesc: boolean
): readonly Client[] => {
  const clientSortBy = sortBy as keyof Client;
  const clients = [...items];
  clients.sort((a: Client, b: Client) => {
    if (
      (clientSortBy === 'dateOfBirth' || clientSortBy === 'createdDate') &&
      b.id &&
      a.id
    ) {
      if (isDesc) {
        return (
          new Date(clientStore.clients[b.id].dateOfBirth).getTime() -
          new Date(clientStore.clients[a.id].dateOfBirth).getTime()
        );
      }
      return (
        new Date(clientStore.clients[a.id].dateOfBirth).getTime() -
        new Date(clientStore.clients[b.id].dateOfBirth).getTime()
      );
    }
    return sortAlphabetically(
      a[clientSortBy] as string,
      b[clientSortBy] as string,
      isDesc
    );
  });
  return clients;
};

const clients = computed(() => {
  return allClients.value
    .filter((client: Client) => {
      if (!inActiveClientsShown.value) {
        return client.isActive;
      }
      return true;
    })
    .filter((client: Client) => {
      const parsedDate = parseISO(client.dateOfBirth);
      const age = differenceInYears(new Date(), parsedDate);
      return age >= ageFilter.value.min && age <= ageFilter.value.max;
    })
    .filter((client: Client) => {
      // Check that some centres the client is in overlaps with
      // centres the user can view
      const clientCentres = client.centres as number[];
      return clientCentres.some(centreId =>
        userStore.user.centres?.includes(centreId)
      );
    })
    .map((client: Client) => context.formatClient(Number(client.id)));
});

const setClientDialog = (newValue: boolean): void => {
  showClientDialog.value = newValue;
};

const selectedClientHeaderColor = computed(() => {
  if (
    selectedClientId.value &&
    selectedClientId.value in clientStore.clients &&
    clientStore.clients[selectedClientId.value].isActive
  ) {
    return 'primary';
  }
  return 'grey';
});

const context = {
  formatClient
};
updateIncludedHeaders();
</script>
<style scoped>
.card-outer {
  position: relative;
  padding-bottom: 50px;
}
.card-actions {
  bottom: 0;
}
</style>
