<template>
  <client-dialog
    v-if="clientStore.activeClient && clientStore.activeClient.id"
    id="myMedicalInfoClientDialog"
    :client-id="clientStore.activeClient.id"
  />
</template>
<script lang="ts" setup>
import { useClientStore } from 'src/stores/clientsStore';
import ClientDialog from '../components/clients/ClientDialog.vue';
const clientStore = useClientStore();
</script>
