<template>
  <div v-if="query.action" class="window-height flex flex-center q-ma-auto">
    <q-card v-if="!codeValid" class="pa-8" :square="$q.screen.width < 600">
      <q-form id="tempCodeInputForm" @submit.prevent>
        <div class="row q-ma-lg">
          <p class="text-subtitle-1 text-center">
            Enter the temporary code that was sent to you via Email
          </p>
        </div>
        <div v-if="query.action.includes('registration')" class="q-pa-md">
          <q-btn-toggle
            v-model="selectedRegistrationType"
            spread
            rounded
            toggle-color="primary"
            color="white"
            text-color="primary"
            :options="[
              { label: 'I am a Medical Professional', value: 'registration' },
              { label: 'I am a Client', value: 'client-registration' }
            ]"
          />
        </div>
        <div v-if="!query.action.includes('registration')" class="q-px-md">
          <q-input
            v-model="usernameInput"
            for="usernameInput"
            autocomplete="new-password"
            :rules="[v => !!v || 'Username is required']"
            label="Your Username"
            required
            autofocus
            @keyup.enter="validateInput"
          />
        </div>
        <div v-if="query.action.includes('registration')" class="q-px-md">
          <q-input
            v-model="emailInput"
            for="emailInput"
            autocomplete="new-password"
            :rules="[
              v => !!v || 'Email is required',
              v =>
                !!v.match(/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/) ||
                'Invalid Email Address'
            ]"
            label="Your Email Address"
            required
            autofocus
            @keyup.enter="validateInput"
          />
        </div>
        <div class="q-px-md q-mb-md">
          <q-input
            v-model="tempCodeInput"
            for="tempCodeInput"
            autocomplete="new-password"
            :rules="[
              v => !!v || 'Code is required',
              v => v.length === 32 || 'Code must be 32 characters'
            ]"
            maxlength="32"
            counter
            label="Code"
            required
            :append-icon="showCode ? mdiEye : mdiEyeOff"
            :type="showCode ? 'text' : 'password'"
            @keyup.enter="validateInput"
            @click:append="showCode = !showCode"
          >
            <template #append>
              <q-btn
                id="tempCodeEyeIcon"
                tabindex="-1"
                round
                dense
                flat
                :icon="showCode ? mdiEyeOff : mdiEye"
                @click="showCode = !showCode"
              />
            </template>
          </q-input>
        </div>
        <div class="row">
          <div class="col q-pa-xs">
            <q-btn
              id="tempCodeReturnToLogin"
              class="full-width"
              @click="logout(router)"
            >
              Return to Login
            </q-btn>
          </div>
          <div class="col q-pa-xs">
            <q-btn
              id="tempCodeValidateButton"
              :disabled="!isValid"
              :loading="checkingTempCode"
              class="full-width"
              color="primary"
              @click="validateInput"
              >Submit</q-btn
            >
          </div>
        </div>
      </q-form>
    </q-card>

    <div v-if="codeValid">
      <q-card v-if="query.action === 'reset-password'" class="pa-4">
        <change-password
          :temp-code="tempCodeInput"
          :username="usernameInput"
          @close-dialog="logout(router)"
        />
      </q-card>
      <q-card v-if="query.action === 'reset-totp'" class="q-pa-md">
        <otp-setup
          :registering="false"
          @otp-setup-complete="otpSetupComplete"
        />
      </q-card>
      <div
        v-if="
          query.action === 'registration' ||
          query.action === 'client-registration'
        "
      >
        <q-card>
          <q-card-section class="bg-primary text-white">
            <div class="text-h6 text-center">Create Your Account</div>
          </q-card-section>
          <q-card-section>
            <register
              ref="register"
              :provided-display-name="query.displayName"
              :temp-code="tempCodeInput"
              :provided-email="emailInput"
              :register-type="query.action" /></q-card-section
        ></q-card>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { mdiEye, mdiEyeOff } from '@mdi/js';
import logout from 'src/functions/auth/logout';
import { computed, ref, watch } from 'vue';
import { useRouter } from 'vue-router';
import { useBasicStore } from 'src/stores/basicStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import { Notify } from 'quasar';
import OtpSetup from 'src/components/auth/OtpSetup.vue';
import ChangePassword from 'src/components/auth/ChangePassword.vue';
import Register from 'src/components/auth/RegisterComponent.vue';

import type CustomAxiosError from 'src/types/CustomAxiosError';
import type { NavigationFailure } from 'vue-router';

const router = useRouter();
const basicStore = useBasicStore();
const usernameInput = ref('');

const emailInput = ref('');

const tempCodeInput = ref('');

const resettingOtpSecret = ref(false);

const showCode = ref(false);

const checkingTempCode = ref(false);

const codeValid = ref(false);

const selectedRegistrationType = ref<'registration' | 'client-registration'>(
  'registration'
);

const validateTempCode = (): Promise<void> => {
  checkingTempCode.value = true;
  let action = query.value.action;
  if (query.value.action?.includes('registration')) {
    action = selectedRegistrationType.value;
  }
  return basicStore.http
    .post(
      'temp-code/validate/',
      {
        username: usernameInput.value,
        code: tempCodeInput.value,
        action,
        email: emailInput.value
      },
      {
        headers: {
          Authorization: ''
        }
      }
    )
    .then(() => {
      codeValid.value = true;
    })
    .catch((error: CustomAxiosError) => {
      axiosFailed(error);
      checkingTempCode.value = false;
    });
};

const validateInput = async (): Promise<void> => {
  if (isValid.value) {
    await context.validateTempCode();
  }
};

const context = {
  validateInput,
  validateTempCode
};

const query = computed<{
  action:
    | 'registration'
    | 'client-registration'
    | 'reset-password'
    | 'reset-totp'
    | 'login'
    | undefined;
  displayName: string;
  email: string;
  username: string;
  code: string;
}>(() => {
  return router.currentRoute.value.query as {
    action:
      | 'registration'
      | 'client-registration'
      | 'reset-password'
      | 'reset-totp'
      | 'login'
      | undefined;
    displayName: string;
    email: string;
    username: string;
    code: string;
  };
});

const isValid = computed(() => {
  const validCodeInput =
    !!tempCodeInput.value && tempCodeInput.value.length === 32;
  if (query.value.action?.includes('registration')) {
    return !!emailInput.value && validCodeInput;
  }
  return !!usernameInput.value && validCodeInput;
});

watch(
  query,
  async () => {
    if (query.value.action && query.value.action === 'login') {
      return router.push({ name: 'auth' });
    }
    if (
      query.value.action === 'registration' ||
      query.value.action === 'client-registration'
    ) {
      selectedRegistrationType.value = query.value.action;
    }
    if (query.value.username) {
      usernameInput.value = query.value.username;
    }
    if (query.value.email) {
      emailInput.value = query.value.email;
    }
    if (query.value.code) {
      tempCodeInput.value = query.value.code;
    }
    return context.validateInput();
  },
  { immediate: true }
);

const otpSetupComplete = (
  otpSecret: string
): Promise<void | NavigationFailure | undefined> => {
  resettingOtpSecret.value = true;
  return basicStore.http
    .put(
      'temp-code/reset-totp/',
      {
        username: usernameInput.value,
        code: tempCodeInput.value,
        otpSecret
      },
      {
        headers: {
          Authorization: ''
        }
      }
    )
    .then(() => {
      Notify.create({
        type: 'positive',
        message: 'TOTP Device Successfully Reset'
      });
      return logout(router);
    })
    .catch((error: CustomAxiosError) => {
      axiosFailed(error);
      resettingOtpSecret.value = false;
    });
};
logout(router, false).catch((err: Error) => err);
</script>
