<template>
  <div id="mySettingsPage" class="window-height flex flex-center">
    <card-with-header card-title="User Settings" :dialog="false">
      <q-card-section class="q-pa-md">
        <div v-if="!isClient" class="row">
          <q-form id="displayNameForm" style="width: 100%" @submit.prevent>
            <q-input
              v-model="displayNameInput"
              for="displayNameInput"
              :rules="displayNameRules"
              maxlength="256"
              class="ma-5"
              label="Display Name"
              required
              @change="validateDisplayName()"
            />
          </q-form>
        </div>
        <q-separator />
        <div class="row">
          <div class="flex col-12 col-sm-6 q-pa-sm">
            <q-btn
              id="openChangePasswordDialogButton"
              class="full-width"
              color="primary"
              @click="openChangePasswordDialog"
              >Change Password
            </q-btn>
          </div>
          <div class="flex col-12 col-sm-6 q-pa-sm">
            <q-btn
              id="openChangeEmailDialogButton"
              color="primary"
              class="full-width"
              @click="openChangeEmailDialog"
              >Change Email Address
            </q-btn>
          </div>
        </div>
        <q-separator v-if="isClient" />
        <div v-if="isClient" class="row">
          <div id="clientTOTPButtons" class="flex col-12 col-sm-12 q-pa-sm">
            <q-btn
              v-if="userStore.user.hasTOTP"
              id="openDisableTOTPDialog"
              class="full-width"
              color="primary"
              @click="openDisableTOTPDialog"
              >Disable Multi Factor Authentication</q-btn
            >
            <q-btn
              v-else
              id="openSetupTOTPDialog"
              class="full-width"
              color="primary"
              @click="openSetupTOTPDialog"
              >Setup Multi Factor Authentication</q-btn
            >
          </div>
        </div>
        <q-separator />
        <theme-select />
      </q-card-section>
    </card-with-header>
    <dialog-card
      dialog-id="changePasswordDialog"
      max-width="290"
      card-title="Change Password"
      :prop-show-dialog="changePasswordDialog"
      dialog-hash="change-password-dialog"
      @set-dialog="
        newValue => {
          changePasswordDialog = newValue;
        }
      "
    >
      <change-password @close-dialog="closeChangePasswordDialog" />
    </dialog-card>
    <dialog-card
      v-if="userStore.user.id"
      dialog-id="changeEmailDialog"
      max-width="290"
      card-title="Change Email"
      :prop-show-dialog="changeEmailDialog"
      dialog-hash="change-email-dialog"
      @set-dialog="
        newValue => {
          changeEmailDialog = newValue;
        }
      "
    >
      <change-email
        :user-id="userStore.user.id"
        @close-dialog="closeEmailDialog"
      />
    </dialog-card>
    <dialog-card
      v-if="userStore.user.id"
      dialog-id="setupTOTPDialog"
      card-title="Setup Multi Factor Authentication"
      :prop-show-dialog="setupTOTPDialog"
      dialog-hash="setup-totp"
      @set-dialog="
        newValue => {
          setupTOTPDialog = newValue;
        }
      "
    >
      <otp-setup
        class="q-pa-md"
        :is-client="true"
        :has-title="false"
        @otp-setup-complete="otpSetupComplete"
      />
    </dialog-card>
    <dialog-card
      v-if="userStore.user.id"
      dialog-id="disableTOTPDialog"
      card-title="Disable Multi Factor Authentication"
      :prop-show-dialog="disableTOTPDialog"
      dialog-hash="disable-totp"
      @set-dialog="
        newValue => {
          disableTOTPDialog = newValue;
        }
      "
    >
      <disable-totp
        class="q-pa-md"
        :is-client="true"
        :has-title="false"
        @close-dialog="disableTOTPDialog = false"
      />
    </dialog-card>
  </div>
</template>

<script lang="ts" setup>
import { computed, ref, watch } from 'vue';
import { useUserStore } from 'src/stores/userStore';
import { useBasicStore } from 'src/stores/basicStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import ChangeEmail from 'src/components/auth/ChangeEmail.vue';
import ChangePassword from 'src/components/auth/ChangePassword.vue';
import ThemeSelect from 'src/components/themes/ThemeSelect.vue';
import CardWithHeader from 'src/components/ui/CardWithHeader.vue';
import DialogCard from 'src/components/ui/DialogCard.vue';
import isClient from 'src/functions/auth/isClient';
import OtpSetup from 'src/components/auth/OtpSetup.vue';
import DisableTotp from 'src/components/auth/DisableTOTP.vue';

import { Notify } from 'quasar';
import type { AxiosResponse } from 'axios';

const userStore = useUserStore();
const basicStore = useBasicStore();

const displayNameInput = ref('');

const displayName = computed(() => {
  return userStore.user.displayName;
});

const displayNameRules = [
  (newDisplayName: string): true | "Display Name can't be blank" =>
    !!newDisplayName || "Display Name can't be blank"
];

const displayNameValid = computed(() => {
  return !!displayNameInput.value;
});

watch(
  displayName,
  () => {
    displayNameInput.value = displayName.value;
  },
  { immediate: true }
);

const changePasswordDialog = ref(false);

const changeEmailDialog = ref(false);
const setupTOTPDialog = ref(false);
const disableTOTPDialog = ref(false);

const validateDisplayName = async (): Promise<void> => {
  if (displayNameValid.value) {
    await context.updateDisplayName();
  }
};

const closeChangePasswordDialog = (): void => {
  changePasswordDialog.value = false;
};

const closeEmailDialog = (): void => {
  changeEmailDialog.value = false;
};

const updateDisplayName = (): Promise<void | AxiosResponse> => {
  return updateUser({
    displayName: displayNameInput.value
  });
};

const otpSetupComplete = (
  newOtpSecret: string
): Promise<void | AxiosResponse> => {
  return updateUser({ otpDeviceKey: newOtpSecret }).then(() => {
    setupTOTPDialog.value = false;
    Notify.create({
      type: 'positive',
      message: 'Multifactor authentication has been set up!'
    });
  });
};

const updateUser = (
  userData: Partial<{ otpDeviceKey: string; displayName: string }>
): Promise<void | AxiosResponse> => {
  return basicStore.http
    .patch(`users/${userStore.user.id ?? ''}/update/`, userData)
    .catch(axiosFailed);
};

const openChangePasswordDialog = (): void => {
  changePasswordDialog.value = true;
};

const openChangeEmailDialog = (): void => {
  changeEmailDialog.value = true;
};
const openSetupTOTPDialog = (): void => {
  setupTOTPDialog.value = true;
};

const openDisableTOTPDialog = (): void => {
  disableTOTPDialog.value = true;
};
const context = {
  updateDisplayName
};
</script>
