<template>
  <q-card-section id="passwordChangeForm">
    <q-input
      v-if="!tempCode"
      v-model="oldPassword"
      for="oldPasswordInput"
      :type="showOldPassword ? 'text' : 'password'"
      :rules="[
        v => !!v || 'Old Password is required',
        v => v.length >= 6 || 'Password must be at least 6 characters'
      ]"
      bottom-slots
      :error="!!oldPasswordErrors && oldPasswordErrors.length > 0"
      :error-message="oldPasswordErrors?.[0] || ''"
      label="Old Password"
      required
      autofocus
      @keyup.enter="changePassword()"
    >
      <template #append>
        <q-btn
          id="oldPasswordEyeIcon"
          round
          tabindex="-1"
          dense
          flat
          :icon="showOldPassword ? mdiEyeOff : mdiEye"
          @click="showOldPassword = !showOldPassword"
        />
      </template>
    </q-input>

    <q-input
      v-model="newPassword"
      for="passwordInput"
      bottom-slots
      :error="!!newPasswordErrors && newPasswordErrors.length > 0"
      :error-message="newPasswordErrors?.[0] || ''"
      :type="showNewPassword ? 'text' : 'password'"
      :rules="[
        v => !!v || 'New Password is required',
        v => v.length >= 6 || 'Password must be at least 6 characters',
        ...passwordRules
      ]"
      :autofocus="!!tempCode"
      label="New Password"
      required
      @keyup.enter="changePassword()"
    >
      <template #append>
        <q-btn
          id="newPasswordEyeIcon"
          round
          tabindex="-1"
          dense
          flat
          :icon="showNewPassword ? mdiEyeOff : mdiEye"
          @click="showNewPassword = !showNewPassword"
        /> </template
    ></q-input>

    <q-input
      v-model="confirmPassword"
      for="confirmPasswordInput"
      :append-icon="showConfirmPassword ? mdiEye : mdiEyeOff"
      :type="showConfirmPassword ? 'text' : 'password'"
      :rules="[
        v => !!v || 'Password confirmation is required',
        v => v.length >= 6 || 'Password must be at least 6 characters',
        ...passwordRules
      ]"
      rows="1"
      label="Confirm New Password"
      required
      @keyup.enter="changePassword()"
    >
      <template #append>
        <q-btn
          id="confirmPasswordEyeIcon"
          round
          tabindex="-1"
          dense
          flat
          :icon="showConfirmPassword ? mdiEyeOff : mdiEye"
          @click="showConfirmPassword = !showConfirmPassword"
        />
      </template>
    </q-input>
  </q-card-section>
  <card-confirm-buttons
    confirm-button-text="Change Password"
    :confirm-button-valid="isValid"
    @confirm-button-clicked="changePassword"
  />
</template>

<script lang="ts" setup>
import { mdiEye, mdiEyeOff } from '@mdi/js';
import { useBasicStore } from 'src/stores/basicStore';
import { computed, ref, watch } from 'vue';
import { Notify } from 'quasar';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import CardConfirmButtons from '../ui/CardConfirmButtons.vue';
import type CustomAxiosError from 'src/types/CustomAxiosError';
const basicStore = useBasicStore();

// A user is using an emailed temp code to reset their password
interface Props {
  tempCode?: string;
  username?: string;
  userId?: number;
}

const props = withDefaults(defineProps<Props>(), {
  tempCode: '',
  username: '',
  userId: undefined
});
const emit = defineEmits(['close-dialog']);
const oldPassword = ref('');

const newPassword = ref('');

const confirmPassword = ref('');

const showOldPassword = ref(false);

const showNewPassword = ref(false);

const showConfirmPassword = ref(false);

const newPasswordErrors = ref<string[] | undefined>([]);

const oldPasswordErrors = ref<string[] | undefined>([]);

watch([confirmPassword, newPassword, oldPassword], () => {
  newPasswordErrors.value = [];
  oldPasswordErrors.value = [];
});

const isValid = computed(() => {
  const confirmPasswordRules =
    !!confirmPassword.value &&
    !!newPassword.value &&
    confirmPassword.value.length >= 6 &&
    newPassword.value.length >= 6 &&
    confirmPassword.value === newPassword.value;
  if (!props.tempCode) {
    const oldPasswordRules =
      !!oldPassword.value && oldPassword.value.length >= 6;
    return oldPasswordRules && confirmPasswordRules;
  }
  return confirmPasswordRules;
});

const passwordRules = computed(() => {
  const rules = [];
  if (confirmPassword.value) {
    const rule = (v: string): boolean | 'Values do not match' =>
      (!!v && v === confirmPassword.value && v === newPassword.value) ||
      'Values do not match';
    rules.push(rule);
  }
  return rules;
});

const changePassword = (): Promise<void> => {
  if (props.tempCode && props.tempCode.length === 32) {
    return basicStore.http
      .put(
        'temp-code/reset-password/',
        {
          username: props.username,
          password: newPassword.value,
          code: props.tempCode
        },
        {
          headers: {
            Authorization: ''
          }
        }
      )
      .then(() => context.changePasswordSuccess())
      .catch((err: CustomAxiosError) => context.changePasswordFailed(err));
  }
  return basicStore.http
    .post('change-password/', {
      new_password1: newPassword.value,
      new_password2: newPassword.value,
      old_password: oldPassword.value
    })
    .then(() => context.changePasswordSuccess())
    .catch((err: CustomAxiosError) => context.changePasswordFailed(err));
};

const changePasswordSuccess = (): void => {
  oldPassword.value = '';
  newPassword.value = '';
  confirmPassword.value = '';
  context.emit('close-dialog');
  Notify.create({
    type: 'positive',
    message: 'Password Changed!'
  });
};

const changePasswordFailed = (err: CustomAxiosError): void => {
  if (err.response) {
    const data = err.response.data as {
      old_password: string[];
      new_password: string[];
    };
    oldPasswordErrors.value = data.old_password;
    newPasswordErrors.value = data.new_password;
  }
  axiosFailed(err);
};

const context = {
  changePasswordFailed,
  changePasswordSuccess,
  emit
};
</script>
