<template>
  <div>
    <div class="row" style="max-width: 400px">
      <div class="col" primary-title>
        <div class="text-center text-h6 mt-3">
          <q-icon size="xl" :name="mdiAlert" color="warning" />
          <p>WARNING</p>
        </div>
        <p>
          Disabling multi factor authentication may make logins faster but will
          weaken your security. Your sensitive medical data is far safer with
          multi factor authentication enabled.
        </p>

        <p>
          You can always reenable your multi factor authentication code later.
        </p>
      </div>
    </div>
    <card-confirm-buttons
      confirm-button-text="Disable Multi Factor Authentication"
      confirm-button-id="disableTOTPConfirmButton"
      @confirm-button-clicked="disableTOTP"
    />
  </div>
</template>

<script lang="ts" setup>
import { Notify } from 'quasar';
import { mdiAlert } from '@mdi/js';
import CardConfirmButtons from 'src/components/ui/CardConfirmButtons.vue';
import { useBasicStore } from 'src/stores/basicStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';

const basicStore = useBasicStore();

const emit = defineEmits(['close-dialog']);
const disableTOTP = (): Promise<void> => {
  return basicStore.http
    .get('users/disable-totp/')
    .then(disableTOTPSuccess)
    .catch(axiosFailed);
};

const disableTOTPSuccess = (): void => {
  context.emit('close-dialog');
  Notify.create({
    type: 'positive',
    message: 'Multifactor authentication has been disabled'
  });
};

const context = {
  emit
};
</script>
