<template>
  <q-card id="forgotEmailModal" class="pa-4">
    <q-card-section class="bg-primary text-white">
      <div class="text-h6 text-center">Send Password Reset Email</div>
    </q-card-section>
    <q-card-section>
      <p>
        Enter your email address below. If the email is correct you will receive
        an email shortly.
      </p>

      <p>
        <strong
          >Note: You are limited to one password reset request per day.</strong
        >
      </p>
      <q-form id="forgotEmailForm" @submit.prevent>
        <q-input
          ref="forgotEmailInputRef"
          v-model="email"
          for="forgotEmailInput"
          :rules="[
            v => !!v || 'Email is required',
            v =>
              !!v.match(/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/) ||
              'Invalid Email Address'
          ]"
          :error-messages="emailErrors"
          label="Email"
          required
          @keyup.enter="validate"
        />
      </q-form>
    </q-card-section>
    <q-card-actions>
      <div class="col q-pa-xs">
        <q-btn
          id="cancelForgotEmailButton"
          color="negative"
          class="full-width"
          @click="closeDialog"
        >
          Cancel
        </q-btn>
      </div>
      <div class="col q-pa-xs">
        <q-btn
          id="submitForgotEmailButton"
          class="full-width"
          color="primary"
          :disabled="!isValid"
          @click="validate"
        >
          Submit
        </q-btn>
      </div>
    </q-card-actions>
  </q-card>
</template>

<script lang="ts" setup>
import { Notify } from 'quasar';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import { computed, ref, watch } from 'vue';
import { useBasicStore } from '../../stores/basicStore';

const emit = defineEmits(['go-to-temp-code-page', 'close-dialog']);

const basicStore = useBasicStore();
const emailErrors = ref<string[]>([]);

const email = ref('');

const forgotEmailInputRef = ref<HTMLInputElement>();

const isValid = computed(() => {
  return (
    !!email.value && email.value.match(/^[\w+.-]+@[\dA-Za-z-]+\.[\d.A-Za-z-]+$/)
  );
});

watch(email, () => {
  emailErrors.value = [];
});

const requestPasswordResetEmail = (): Promise<void> => {
  return basicStore.http
    .get('request-reset-password', { params: { email: email.value } })
    .then(() => {
      email.value = '';
      context.emit('go-to-temp-code-page');
      Notify.create({
        type: 'positive',
        message: 'Request submitted successfully, check your inbox'
      });
    })
    .catch(() => axiosFailed());
};

const closeDialog = (): void => {
  context.emit('close-dialog');
  email.value = '';
};

const validate = (): Promise<void> | null => {
  if (isValid.value) {
    return context.requestPasswordResetEmail();
  }
  return null;
};

defineExpose({
  forgotEmailInputRef
});

const context = {
  requestPasswordResetEmail,
  emit
};
</script>
