<template>
  <q-card
    :square="$q.screen.xs"
    :class="!$q.screen.xs ? 'q-ma-md' : 'full-height'"
    :flat="$q.screen.xs"
  >
    <q-header v-if="$q.screen.xs">
      <q-toolbar
        :style="`background-color: ${headerColor};`"
        :class="`bg-${headerColor} text-white cardHeader`"
      >
        <q-btn
          id="headerMenuButton"
          flat
          round
          dense
          :icon="mdiMenu"
          :aria-hidden="props.dialog || props.persistent"
          :class="props.dialog || props.persistent ? 'hidden-button' : ''"
          :disable="props.dialog || props.persistent"
          @click="basicStore.navDrawer = !basicStore.navDrawer"
        />
        <q-toolbar-title class="cardTitle text-center"
          ><slot name="header-title">{{
            props.cardTitle
          }}</slot></q-toolbar-title
        >
        <slot name="header" />
        <slot name="header-buttons" />
        <q-btn
          id="headerCloseDialogButton"
          flat
          round
          dense
          :icon="mdiClose"
          :aria-hidden="!props.dialog || props.persistent"
          :class="!props.dialog || props.persistent ? 'hidden-button' : ''"
          :disable="!props.dialog || props.persistent"
          @click="emit('close-dialog')"
        />
      </q-toolbar>
    </q-header>
    <q-toolbar
      v-else
      :style="`background-color: ${headerColor};`"
      :class="`bg-${headerColor} text-white cardHeader`"
    >
      <q-btn
        v-if="props.dialog"
        flat
        round
        dense
        aria-hidden
        class="hidden-button"
        disable
      />
      <q-toolbar-title class="cardTitle text-center">
        <slot name="header-title">{{ props.cardTitle }}</slot>
      </q-toolbar-title>
      <slot name="header-buttons" />
      <q-btn
        v-if="props.dialog"
        :id="props.closeButtonId"
        flat
        round
        dense
        :icon="mdiClose"
        :class="closeDialogButtonClass"
        :aria-hidden="!props.dialog || props.persistent"
        :disable="!props.dialog || props.persistent"
        @click="emit('close-dialog')"
      />
    </q-toolbar>
    <div :style="`height: ${$q.screen.xs ? '50' : '0'}px`" />
    <slot />
  </q-card>
</template>

<script lang="ts" setup>
import { mdiClose, mdiMenu } from '@mdi/js';
import { useQuasar } from 'quasar';
import { useBasicStore } from 'src/stores/basicStore';
import { computed } from 'vue';

const $q = useQuasar();

interface Props {
  cardTitle: string;
  dialog?: boolean;
  headerColor?: string;
  persistent?: boolean;
  closeButtonId?: string;
}
const props = withDefaults(defineProps<Props>(), {
  cardTitle: '',
  dialog: true,
  headerColor: 'primary',
  persistent: false,
  closeButtonId: 'closeDialogButton'
});

const closeDialogButtonClass = computed(() => {
  return props.persistent ? 'hidden-button' : '';
});

const emit = defineEmits(['close-dialog']);

const basicStore = useBasicStore();
</script>
<style scoped>
.hidden-button {
  visibility: hidden;
  pointer-events: auto !important;
  cursor: not-allowed !important;
}
</style>
