<template>
  <q-dialog
    :id="props.dialogId"
    :model-value="showDialog"
    :maximized="$q.screen.xs"
    no-route-dismiss
    :persistent="props.persistent"
    @update:model-value="setShowDialog"
  >
    <card-with-header
      ref="cardWithHeaderRef"
      :card-title="cardTitle"
      :header-color="headerColor"
      :style="`max-width: ${props.maxWidth}; min-width: ${props.minWidth}`"
      :persistent="props.persistent"
      :close-button-id="props.closeButtonId"
      @close-dialog="emit('set-dialog', false)"
    >
      <template #header-title>
        <slot name="header-title" />
      </template>
      <template #header-buttons>
        <slot name="header-buttons" />
      </template>
      <slot />
    </card-with-header>
  </q-dialog>
</template>

<script lang="ts" setup>
import { useQuasar } from 'quasar';
import handleDialogHash from 'src/functions/proxy/handleDialogHash';
import { ref, watch } from 'vue';
import { useRouter } from 'vue-router';
import CardWithHeader from './CardWithHeader.vue';

const $q = useQuasar();

interface Props {
  cardTitle: string;
  propShowDialog: boolean;
  dialogHash?: string;
  maxWidth?: string;
  minWidth?: string;
  dialogId?: string;
  headerColor?: string;
  persistent?: boolean;
  closeButtonId?: string;
}
const props = withDefaults(defineProps<Props>(), {
  propShowDialog: false,
  dialogHash: '',
  maxWidth: 'none',
  minWidth: 'none',
  dialogId: 'dialog',
  headerColor: 'primary',
  persistent: false,
  closeButtonId: 'closeDialogButton'
});
const emit = defineEmits(['set-dialog']);
const router = useRouter();

const showDialog = ref(false);

const cardWithHeaderRef = ref();

watch(
  () => props.propShowDialog,
  () => {
    showDialog.value = props.propShowDialog;
  },
  { immediate: true }
);

watch(
  showDialog,
  async () => {
    if (
      showDialog.value &&
      props.dialogHash &&
      !router.currentRoute.value.hash.includes(props.dialogHash)
    ) {
      await router.push(
        `${
          router.currentRoute.value.hash
            ? `${router.currentRoute.value.hash}&`
            : '#'
        }${props.dialogHash}`
      );
    }
    emit('set-dialog', showDialog.value);
  },
  { immediate: true }
);

watch(
  () => router.currentRoute.value.hash,
  (newHash: string) => {
    if (props.dialogHash) {
      showDialog.value = handleDialogHash(newHash, props.dialogHash);
    }
  }
);

const setShowDialog = (newValue: boolean): void => {
  showDialog.value = newValue;
};
</script>
