<template>
  <div class="subcontent">
    <q-toolbar
      :style="`background-color: ${props.calendarColor};`"
      :class="`bg-${props.calendarColor} text-white rounded-toolbar`"
    >
      <div class="col">
        <div class="row">
          <q-toolbar-title id="calendarTitle" shrink>{{
            title
          }}</q-toolbar-title>
          <q-space />
          <q-btn
            id="calendarPreviousButton"
            flat
            dense
            class="q-mr-sm q-ml-sm"
            :icon="mdiChevronLeft"
            @click="previous"
          />
          <q-btn
            id="setTodayButton"
            flat
            dense
            label="Today"
            class="q-mr-sm q-ml-sm"
            @click="goToToday"
          />
          <q-btn
            id="calendarNextButton"
            flat
            dense
            :icon="mdiChevronRight"
            class="q-mr-sm q-ml-sm"
            @click="next"
          />
        </div>
        <div class="row">
          <slot name="nav-bar-extras" />
        </div>
      </div>
    </q-toolbar>
    <q-calendar-month
      ref="calendar"
      :model-value="selectedDate"
      animated
      bordered
      focusable
      hoverable
      no-active-date
      :day-min-height="60"
      :day-height="0"
      @click-day="openEventWindow"
      @change="emitChange"
      @update:model-value="setSelectedDate"
    >
      <template #week="{ scope: { week, weekdays } }">
        <div @click="clickWeek($event, weekdays.length, week)">
          <div
            v-for="(computedEvent, key) in getWeekEvents(week)"
            :key="key"
            :class="badgeClasses(computedEvent)"
            :style="badgeStyles(computedEvent, week.length)"
          >
            <div
              v-if="computedEvent.event"
              class="title q-calendar__ellipsis full-width"
            >
              <q-btn class="event-button ellipsis" size="10px" no-caps>
                {{ computedEvent.event.title }}
              </q-btn>
              <q-popup-proxy>
                <q-banner
                  dense
                  rounded
                  inline-actions
                  :style="`background-color: ${props.calendarColor}`"
                  :class="`text-white text-center full-width bg-${props.calendarColor}`"
                >
                  {{ computedEvent.event.title }}
                  <template #action>
                    <q-btn
                      v-if="
                        computedEvent.event && computedEvent.event.id && isAdmin
                      "
                      size="sm"
                      round
                      class="eventDeleteButton"
                      color="negative"
                      :icon="mdiDelete"
                      @click="deleteEvent(computedEvent.event)"
                    />
                  </template>
                </q-banner>
              </q-popup-proxy>
            </div>
          </div>
        </div>
      </template>
    </q-calendar-month>
    <dialog-card
      dialog-id="createCloseEventDialog"
      :card-title="createNewEventTitle"
      :prop-show-dialog="showCreateCloseEventDialog"
      @set-dialog="setCreateCloseEventDialog"
    >
      <slot
        name="create-event"
        :event-date="selectedCreateEventDate"
        :close-dialog="() => (showCreateCloseEventDialog = false)"
      />
    </dialog-card>
  </div>
</template>

<script setup lang="ts">
import {
  QCalendarMonth,
  daysBetween,
  isOverlappingDates,
  parsed,
  today
} from '@quasar/quasar-ui-qcalendar';
import { indexOf } from '@quasar/quasar-ui-qcalendar/src/index.js';
import formatDateTime from 'src/functions/date/formatDateTime';
import DialogCard from 'src/components/ui/DialogCard.vue';

import { computed, ref, watch } from 'vue';
import { mdiChevronLeft, mdiChevronRight, mdiDelete } from '@mdi/js';
import format from 'date-fns/format';
import add from 'date-fns/add';
import isAdmin from 'src/functions/auth/isAdmin';
import type QCalendarEvent from 'src/types/QCalendarEvent';
import type CalendarEvent from 'src/types/CalendarEvent';
interface Props {
  createEventTitle?: string;
  events: CalendarEvent[];
  calendarColor?: string;
  showCreateEventDialogProp?: boolean;
}
const props = withDefaults(defineProps<Props>(), {
  createEventTitle: 'Create new event on ',
  events: () => [],
  calendarColor: 'primary',
  showCreateEventDialogProp: false
});

const emit = defineEmits(['calendar-change', 'delete-event']);

const calendar = ref<{
  moveToToday: () => void;
  prev: () => void;
  next: () => void;
} | null>(null);

const selectedDate = ref(today());
const selectedCreateEventDate = ref('');
const showCreateCloseEventDialog = ref(false);

const events = computed(() => {
  return props.events.map(event => {
    return {
      id: event.id,
      title: event.name,
      start: event.start,
      end: event.end ?? '',
      bgcolor: event.color,
      timePeriod: event.timePeriod
    };
  });
});

const title = ref('');

const getWeekEvents = (
  week: { date: string }[]
): {
  size: number;
  event?: QCalendarEvent;
}[] => {
  const firstDay = parsed(`${week[0].date} 00:00`);
  const lastDay = parsed(`${week[week.length - 1].date} 23:59`);
  const eventsWeek: {
    id: number;
    left: number;
    right: number;
    size: number;
    event: QCalendarEvent;
  }[] = [];
  events.value.forEach((event, id) => {
    const startDate = parsed(format(new Date(event.start), 'yyyy-MM-dd hh:mm'));
    let endDate = null;
    if (event.timePeriod) {
      endDate = parsed(
        format(
          add(new Date(event.start), {
            days: (event.timePeriod - 86400) / 86400
          }),
          'yyyy-MM-dd hh:mm'
        )
      );
    }
    if (
      startDate &&
      endDate &&
      firstDay &&
      lastDay &&
      isOverlappingDates(startDate, endDate, firstDay, lastDay)
    ) {
      const left = daysBetween(firstDay, startDate);
      const right = daysBetween(endDate, lastDay);
      eventsWeek.push({
        id, // index event
        left, // Position initial day [0-6]
        right, // Number days available
        size: week.length - (left + right), // Size current event (in days)
        event // Info
      });
    }
  });
  const newEvents: { size: number; event?: QCalendarEvent }[] = [];
  if (eventsWeek.length > 0) {
    const infoWeek = [...eventsWeek].sort((a, b) => a.left - b.left);
    infoWeek.forEach((_, i) => {
      insertEvent(newEvents, week.length, infoWeek, i, 0, 0);
    });
  }
  return newEvents;
};

const createNewEventTitle = computed(() => {
  return `${props.createEventTitle} ${formatDateTime(
    selectedCreateEventDate.value,
    false,
    false
  )}`;
});

const insertEvent = (
  selectedEvents: { size: number; event?: QCalendarEvent }[],
  weekLength: number,
  infoWeek: { id: number; left: number; size: number; event: QCalendarEvent }[],
  index: number,
  availableDays: number,
  level: number
): void => {
  const iEvent = infoWeek[index];
  if (index in infoWeek && iEvent.left >= availableDays) {
    // If you have space available, more events are placed
    if (iEvent.left - availableDays) {
      // It is filled with empty events
      selectedEvents.push({ size: iEvent.left - availableDays });
    }
    // The event is built
    selectedEvents.push({ size: iEvent.size, event: iEvent.event });
    if (level !== 0) {
      // If it goes into recursion, then the item is deleted
      infoWeek.splice(index, 1);
    }
    const currentAvailableDays = iEvent.left + iEvent.size;
    if (currentAvailableDays < weekLength) {
      const indexNextEvent: number = indexOf(
        infoWeek,
        (event: { left: number; id: number }) =>
          event.id !== iEvent.id && event.left >= currentAvailableDays
      );
      insertEvent(
        selectedEvents,
        weekLength,
        infoWeek,
        indexNextEvent !== -1 ? indexNextEvent : index,
        currentAvailableDays,
        level + 1
      );
    } // else: There are no more days available, end of iteration
  } else {
    selectedEvents.push({ size: weekLength - availableDays });
    // end of iteration
  }
};

const badgeClasses = (computedEvent: {
  event?: { bgcolor: string };
}):
  | { 'my-void-event': boolean }
  | {
      [x: string]: boolean;
      'my-event': boolean;
      'text-white': boolean;
      'rounded-border': boolean;
      'q-calendar__ellipsis': boolean;
    } => {
  if (computedEvent.event !== undefined) {
    return {
      'my-event': true,
      'text-white': true,
      [`bg-${computedEvent.event.bgcolor}`]: true,
      'rounded-border': true,
      'q-calendar__ellipsis': true
    };
  }
  return {
    'my-void-event': true
  };
};

const badgeStyles = (
  computedEvent: {
    event?: { bgcolor: string };
    size?: number;
  },
  weekLength: number
): { width?: string } => {
  const style: { width?: string; 'background-color'?: string } = {};
  if (computedEvent.event) {
    style['background-color'] = computedEvent.event.bgcolor;
  }
  if (computedEvent.size !== undefined) {
    style.width = `${(100 / weekLength) * computedEvent.size}%`;
  }
  return style;
};

const openEventWindow = (data: {
  scope: { timestamp: { date: string } };
}): void => {
  openNewEvent(data.scope.timestamp.date);
};

const clickWeek = (
  payload: MouseEvent,
  weekSize: number,
  week: { date: string }[]
): void => {
  // Get the clicked position on the week div.
  // Use it to calculate which day of week was
  // selected.
  // Use selected day of week to pass date to
  // openNewEvent.

  const mouseEvent = payload as unknown as {
    target: HTMLDivElement;
    layerX: number;
  };
  const target = mouseEvent.target;
  if (
    !target.className ||
    !['event-button', 'q-btn__content', 'title'].some(className =>
      target.className.includes(className)
    )
  ) {
    const dayWidth = target.clientWidth / weekSize;
    const dayPosition = Math.floor(mouseEvent.layerX / dayWidth);
    openNewEvent(week[dayPosition].date);
  }
};

const openNewEvent = (date: string): void => {
  if (isAdmin.value) {
    selectedCreateEventDate.value = date;
    showCreateCloseEventDialog.value = true;
  }
};

const setCreateCloseEventDialog = (newValue: boolean): void => {
  showCreateCloseEventDialog.value = newValue;
};

const emitChange = ({ start, end }: { start: string; end: string }): void => {
  const startDate = add(new Date(start), { days: 7 });
  title.value = format(startDate, 'MMMM yyyy');
  context.emit('calendar-change', { newStart: start, newEnd: end });
};

const goToToday = (): void => {
  if (calendar.value) {
    calendar.value.moveToToday();
  }
};

const previous = (): void => {
  if (calendar.value) {
    calendar.value.prev();
  }
};

const next = (): void => {
  if (calendar.value) {
    calendar.value.next();
  }
};

watch(
  () => props.showCreateEventDialogProp,
  () => {
    showCreateCloseEventDialog.value = props.showCreateEventDialogProp;
  },
  { immediate: true }
);

const deleteEvent = (event?: QCalendarEvent | undefined): void => {
  if (event?.id) {
    context.emit('delete-event', event.id);
  }
};

const setSelectedDate = (newDate: string): void => {
  selectedDate.value = newDate;
};

const context = {
  emit
};
</script>

<style lang="sass" scoped>
.my-event
  position: relative
  display: inline-flex
  white-space: nowrap
  font-size: 12px
  height: 16px
  max-height: 16px
  margin: 1px 0 0 0
  justify-content: center
  text-overflow: ellipsis
  overflow: hidden
  cursor: pointer
.title
  position: relative
  display: flex
  justify-content: center
  align-items: center
  height: 100%
.my-void-event
  display: inline-flex
  white-space: nowrap
  height: 0px
.rounded-border
  border-radius: 4px
.rounded-toolbar
  border-radius: 8px 8px 0px 0px
</style>
