<template>
  <div>
    <q-resize-observer debounce="200" @resize="onTableContainerResize" />
    <q-table
      :id="props.tableId"
      grid-header
      :grid="makeTableGrid"
      :columns="props.headers"
      :rows="props.rows"
      row-key="name"
      table-style="overflow-y:hidden"
      :no-data-label="props.noDataLabel"
      flat
      :no-results-label="props.noResultsLabel"
      :pagination="pagination"
      :sort-method="props.sortMethod"
      :filter="props.filter"
      wrap-cells
      :loading="props.loading"
      :loading-label="props.loadingLabel"
    >
      <template #header="headerProps">
        <q-tr auto-width :props="headerProps">
          <div v-if="makeTableGrid">
            <q-expansion-item
              class="tableHeaderExpander"
              expand-separator
              label="Sort"
            >
              <q-item v-for="col in headerProps.cols" :key="col.name" clickable>
                <q-item-section>
                  <q-th
                    :id="`header-${col.name}`"
                    :key="col.name"
                    :props="headerProps"
                    class="responsiveTableHeader"
                  >
                    {{ col.label }}
                  </q-th>
                </q-item-section>
              </q-item>
            </q-expansion-item>
          </div>
          <q-th
            v-for="col in headerProps.cols"
            v-else
            :id="`header-${col.name}`"
            :key="col.name"
            style="min-width: 150px"
            auto-width
            :props="headerProps"
            class="responsiveTableHeader"
          >
            {{ col.label }}
          </q-th>
        </q-tr>
      </template>
      <template #body="tableProps">
        <q-tr
          :v-ripple="enableRowClickRipple"
          :props="tableProps"
          :class="`${
            enableRowClickRipple ? 'q-hoverable cursor-pointer' : ''
          } responsiveTableRow`"
          @click="rowClicked(tableProps.row)"
        >
          <q-td
            v-for="header in headers"
            :key="header.name"
            auto-width
            :props="tableProps"
            :class="`td-${header.name} text-${header.align}`"
            style="min-width: 100px"
          >
            <slot :name="header.name" :cell-data="tableProps.row">
              {{ tableProps.row[header.name] }}
            </slot>
            <slot :name="`${header.name}-edit`" :cell-data="tableProps.row" />
          </q-td>
        </q-tr>
      </template>

      <template #item="gridProps">
        <div class="q-pa-xs col-xs-12">
          <q-card
            bordered
            :v-ripple="enableRowClickRipple"
            :class="`${
              enableRowClickRipple ? 'q-hoverable cursor-pointer' : ''
            } responsiveTableGridCard 
            q-mt-xs q-mb-xs`"
            @click="rowClicked(gridProps.row)"
          >
            <q-list>
              <q-item
                v-for="col in gridProps.cols"
                :key="col.name"
                class="grid-data-row"
              >
                <div class="col vertical-middle">
                  <q-item-section style="height: 100%">
                    <q-item-label
                      :class="`grid-header data-header-${col.name}`"
                      >{{ col.label }}</q-item-label
                    >
                  </q-item-section>
                </div>
                <div class="col vertical-middle">
                  <q-item-section style="height: 100%" side>
                    <q-item-label
                      style="width: 100%"
                      caption
                      :class="`grid-data-cell data-cell-${col.name}`"
                    >
                      <slot :name="col.name" :cell-data="gridProps.row"
                        >{{ gridProps.row[col.name] }}
                      </slot>
                      <slot
                        :name="`${col.name}-edit`"
                        :cell-data="gridProps.row"
                      />
                    </q-item-label>
                  </q-item-section>
                </div>
              </q-item>
            </q-list>
          </q-card>
        </div>
      </template>

      <template v-if="props.title" #top>
        <div class="col-12 q-mb-sm q-table__title text-center">{{ title }}</div>
        <slot name="top-extras" />
      </template>
    </q-table>
  </div>
</template>

<script lang="ts" setup>
import { ref, watch } from 'vue';
import { useQuasar } from 'quasar';
import type ResponsiveTableHeader from 'src/types/ResponsiveTableHeader';
import type CarePlanAggregate from 'src/types/CarePlanAggregate';
import type ReadableAbsenceRecord from 'src/types/ReadableAbsenceRecord';
import type CarePlan from 'src/types/CarePlan';
import type DocumentUpload from 'src/types/DocumentUpload';
import type ClientDocument from 'src/types/ClientDocument';
import type Medication from 'src/types/Medication';
import type NextOfKin from 'src/types/NextOfKin';
import type Client from 'src/types/Client';
import type Need from 'src/types/Need';
import type Policy from 'src/types/Policy';
import type AbsenceRecord from 'src/types/AbsenceRecord';

const tableContainerWidth = ref(0);

type userRows = {
  displayName: string;
  username: string | null;
  email: string;
  group: string;
  centres: number;
  isActive: boolean;
}[];

type clientSizeTableRows = {
  id: number | null;
  firstName: string;
  surname: string;
  storageSize: number;
  formattedStorageSize: string;
}[];

type clientNeedRows = {
  id: number;
  need: string;
  plan: string;
}[];

type centresTableRows = {
  id: number;
  name: string;
  isSubscribed: boolean | undefined;
}[];

type addDocumentRows = {
  name: string;
  originalFileName: string;
  size: number;
  document: DocumentUpload;
}[];

interface Props {
  headers: ResponsiveTableHeader[];
  rows:
    | userRows
    | clientSizeTableRows
    | centresTableRows
    | Policy[]
    | Need[]
    | Client[]
    | NextOfKin[]
    | Medication[]
    | clientNeedRows
    | ClientDocument[]
    | addDocumentRows
    | ReadableAbsenceRecord[]
    | CarePlanAggregate[];
  tableId: string;
  title?: string;
  noDataLabel?: string;
  noResultsLabel?: string;
  defaultSort?: string;
  defaultSortDecending?: boolean;
  enableRowClickRipple?: boolean;
  sortMethod?:
    | ((
        items: readonly Client[],
        sortBy: string,
        isDesc: boolean
      ) => readonly Client[])
    | ((
        items: readonly CarePlan[],
        sortBy: string,
        isDesc: boolean
      ) => readonly CarePlan[])
    | ((
        items: readonly AbsenceRecord[],
        sortBy: string,
        isDesc: boolean
      ) => readonly AbsenceRecord[]);
  filter?: string;
  loading?: boolean;
  loadingLabel?: string;
}
const props = withDefaults(defineProps<Props>(), {
  headers: () => [],
  rows: () => [],
  tableId: '',
  title: '',
  noDataLabel: 'No results found',
  noResultsLabel: 'No matching results found',
  defaultSort: '',
  defaultSortDecending: false,
  enableRowClickRipple: true,
  sortMethod: undefined,
  filter: '',
  loading: false,
  loadingLabel: 'Loading...'
});
const emit = defineEmits(['row-clicked']);
const $q = useQuasar();

const pagination = {
  sortBy: props.defaultSort, //string column name
  descending: props.defaultSortDecending,
  rowsPerPage: 10
};

const rowClicked = (row: { id: string }): void =>
  context.emit('row-clicked', row);

const onTableContainerResize = (newSize: { width: number }): void => {
  tableContainerWidth.value = newSize.width;
};

const makeTableGrid = ref(false);

watch(
  [(): boolean => $q.screen.lt.md, tableContainerWidth],
  () => {
    if ($q.screen.lt.md) {
      makeTableGrid.value = true;
    } else if (makeTableGrid.value) {
      makeTableGrid.value =
        tableContainerWidth.value < props.headers.length * 200;
    } else {
      makeTableGrid.value =
        tableContainerWidth.value < props.headers.length * 150;
    }
  },
  { immediate: true }
);

const context = { emit };
</script>
<style scoped>
.scroll {
  overflow: hidden;
}
</style>
