<template>
  <q-tooltip>
    {{ props.tooltipText }}
  </q-tooltip>
</template>
<script lang="ts" setup>
interface Props {
  tooltipText: string;
}
const props = withDefaults(defineProps<Props>(), {
  tooltipText: ''
});
</script>
