<template>
  <topBar />
  <q-dialog :model-value="linuxDistroSelectDialog" width="unset">
    <q-card>
      <q-card-section class="bg-primary text-white">
        <div class="text-h6 text-center">Select Your Distro</div>
      </q-card-section>
      <q-card-section>
        <q-btn-group id="distroSelectButtons" color="primary">
          <q-btn
            id="debFileSelectButton"
            class="ma-4"
            @click="setSelectedDistro('deb')"
            >Ubuntu, Debian, Pop!, Mint (.deb)</q-btn
          >
          <q-btn
            id="rpmFileSelectButton"
            class="ma-4"
            @click="setSelectedDistro('rpm')"
            >Fedora, CentOS, RHEL (.rpm)</q-btn
          >
          <q-btn
            id="archFileSelectButton"
            class="ma-4"
            @click="setSelectedDistro('pacman')"
            >Arch, Manjaro (.pacman)</q-btn
          >
        </q-btn-group>
      </q-card-section>
    </q-card>
  </q-dialog>
  <router-view />
</template>

<script lang="ts" setup>
import axios from 'axios';
import { computed, ref, watch } from 'vue';
import fileDownload from 'js-file-download';
import { useBasicStore } from 'src/stores/basicStore';
import { useSocketStore } from 'src/stores/websocketStore';
import { useRoute, useRouter } from 'vue-router';
import { Notify, setCssVar, useQuasar } from 'quasar';
import { gt } from 'lodash';
import topBar from 'src/layouts/TopBar.vue';
import http from 'src/functions/backend/http';
import { useUserStore } from './stores/userStore';
import logout from './functions/auth/logout';
import { useCentreStore } from './stores/centresStore';

import axiosFailed from './functions/proxy/AxiosFailed';
import { appUrlListener } from './functions/app/appUrlListener';
import isClient from './functions/auth/isClient';
import { useClientStore } from './stores/clientsStore';
import getUsers from './functions/proxy/getUsers';
import getClients from './functions/proxy/getClients';
import type AppDownloadResponse from './types/axios/AppDownloadResponse';
import type { AxiosProgressEvent, AxiosResponse } from 'axios';
import type { NavigationFailure } from 'vue-router';
import type ReleasesResponse from './types/axios/ReleasesResponse';

const basicStore = useBasicStore();
const wsStore = useSocketStore();
const userStore = useUserStore();
const centreStore = useCentreStore();
const clientStore = useClientStore();

const router = useRouter();
const route = useRoute();
const $q = useQuasar();

const connection = axios;

const linuxDistroSelectDialog = ref(false);

const appDownloadUrl = ref('');

const appFileExtension = ref('');

const appReleaseLinks = ref<{ name: string; url: string }[]>([]);

const currentReleaseVersion = ref('');

const isActive = computed(() => {
  return userStore.user.isActive;
});

const activeClient = computed(() => {
  return clientStore.activeClient;
});

const darkTheme = computed(() => {
  return userStore.user.darkTheme;
});

const accentColor = computed(() => {
  return userStore.user.accentColor;
});

const centres = computed(() => {
  return userStore.user.centres;
});

const appServerAddress = computed(() => {
  return basicStore.appServerAddress;
});

const isElectron = computed(() => basicStore.platform.electron);

const isWindows = computed(() => basicStore.platform.win);

watch(isActive, async () => {
  if (!isActive.value && userStore.user.id !== null) {
    await context.logout(router);
    Notify.create({
      type: 'info',
      message: 'An admin has disabled your account'
    });
  }
});

watch(activeClient, async () => {
  if (isClient.value && !activeClient.value) {
    await context.logout(router);
    Notify.create({
      type: 'info',
      message: 'An admin has deleted your account'
    });
  }
});

const updateUserTheme = (): void => {
  if (darkTheme.value !== null) {
    $q.dark.set(darkTheme.value);
  }
};

const updateUserAccentColor = (): void => {
  if (accentColor.value) {
    setCssVar('primary', accentColor.value);
  } else {
    setCssVar('primary', '#1976D2');
  }
};

const goToCentreSelect = (): Promise<void | NavigationFailure | undefined> => {
  Notify.create({
    type: 'info',
    message:
      'Your only subscribed centre was removed, please select new centres to subscribe to'
  });
  return router.push({
    name: 'centreSelect',
    query: {
      nextUrl: route.fullPath
    }
  });
};

const changeSubscription = (): Promise<void | AxiosResponse> => {
  Notify.create({
    type: 'info',
    message:
      `Your only subscribed centre was removed, ` +
      `you were auto subscribed to ${
        centreStore.centres[Object.keys(centreStore.centres)[0]].name
      }`
  });

  return basicStore.http
    .post(`users/centres/update/`, {
      centre: centreStore.centres[Object.keys(centreStore.centres)[0]].id,
      user: userStore.user.id
    })
    .catch(() => axiosFailed());
};

watch(
  centres,
  async (
    newCentres: number[] | undefined,
    previousCentres: number[] | undefined
  ) => {
    if (
      newCentres &&
      (!previousCentres || newCentres.length !== previousCentres.length) &&
      newCentres.length === 0 &&
      userStore.user.id
    ) {
      if (Object.keys(centreStore.centres).length > 1) {
        await context.goToCentreSelect();
      }
      if (
        Object.keys(centreStore.centres).length === 1 &&
        JSON.stringify(newCentres) !== JSON.stringify(previousCentres) &&
        userStore.user.group === 'admin'
      ) {
        await context.changeSubscription();
      }
    }
  }
);

watch(darkTheme, () => {
  updateUserTheme();
});

watch(accentColor, () => {
  updateUserAccentColor();
});

const getAppReleases = (): Promise<void> => {
  return connection
    .get('https://gitlab.com/api/v4/projects/16681524/releases', {
      headers: {
        Accept: '*/*'
      }
    })
    .then((response: ReleasesResponse) => {
      const receivedReleaseVersion = response.data[0].tag_name;
      const appVersion = basicStore.clientVersion;
      if (appVersion && gt(receivedReleaseVersion, appVersion)) {
        Notify.create({
          type: 'info',
          message: 'A new version of this app is available!',
          actions: [
            {
              label: 'Download',
              color: 'white',
              handler: (): void => {
                context
                  .checkAppType(response)
                  .catch((err: Error) => console.error(err));
              }
            }
          ]
        });
      }
    })
    .catch(() => {
      Notify.create({
        type: 'negative',
        message: 'Failed to check for app updates'
      });
    });
};

const checkAppType = async (releaseInfo: ReleasesResponse): Promise<void> => {
  currentReleaseVersion.value = releaseInfo.data[0].tag_name;
  appReleaseLinks.value = releaseInfo.data[0].assets.links;
  if (isWindows.value) {
    appFileExtension.value = 'exe';
    setAppDownloadUrl();
    if (appDownloadUrl.value) {
      await downloadNewAppVersion();
    }
  } else {
    linuxDistroSelectDialog.value = true;
  }
};

const downloadNewAppVersion = (): Promise<void> => {
  basicStore.topBar = {
    text: 'Downloading new app version',
    color: 'info',
    active: true,
    indeterminate: false,
    value: 0
  };
  return connection
    .get(appDownloadUrl.value, {
      responseType: 'blob',
      headers: {
        Accept: '*/*'
      },
      onDownloadProgress: (progressEvent: AxiosProgressEvent) =>
        context.setAppDownloadProgress(progressEvent)
    })
    .then((response: AppDownloadResponse) => {
      Notify.create({
        type: 'positive',
        message: 'Update downloaded, please run the downloaded file'
      });
      fileDownload(
        response.data,
        `yapca-${currentReleaseVersion.value}.${appFileExtension.value}`
      );
      basicStore.topBar.active = false;
    })
    .catch(() => {
      context.axiosFailed();
    });
};

watch(
  appServerAddress,
  () => {
    basicStore.http = http(appServerAddress.value);
  },
  { immediate: true }
);

const setAppDownloadUrl = (): void => {
  const downloadObject = appReleaseLinks.value.find(
    link =>
      link.url.includes(`.${appFileExtension.value}`) &&
      !link.url.includes(`.${appFileExtension.value}.sha`)
  );
  if (downloadObject) {
    appDownloadUrl.value = downloadObject.url;
  }
};

const setSelectedDistro = async (fileExtension: string): Promise<void> => {
  appFileExtension.value = fileExtension;
  linuxDistroSelectDialog.value = false;
  setAppDownloadUrl();
  if (appDownloadUrl.value) {
    await downloadNewAppVersion();
  }
};

updateUserAccentColor();

const created = (): void => {
  if (router.currentRoute.value.name !== 'serverSelect') {
    wsStore.WS_RECONNECT(basicStore.appServerAddress, basicStore.token);
  }
  if (basicStore.token) {
    (
      basicStore.http.defaults.headers as { common: { Authorization: string } }
    ).common.Authorization = `Token ${basicStore.token}`;
  }
  context.updateUserTheme();
  context.updateUserAccentColor();
};

const setAppDownloadProgress = (progressEvent: AxiosProgressEvent): void => {
  if (progressEvent.total !== undefined) {
    const percentCompleted = Math.round(
      (progressEvent.loaded * 100) / progressEvent.total
    );
    basicStore.topBar.value = percentCompleted / 100;
  }
};

watch(isElectron, async () => {
  if (isElectron.value) {
    await context.getAppReleases();
  }
});

const getUserClientData = async (): Promise<void> => {
  if (basicStore.token && !basicStore.backendDataLoaded) {
    const httpDefaults = basicStore.http.defaults as {
      headers: { common: { Authorization: string } };
    };
    httpDefaults.headers.common.Authorization = `Token ${basicStore.token}`;
    await Promise.all([getClients(), getUsers()]);
    if (userStore.user.group === 'client') {
      clientStore.activeClient = Object.keys(clientStore.clients).map(
        clientKey => {
          return {
            ...clientStore.clients[clientKey]
          };
        }
      )[0];
      userStore.user.centres = clientStore.activeClient.centres;
    }
    basicStore.backendDataLoaded = true;
  }
};

watch(() => basicStore.token, getUserClientData);

const context = {
  changeSubscription,
  goToCentreSelect,
  updateUserTheme,
  updateUserAccentColor,
  checkAppType,
  setAppDownloadProgress,
  getAppReleases,
  logout,
  axiosFailed,
  router
};

created();
appUrlListener(router);
</script>

<style lang="scss">
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.4);
  border-radius: 10px;
}
.q-card--dark {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12);
}
.q-menu--dark {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12);
}
</style>
