<template>
  <div>
    <div id="colorInput" class="row">
      <div
        v-for="color in colors"
        :key="color"
        class="col-xs-3 col-md-2 q-pa-sm flex"
      >
        <q-btn
          round
          toggle-color="primary"
          class="q-mx-auto accentSelectButton"
          size="md"
          :disable="props.disabled"
          :icon="selectedColor === color ? mdiCheck : ''"
          :style="`background-color: ${color}`"
          @click="updateColor(color)"
        />
      </div>
    </div>

    <dialog-card
      card-title="This colour isn't unique"
      :prop-show-dialog="centreMatchesColorDialog"
      dialog-id="centreMatchingColorDialog"
      @set-dialog="setCentreMatchesColorDialog"
    >
      <centre-matching-color-dialog
        :centres="conflictingCentres"
        @update="updateColorFromDialog"
        @close-dialog="centreMatchesColorDialog = false"
      />
    </dialog-card>
  </div>
</template>

<script lang="ts" setup>
import CentreMatchingColorDialog from 'src/components/centres/CentreMatchingColorDialog.vue';
import { ref, watch } from 'vue';
import { useCentreStore } from 'src/stores/centresStore';
import DialogCard from 'src/components/ui/DialogCard.vue';

import { mdiCheck } from '@mdi/js';
const centresStore = useCentreStore();

const emit = defineEmits(['update-color']);

interface Props {
  centres?: string[];
  propColor?: string;
  disabled?: boolean;
  checkConflictingCentres?: boolean;
}
const props = withDefaults(defineProps<Props>(), {
  centres: () => [],
  propColor: '',
  disabled: false,
  checkConflictingCentres: false
});

const conflictingCentres = ref<string[]>([]);

const selectedColor = ref('');

const conflictColor = ref('');

const centreMatchesColorDialog = ref(false);

const colors = [
  '#1976D2',
  '#D32F2F',
  '#C2185B',
  '#7B1FA2',
  '#512DA8',
  '#303F9F',
  '#0288D1',
  '#0097A7',
  '#00796B',
  '#388E3C',
  '#689F38',
  '#AFB42B',
  '#F57C00',
  '#E64A19',
  '#5D4037',
  '#616161',
  '#455A64',
  '#EF9A9A',
  '#F48FB1',
  '#CE93D8',
  '#B39DDB',
  '#9FA8DA',
  '#A5D6A7',
  '#FFAB91',
  '#BCAAA4',
  '#B0BEC5'
];

watch(
  () => props.propColor,
  (propColor: string) => {
    selectedColor.value = propColor;
  },
  { immediate: true }
);

const updateColorFromDialog = (): void => {
  centreMatchesColorDialog.value = false;
  selectedColor.value = conflictColor.value;
  context.emit('update-color', conflictColor.value);
};

const updateColor = (color: string): void => {
  selectedColor.value = color;
  getConflictingCentres(color);
  if (conflictingCentres.value.length > 0) {
    conflictColor.value = color;
    centreMatchesColorDialog.value = true;
    selectedColor.value = props.propColor;
  } else {
    context.emit('update-color', color);
  }
};

const getConflictingCentres = (color: string): void => {
  const newConflictingCentres: string[] = [];
  if (props.checkConflictingCentres) {
    // Get a list of centres that already have this color set
    Object.keys(centresStore.centres).forEach((centreKey: string) => {
      if (centresStore.centres[centreKey].color === color) {
        newConflictingCentres.push(centresStore.centres[centreKey].name);
      }
    });
  }
  conflictingCentres.value = newConflictingCentres;
};

const setCentreMatchesColorDialog = (newValue: boolean): void => {
  centreMatchesColorDialog.value = newValue;
};

const context = {
  emit
};
</script>
<style>
#accentColorInput .q-color-picker__cube {
  width: 25% !important;
}
</style>
