<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Email Successfully Changed</title>
</head>

<body>
    <p>Hello {{ displayName }}!</p>
    <p>Your YAPCA email address has been changed to this address.</p>
    <p>All future emails will be sent to this address.</p>
    </br>
    {% include "email/footer/footer.html" %}
</body>

</html>