<template>
  <q-card-section v-if="centre">
    <p id="clientVisitingDetailText">{{ detailText }}</p>
    <q-markup-table>
      <tbody>
        <tr
          v-for="client in clients"
          :key="client"
          class="clientVisitingToday"
          @click="openClientDialog(client)"
        >
          <td class="text-center manualClientList">
            {{ clientStore.clients[client].firstName }}
            {{ clientStore.clients[client].surname }}
          </td>
        </tr>
      </tbody>
    </q-markup-table>
  </q-card-section>

  <dialog-card
    v-if="selectedClientId && clientStore.clients[selectedClientId]"
    dialog-id="clientDialog"
    :card-title="`${clientStore.clients[selectedClientId].firstName} ${clientStore.clients[selectedClientId].surname}`"
    :prop-show-dialog="showClientDialog"
    min-width="90%"
    :header-color="selectedClientHeaderColor"
    dialog-hash="client-dialog"
    @set-dialog="setClientDialog"
  >
    <template #header-buttons>
      <client-card-header-buttons :client-id="selectedClientId" />
    </template>
    <client-dialog
      :client-id="selectedClientId"
      @close-dialog="showClientDialog = false"
    />
  </dialog-card>
</template>

<script lang="ts" setup>
import ClientDialog from 'src/components/clients/ClientDialog.vue';
import ClientCardHeaderButtons from 'src/components/clients/ClientCardHeaderButtons.vue';
import isClient from 'src/functions/auth/isClient';
import { computed, ref } from 'vue';
import { useClientStore } from 'src/stores/clientsStore';
import { useCentreStore } from 'src/stores/centresStore';
import { format, isPast } from 'date-fns';
import DialogCard from 'src/components/ui/DialogCard.vue';

const props = withDefaults(
  defineProps<{
    clients: number[];
    centreId: number;
    date: Date;
  }>(),
  {
    clients: () => [],
    centreId: undefined,
    date: undefined
  }
);

const clientStore = useClientStore();
const centreStore = useCentreStore();

const selectedClientId = ref<number | null>(null);
const showClientDialog = ref(false);

const openClientDialog = (clientId: number): void => {
  if (!isClient.value) {
    selectedClientId.value = clientId;
    setClientDialog(true);
  }
};

const setClientDialog = (newValue: boolean): void => {
  showClientDialog.value = newValue;
};

const selectedClientHeaderColor = computed(() => {
  if (
    selectedClientId.value &&
    selectedClientId.value in clientStore.clients &&
    clientStore.clients[selectedClientId.value].isActive
  ) {
    return 'primary';
  }
  return 'grey';
});

const detailText = computed(() => {
  const dateIsPast = isPast(props.date);
  const oneClient = props.clients.length === 1;
  let presentOrPast = '';
  if (oneClient) {
    presentOrPast = dateIsPast ? 'was' : 'is';
  } else {
    presentOrPast = dateIsPast ? 'were' : 'are';
  }
  const clientPlural = oneClient ? 'client' : 'clients';
  const centreName = centreStore.centres[props.centreId].name;
  return `${
    props.clients.length
  } ${clientPlural} ${presentOrPast} scheduled to visit ${centreName} on ${format(
    props.date,
    'MMMM do'
  )}`;
});
const centre = computed(() => {
  if (props.centreId && props.centreId in centreStore.centres) {
    return centreStore.centres[props.centreId];
  }
  return null;
});
</script>
